dl{
margin: 0px;
}


/* Dropdown 1 */
.dropdown-checkbox dd, .dropdown-checkbox dt {
    margin:0px;
    padding:0px;
}
.dropdown-checkbox ul {
    margin: 0px 0 0 0;
}
.dropdown-checkbox dd {
    position:relative;
	z-index: 99999;
}
.dropdown-checkbox a, 
.dropdown-checkbox a:visited {
    margin: 0px;
    text-decoration:none;
    outline:none;
    font-size: 11px;
	font-family: "Lucida Grande","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
		
}
.dropdown-checkbox dt a {
    display:block;
    padding-top: 7px;
	padding-left: 5px;
	padding-bottom: 0px;
	padding-right: 0px;
	border: 1px solid #ccc;
    overflow: hidden;
    width:107px;
	color: #333;
	font-weight: 400;
	border-radius: 2px;
	height: auto;
	line-height: 2px;
	/*background: #fff url("../images/select.png") no-repeat 90% 50%;*/
}
/*
.dropdown-checkbox .hida{
	background: #fff url("../images/select.png") no-repeat 90% 50%;
}
*/

.dropdown-checkbox dt a:focus{
	background: none;
}

.dropdown-checkbox dt a span, .multiSel-checkbox span {
    cursor:pointer;
    display:inline-block;
    /*padding: 0 3px 2px 0;*/
	line-height: 12px;
}
.dropdown-checkbox dd ul {
    background-color: #fff;
    border:1px solid #ccc;
    color:#333;
    display:none;
    left:0px;
    padding: 2px 15px 2px 5px;
    position:absolute;
    top:2px;
    width:550px;
    list-style:none;
    height: auto;
    overflow: auto;
}

.other-cities{
	margin-top: 0px;
}

.other-cities-hide{
	display: inline;
}

.hida-right-sign{
	float: right; 
	padding: 2px 9px 0 0;
}

@media (max-width: 980px) {
	.dropdown-checkbox dt a {
		width: 93px;
	}
	
	.dropdown-checkbox a, 
	.dropdown-checkbox a:visited {
		font-size: 9px;
	}
	
	.hida-right-sign{
		float: right; 
		padding: 2px 8px 0 0;
	}
	
}




@media (max-width: 767px) {
	.dropdown-checkbox dd ul {
		width: 100%;
		max-height: 243px;
		overflow: scroll;
	}
	.other-cities{
		margin-top: 20px;
	}
	.other-cities-hide{
		display: none;
	}
	
	.dropdown-checkbox dt a {
		/*width: 110px;*/
		width: 255px;
	}
	.dropdown-checkbox a, 
	.dropdown-checkbox a:visited {
		font-size: 11px;
	}
}

@media (max-width: 750px) {
	.dropdown-checkbox dt a {
		/*width: 110px;*/
		width: 95%;
	}
	.dropdown-checkbox a, 
	.dropdown-checkbox a:visited {
		font-size: 11px;
	}
	
	.hida-right-sign{
		padding-right: 10%;
	}
}

@media (max-width: 360px) {
	.dropdown-checkbox dt a {
		/*width: 110px;*/
		width: 155px;
	}
	
	.hida-right-sign{
		padding: 2px 15px 0 0;
	}
}

@media (max-width: 320px) {
	.dropdown-checkbox dt a {
		/*width: 110px;*/
		width: 130px;
	}
}


.dropdown-checkbox span.value-checkbox {
    display:none;
}
.dropdown-checkbox dd ul li a {
    padding:5px;
    display:block;
}
.dropdown-checkbox dd ul li a:hover {
    background-color:#fff;
}





/* Dropdown 2 */
.dropdown-checkbox2 dd, .dropdown-checkbox2 dt {
    margin:0px;
    padding:0px;
}
.dropdown-checkbox2 ul {
    margin: 0px 0 0 0;
}
.dropdown-checkbox2 dd {
    position:relative;
	z-index: 99999;
}
.dropdown-checkbox2 a, 
.dropdown-checkbox2 a:visited {
    margin: 0px;
    text-decoration:none;
    outline:none;
    font-size: 11px;
	font-family: "Lucida Grande","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
		
}
.dropdown-checkbox2 dt a {
    display:block;
    padding-top: 7px;
	padding-left: 5px;
	padding-bottom: 0px;
	border: 1px solid #ccc;
	/*border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-right: none;*/
    overflow: hidden;
    width:107px;
    
	color: #333;
	font-weight: 400;
	border-radius: 2px;
	height: auto;
	line-height: 2px;
	/*background: #fff url("../images/select.png") no-repeat 90% 50%;*/
}



.dropdown-checkbox2 dt a:focus{
	background: none;
}

.dropdown-checkbox2 dt a span, .multiSel-checkbox2 span {
    cursor:pointer;
    display:inline-block;
    /*padding: 0 3px 2px 0;*/
	line-height: 12px;
}
.dropdown-checkbox2 dd ul {
    background-color: #fff;
    border:1px solid #ccc;
    color:#333;
    display:none;
    left:0px;
    padding: 2px 15px 2px 5px;
    position:absolute;
    top:2px;
    width:200px;
    list-style:none;
    height: auto;
    overflow: auto;
}




@media (max-width: 980px) {
	.dropdown-checkbox2 dt a {
		width: 93px;
	}
	.dropdown-checkbox2 a, 
	.dropdown-checkbox2 a:visited {
		font-size: 9px;
	}
}


@media (max-width: 767px) {
	.dropdown-checkbox2 dd ul {
		width: 100%;
	}
	
	.dropdown-checkbox2 dt a {
		width: 255px;
	}
	.dropdown-checkbox2 a, 
	.dropdown-checkbox2 a:visited {
		font-size: 11px;
	}
}

@media (max-width: 750px) {
	.dropdown-checkbox2 dt a {
		width: 95%;
	}
	.dropdown-checkbox2 a, 
	.dropdown-checkbox2 a:visited {
		font-size: 11px;
	}
}

@media (max-width: 360px) {
	.dropdown-checkbox2 dt a {
		width: 155px;
	}
}

@media (max-width: 320px) {
	.dropdown-checkbox2 dt a {
		/*width: 110px;*/
		width: 130px;
	}
}


.dropdown-checkbox2 span.value-checkbox {
    display:none;
}
.dropdown-checkbox2 dd ul li a {
    padding:5px;
    display:block;
}
.dropdown-checkbox2 dd ul li a:hover {
    background-color:#fff;
}



/* Drop Down 3*/

.dropdown-checkbox3 dd, .dropdown-checkbox2 dt {
    margin:0px;
    padding:0px;
}
.dropdown-checkbox3 ul {
    margin: 0px 0 0 0;
}
.dropdown-checkbox3 dd {
    position:relative;
	z-index: 99999;
}
.dropdown-checkbox3 a, 
.dropdown-checkbox3 a:visited {
    margin: 0px;
    text-decoration:none;
    outline:none;
    font-size: 11px;
	font-family: "Lucida Grande","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
		
}
.dropdown-checkbox3 dt a {
    display:block;
    padding-top: 7px;
	padding-left: 5px;
	padding-bottom: 0px;
	border: 1px solid #ccc;
    overflow: hidden;
    width:107px;
	color: #333;
	font-weight: 400;
	border-radius: 2px;
	height: auto;
	line-height: 2px;
	/*background: #fff url("../images/select.png") no-repeat 90% 50%;*/
}

.dropdown-checkbox3 dt a:focus{
	background: none;
}

.dropdown-checkbox3 dt a span, .multiSel-checkbox2 span {
    cursor:pointer;
    display:inline-block;
    /*padding: 0 3px 2px 0;*/
	line-height: 12px;
}
.dropdown-checkbox3 dd ul {
    background-color: #fff;
    border:1px solid #ccc;
    color:#333;
    display:none;
    left:0px;
    padding: 2px 15px 2px 5px;
    position:absolute;
    top:2px;
    width:200px;
    list-style:none;
    height: auto;
    overflow: auto;
}




@media (max-width: 980px) {
	.dropdown-checkbox3 dt a {
		width: 93px;
	}
	.dropdown-checkbox3 a, 
	.dropdown-checkbox3 a:visited {
		font-size: 9px;
	}
}


@media (max-width: 767px) {
	.dropdown-checkbox3 dd ul {
		width: 100%;
	}
	
	.dropdown-checkbox3 dt a {
		width: 255px;
	}
	.dropdown-checkbox3 a, 
	.dropdown-checkbox3 a:visited {
		font-size: 11px;
	}
}

@media (max-width: 750px) {
	/*.dropdown-checkbox3 dt a {
		width: 155px;
	}*/
	
	.dropdown-checkbox3 dt a {
		width: 95%;
		
	}
	.dropdown-checkbox3 a, 
	.dropdown-checkbox3 a:visited {
		font-size: 11px;
	}
}

@media (max-width: 360px) {
	.dropdown-checkbox3 dt a {
		width: 155px;
	}
}

@media (max-width: 320px) {
	.dropdown-checkbox3 dt a {
		/*width: 110px;*/
		width: 130px;
	}
}


.dropdown-checkbox3 span.value-checkbox {
    display:none;
}
.dropdown-checkbox3 dd ul li a {
    padding:5px;
    display:block;
}
.dropdown-checkbox3 dd ul li a:hover {
    background-color:#fff;
}
