@charset "utf-8";
/*----------------------------------------

/*
reset css
------------------------------*/
html{overflow-y:scroll;}
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,p,fieldset,div,iframe,caption,hr,table,tr,th,td{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,p,li,dl,dt,dd,caption,address,th,td,b,small{word-break:normal;word-wrap:break-word;}
ul li,ol li{list-style:none;}
caption{text-align:left;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}
img,abbr,acronym,fieldset{border:none;}
hr,legend{display:none;}
em{font-weight:bold;}
input,textarea,select{margin:0;}
input,label,button,select{vertical-align:middle;}
img{vertical-align:bottom;}
object,embed{vertical-align:top;}
iframe{border:0;}
table,caption,th,td{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
/*clear float*/
div:after{content:".";clear:both;display:block;height:0;font-size:0;visibility:hidden;}
div{display:inline-block;}
/*\*/
* html div{height:0;}
div{display:block;}
/**/
/*fix IE U-6*/
* html input{margin-bottom:1px;}
* html br{letter-spacing:0;}
* html ol li{display:list-item;}
/*fix IE 7*/
*:first-child+html input{margin:0;}
*:first-child+html body,*:first-child+html br{letter-spacing:0;}
*:first-child+html ol li{display:list-item;}

/*ページアンカー*/
.pganc{display:block;height:0;font-size:0;visibility:hidden;overflow:hidden;}

/*
base font
------------------------------*/
body{background:#fff;padding-bottom:30px;}
body{line-height:1.3;}
body,input,textarea{font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";}
body,input,textarea,h1,h2,h3,h4,h5,h6{font-size:small;}
body,input,select,textarea{color:#333;}
a{}
a:hover{}


/*
wrapper
------------------------------*/
#wrapper{
    width:740px;
    margin:0 auto;
}


/*
header
------------------------------*/
#header{
    margin-top:30px;
}
#header div{
    margin-bottom:20px;
}
#header ol{
    float:right;
}
#header li{
    float:left;
    margin-left:20px;
    text-align:center;
    background:#d1edfe;
    font-weight:bold;
    width:80px;
    height:80px;
    line-height:80px;
    overflow:hidden;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    border-radius:40px;
}
#header li:first-child{
    margin-left:0;
}
#header li.current{
    background:#97d8ff;
}
* html #header div{
    display:none;
}
*:first-child+html #header div{
    display:none;
}

#header h1{
    text-align:center;
}

/*
footer
------------------------------*/
#footer address{
    padding-top:10px;
    margin-top:30px;
    border-top:1px solid #ccc;
    text-align:center;
}

/*
エラー
------------------------------*/
.errlst{
    margin-top:30px;
    border:1px solid #ff7f7f;
    background:#ffebeb;
}
.errlst div{
    border:2px solid #ffb4b4;
    padding:12px;
}
.errlst h4{
    color:#f00;
}
.errlst ul{
    padding-top:7px;
}
.errlst li{
    padding-top:3px;
}
.errlst li span{
    display:block;
    float:left;
    width:1em;
    text-align:center;
}

/*
headline
------------------------------*/
.headline{
    margin-top:30px;
    padding:0 15px;
    /*background:#fff7e1;*/
}
.headline ul{
    padding-top:5px;
}
.headline li{
    padding-top:5px;
}
.headline li span{
    float:left;
    width:1em;
    text-align:center;
}
.headline li em{
    display:block;
    margin-left:1em;
    font-weight:normal;
}
/*clearfix*/
.headline li:after{clear:both;display:block;content:"";}
.headline li{display:inline-block;min-height:1%;}
/*\*/
* html .headline li{height:0;}
.headline li{display:block;}
/* */
/*/clearfix*/

.headline li strong{
    margin:0 0.25em;
}

/*
フォーム
------------------------------*/
.form{
    margin-top:30px;
}
.form h2{
    font-size:123.1%;
    border:1px solid #999;
    border-bottom:none;
    background:#666;
    padding:8px 19px 7px;
    color:#fff;
    font-weight:bold;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.form table{
    width:100%;
}
.form th,
.form td{
    border:1px solid #999;
    vertical-align:middle;
}
.form th{
    background:#eeeded;
    width:25%;
    padding:10px;
    text-align:right;
}
.form td{
    background:#fafafa;
    padding:20px;
    line-height:1.6;
}
.form td input{
    padding:4px;
    border:1px solid #aaa;
}
.form td select{
    border:1px solid #aaa;
    vertical-align:baseline;
    margin-right:0.45em;
}
.form td input:focus{

    background:#ffffc4;

    border-top:1px solid #5794bf;
    border-right:1px solid #c5daed;
    border-left:1px solid #c5daed;
    border-bottom:1px solid #c7e2f1;
}
.form td select:focus{
    border-top:1px solid #5794bf;
    border-right:1px solid #c5daed;
    border-left:1px solid #c5daed;
    border-bottom:1px solid #c7e2f1;
}
.form td span,.form td strong,.form td em{
    display:block;
}
.form td span{
    padding-top:5px;
}
.form td strong{
    font-size:93%;
    margin-top:5px;
    padding-top:5px;
    border-top:2px dotted #999;
    color:#622;
}
.form td em{
    padding-bottom:3px;
    font-weight:normal;
    color:#039;
}

/*
.form td a{
display:none;
margin-left:0.5em;
font-weight:bold;
color:#f00;
cursor:text;
}
*/

.form td .inp01{
    width:15em;
    max-width:400px;
    ime-mode:disabled;
}
.form td .inp02{
    width:20em;
    max-width:450px;
    ime-mode:disabled;
}
.form td .inp03{
    width:2.5em;
    max-width:100px;
    ime-mode:disabled;
}
.form td .inp04{
    width:3em;
    max-width:300px;
    ime-mode:disabled;
}

#p01{
    float: left;
    margin-left: 44%;
    margin-top: 25px;
    font-size:medium;
}

#p02{
    text-align: right;
}

#submit01{
    float: left;
    padding:3px 7px;
    font-size:medium;
}

#text01{
    width:15em;
    max-width:400px;
    ime-mode:disabled;
    float:left;
}

/*ボタン*/
.form p{
    padding-top:30px;
    text-align:center;
}
.form p.submit input{
    padding:3px 7px;
}

/*エラー*/
.form tr.err td{
    background:#ffeded !important;
    background:-moz-linear-gradient(right, #ffe9e9, #ffeded) !important;
    background:-webkit-gradient(linear, right center, left center, from(#ffe9e9), to(#ffeded)) !important;
}
.form tr.err a{
    display:inline !important;
}


/*
個人情報の取扱いについ
------------------------------*/
.privacy{
    width:80%;
    margin:30px auto 0;
    border:1px solid #ccc;
    background:#f3f3f3;
    padding:14px;
    height:80px;
    overflow-y:scroll;
    font-size:93%;
}
.privacy dt{
    font-weight:bold;
    text-align:center;
    padding-bottom:5px;
}
.privacy li{
    padding-top:5px;
}
.privacy li span{
    float:left;
    width:1em;
    text-align:center;
}
.privacy li em{
    display:block;
    margin-left:1em;
    font-weight:normal;
}

/*clearfix*/
.privacy li:after{clear:both;display:block;content:"";}
.privacy li{display:inline-block;min-height:1%;}
/*\*/
* html .privacy li{height:0;}
.privacy li{display:block;}
/* */
/*/clearfix*/



/*
IPアドレス
------------------------------*/
.ip{width:80%;margin:30px auto 0;}
.ip p{font-weight:bold;text-align:center;font-size:123.1%;padding-bottom:20px;}
.ip dt{font-weight:bold;color:#622}
.ip .dd01{padding-top:10px;color:#622;text-align:center;font-weight:bold;}
.ip .dd01 strong{font-size:123.1%;font-weight:bold;margin:0 0.4em;}


/*
セキュリティマーク
------------------------------*/
.mark{width:80%;margin:30px auto 0;padding:14px;border:1px solid #ccc;}
.mark div{text-align:center;}
.mark div p{display:inline-block;padding-left:24px;}
.mark div p.isms{padding-left:0;}
.mark .p01{text-align:center;padding-top:10px;}
.mark .p02{text-align:right;padding-top:10px;color:#666;}


/*
tx
------------------------------*/
.tx{
    margin:60px 0;
}
.tx p{
    font-size:123.1%;
    text-align:center;
}


/*
お問合せ
------------------------------*/
.info{
    width:83%;
    margin:30px auto 0;
    border:3px solid #aaa;
    padding:3px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
.info div{
    border:3px solid #aaa;
    padding:17px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    border-radius:7px;
}
.info dl{
    font-size:123.1%;
}
.info dt{
    font-weight:bold;
    padding-bottom:10px;
}
.info dd{
    font-weight:bold;
}
.info em{
    margin:0 0.25em;
    color:#622;
}
.info p{
    padding-top:10px;
}

/*EOF*/