@charset "utf-8";

.form h2{
    background:#aa0503;
    background-repeat: no-repeat;
    margin:0;
    height:15px;
    color:white;
    padding-top:7px;
    padding-left:20px;
    font-weight:bold;
    border: none;
}

/*EOF*/