@charset "utf-8";

/* CSS Document */html {
	color: #000;
	background: #FFF;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}


body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.font_bold {    
	font-weight:bold;
}

*{ margin:0px; padding:0px}

.body {
	
	background:url(../../images/header.jpg) left 1px #9A0120 repeat-x;
	height:75px;
	-webkit-box-shadow: #666 0px 2px 2px;
	-moz-box-shadow: #666 0px 2px 2px;
	box-shadow: #666 0px 2px 2px;	
}

html{
	font-family: "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",Verdana, Geneva, sans-serif;
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	
	color:#666666;
	font-size:12px;
}

.main{
	width:994px;
	height:auto;
	margin:auto;
	background-color:#FFF;
}

.head{
	width:994px;
	height:117px;
	background-image:url(../images/head.jpg);
	background-repeat:no-repeat;
	background-position:top;
	}
	
.user{
	width:210px;
	height:20px;
	padding-left:10px;
	padding-top:15px;
	padding-bottom:5px;
	text-align:left;
	color:#FFF;
	float:right;
	}
	
.box1{
	width:210px;
	height:50px;
	text-align:left;
	color:#FFF;
	float:right;
	}
.box2{
	width:105px;
	height:50px;
	text-align:left;
	color:#FFF;
	float:left;
	}
	
.content{
	min-height:500px;
	width:994px;
	height:auto;
	}
	
.content1{
	width:350px;
	height:450px;
	float:left;
	}
	
.img{
	width:294px;
	height:299px;
	float:left;
	}

.line{
	width:994px;
	height:4px;
	padding-bottom:15px;
	}
	
.save {
	
	text-align:right;
	margin-bottom:5px;
	margin-right:2px;

}

.save_center {
	
	text-align:center;
	margin-bottom:5px;
	margin-right:2px;

}

.list {
	text-align:right;
	margin-bottom:5px;
	padding-right: 9px;

}

/*	
.logout{line-height:28px; width:90px; display:block; margin:5px; height:28px; ; list-style:none;}
.logout li{float:left;}
.logout li.icon_logout{background: url(../images/logout.jpg)  no-repeat; padding-left:30px; padding-right:0px;}
.logout li a{color: #FFF; text-decoration:none;}
.logout li a:hover, a:active{color: #999;text-decoration: none;}
*/


.manual{line-height:28px; width:90px; display:block; margin:5px; height:28px; ; list-style:none;}
.manual li{float:left;}
.manual li.icon_manual{background: url(../images/manual.jpg)  no-repeat; padding-left:30px; padding-right:0px; float:left;}
.manual li a{color: #FFF; text-decoration:none;}
.manual li a:hover, a:active{color: #999;text-decoration: none;}

.sub_head{
	width:994px;

	}

/**/
.icon_order{
	width:845px;
	height:63px;
	background-image: url(../images/icon_order.jpg);
	background-repeat:no-repeat;
	font-size:16px;
	text-align:left;
	}
	

.order{line-height:60px; width:994px; height:63px; display:block; list-style:none;}
.order li{float:left;}
.order li.icon_order{padding-left:55px; padding-right:0px; float:left;}
.order li a{color:#534741; text-decoration:none;}


.icon_report{
	width:845px;
	height:63px;
	background-image: url(../images/icon_report.jpg);
	background-repeat:no-repeat;
	font-size:16px;
	text-align:left;
	}

.head_report{line-height:60px; width:994px; height:63px; display:block; list-style:none;}
.head_report li{float:left;}
.head_report li.icon_report{padding-left:55px; padding-right:0px; float:left;}
.head_report li a{color:#534741; text-decoration:none;}


.icon_customer{
	width:845px;
	height:63px;
	background-image: url(../images/icon_customer.jpg);
	background-repeat:no-repeat;
	font-size:16px;
	text-align:left;
	}

.head_customer{line-height:60px; width:994px; height:63px; display:block; list-style:none;}
.head_customer li{float:left;}
.head_customer li.icon_customer{padding-left:55px; padding-right:0px; float:left;}
.head_customer li a{color:#534741; text-decoration:none;}

.icon_admin{
	width:845px;
	height:63px;
	background-image: url(../images/icon_admin.jpg);
	background-repeat:no-repeat;
	font-size:16px;
	text-align:left;
	}

.head_admin{line-height:60px; width:994px; height:63px; display:block; list-style:none;}
.head_admin li{float:left;}
.head_admin li.icon_admin{padding-left:55px; padding-right:0px; float:left;}
.head_admin li a{color:#534741; text-decoration:none;}

.icon_hotel{
	width:845px;
	height:63px;
	background-image: url(../images/icon_hotel.jpg);
	background-repeat:no-repeat;
	font-size:16px;
	text-align:left;
	}

.head_hotel{line-height:60px; width:994px; height:63px; display:block; list-style:none;}
.head_hotel li{float:left;}
.head_hotel li.icon_hotel{padding-left:55px; padding-right:0px; float:left;}
.head_hotel li a{color:#534741; text-decoration:none;}

.icon_golf{
	width:845px;
	height:63px;
	background-image: url(../images/icon_golf.jpg);
	background-repeat:no-repeat;
	font-size:16px;
	text-align:left;
	}

.head_golf{line-height:60px; width:994px; height:63px; display:block; list-style:none;}
.head_golf li{float:left;}
.head_golf li.icon_golf{padding-left:55px; padding-right:0px; float:left;}
.head_golf li a{color:#534741; text-decoration:none;}
		
.icon_coupon{
	width:845px;
	height:63px;
	background-image: url(../images/icon_coupon.jpg);
	background-repeat:no-repeat;
	font-size:16px;
	text-align:left;
	}

.head_coupon{line-height:60px; width:994px; height:63px; display:block; list-style:none;}
.head_coupon li{float:left;}
.head_coupon li.icon_coupon{padding-left:55px; padding-right:0px; float:left;}
.head_coupon li a{color:#534741; text-decoration:none;}
				
		
.icon_walkin{
	width:845px;
	height:63px;
	background-image: url(../images/icon_walkin.jpg);
	background-repeat:no-repeat;
	font-size:16px;
	text-align:left;
	}

.head_walkin{line-height:60px; width:994px; height:63px; display:block; list-style:none;}
.head_walkin li{float:left;}
.head_walkin li.icon_walkin{padding-left:55px; padding-right:0px; float:left;}
.head_walkin li a{color:#534741; text-decoration:none;}
				
		

		
.icon{
	width:37px;
	height:36px;
	}	

.breadcamp{line-height:40px; padding-top:6px; width:980px; margin:auto; height:40px; display:block; list-style:none;}
.breadcamp li{float:left;}
.breadcamp li.home{background: url(../images/home.jpg)  no-repeat; padding-left:40px; padding-right:0px;}
.breadcamp li a{color:#534741; text-decoration:none;}

.report{line-height:73px; width:307px; margin:auto; height:73px; display:block; list-style:none;}
.report li{float:left;}
.report li.bt_report{padding-left:20px; padding-right:0px; float:left;}
.report li a{color:#534741; text-decoration:none;}

.report{
	width:247px;
	height:73px;
	background-image: url(../images/report.jpg);
	background-repeat:no-repeat;
	font-size:16px;
	text-align:left;
	padding-left:60px;
	}
	
.order_information_list{line-height:73px; width:307px; margin:auto; height:73px; display:block; list-style:none;}
.order_information_list li{float:left;}
.order_information_list li.bt_order_information_list{padding-left:20px; padding-right:0px; float:left;}
.order_information_list li a{color:#534741; text-decoration:none;}
	
.order_information_list{
	width:247px;
	height:73px;
	background-image: url(../images/order_information_list.jpg);
	background-repeat:no-repeat;
	font-size:16px;
	text-align:left;
	padding-left:60px;
	}

.customer_information_list{line-height:73px; width:307px; margin:auto; height:73px; display:block; list-style:none;}
.customer_information_list li{float:left;}
.customer_information_list li.bt_customer_information_list{padding-left:20px; padding-right:0px; float:left;}
.customer_information_list li a{color:#534741; text-decoration:none;}


.customer_information_list{
	width:247px;
	height:73px;
	background-image: url(../images/customer_information_list.jpg);
	background-repeat:no-repeat;
	font-size:16px;
	text-align:left;
	padding-left:60px;
	}

.admin_edit{line-height:73px; width:307px; margin:auto; height:73px; display:block; list-style:none;}
.admin_edit li{float:left;}
.admin_edit li.bt_admin_edit{padding-left:20px; padding-right:0px; float:left;}
.admin_edit li a{color:#534741; text-decoration:none;}

.admin_edit{
	width:247px;
	height:73px;
	background-image: url(../images/admin_edit.jpg);
	background-repeat:no-repeat;
	font-size:16px;
	text-align:left;
	padding-left:60px;
	}

.hotel_edit{line-height:73px; width:307px; margin:auto; height:73px; display:block; list-style:none;}
.hotel_edit li{float:left;}
.hotel_edit li.bt_hotel_edit{padding-left:20px; padding-right:0px; float:left;}
.hotel_edit li a{color:#534741; text-decoration:none;}

.hotel_edit{
	width:247px;
	height:73px;
	background-image: url(../images/hotel_edit.jpg);
	background-repeat:no-repeat;
	font-size:16px;
	text-align:left;
	padding-left:60px;
	}

.golf_edit{line-height:73px; width:307px; margin:auto; height:73px; display:block; list-style:none;}
.golf_edit li{float:left;}
.golf_edit li.bt_golf_edit{padding-left:20px; padding-right:0px; float:left;}
.golf_edit li a{color:#534741; text-decoration:none;}

.golf_edit{
	width:247px;
	height:73px;
	background-image: url(../images/golf_edit.jpg);
	background-repeat:no-repeat;
	font-size:16px;
	text-align:left;
	padding-left:60px;
	}

.coupon_edit{line-height:73px; width:307px; margin:auto; height:73px; display:block; list-style:none;}
.coupon_edit li{float:left;}
.coupon_edit li.bt_coupon_edit{padding-left:20px; padding-right:0px; float:left;}
.coupon_edit li a{color:#534741; text-decoration:none;}

.coupon_edit{
	width:247px;
	height:73px;
	background-image: url(../images/coupon_edit.jpg);
	background-repeat:no-repeat;
	font-size:16px;
	text-align:left;
	padding-left:60px;
	}
	
	
.walkin_edit{line-height:73px; width:307px; margin:auto; height:73px; display:block; list-style:none;}
.walkin_edit li{float:left;}
.walkin_edit li.bt_walkin_edit{padding-left:20px; padding-right:0px; float:left;}
.walkin_edit li a{color:#534741; text-decoration:none;}

.walkin_edit{
	width:247px;
	height:73px;
	background-image: url(../images/walkin_edit.jpg);
	background-repeat:no-repeat;
	font-size:16px;
	text-align:left;
	padding-left:60px;
	}



.magin{
	margin:20px;
	}

.clear{
	clear:both;
}

.footer{
	 margin-left: 0px;
	 margin-top: 0px;
	 margin-right: 0px;
	 margin-bottom: 0px;
	 background:url(../images/bg_footer.jpg) top repeat-x;
	 line-height:42px;
	 width: auto;
	 height:42px;
	 margin-top:15px;
	 text-align:center;
	 color:#FFF;
 }
	
	
	
	
	
	
	
	/*Kobayashi Add CSS*/

#content_left {
	width:20%;
	float: left;

}

#content_right {
	width:80%;
	float: left;

}


#first {

	width:100%;

}

#first {
	margin-top:10px;
	width:100%;
	clear: both;
	float: left;

}

#second {
	width:100%;
	clear: both;
	float: left;

}

#third {
	width:100%;
	clear: both;
	float: left;

}

#four {
	width:100%;
	clear: both;

}

#five {
	width:100%;
	clear: both;


}


#title{
	width:100%;
	clear:both;

}

.title_left{
	width:30%;
	float:left;
}


.title_right{
	text-align:right;
	width:65%;
	float:right;
}

.title_right h2 {

	font-size:36px;

}


.date {
	/*
	float:left;
	text-align:left;
	width:67%;
	border-bottom: 1px solid #CCC;
	margin-bottom:15px;
	font-size:16px;	
	*/
	float:left;
	text-align:left;
	width:47%;
	border-bottom: 1px solid #CCC;
	margin-bottom:15px;
	font-size:16px;		
	
}

.no {
	/*
	float:right;
	text-align:left;
	width:22%;
	border-bottom: 1px solid #CCC;
	margin-bottom:15px;
	font-size:16px;	
	*/
	float:left; 
	margin-left:22px;
	text-align:left;
	width:27%;
	border-bottom: 1px solid #CCC;
	margin-bottom:15px;
	font-size:16px;		
}

.tour_id {	
	float:right;
	text-align:left;
	width:21%;
	border-bottom: 1px solid #CCC;
	margin-bottom:15px;
	font-size:16px;	
}

.name {
	float:left;
	text-align:left;
	width:47%;
	border-bottom: 1px solid #CCC;
	margin-bottom:15px;
	font-size:16px;	
}

.c_s_no {
	float:right;
	text-align:left;
	width:50%;
	border-bottom: 1px solid #CCC;
	margin-bottom:15px;
	font-size:16px;	
}

.tel {
	float:left;
	text-align:left;
	width:47%;
	border-bottom: 1px solid #CCC;
	margin-bottom:15px;
	font-size:16px;	
}

.fax {
	float:right;
	text-align:left;
	width:50%;
	border-bottom: 1px solid #CCC;
	margin-bottom:15px;
	font-size:16px;	
}

.e_mail {
	
	float:left;
	text-align:left;
	width:50%;
	border-bottom: 1px solid #CCC;
	margin-bottom:15px;
	font-size:16px;	
}

.attn {
	
	text-align:left;
	margin-top:15px;
	float:left;
	width:50%;
	border-bottom: 1px solid #CCC;
	margin-bottom:15px;
	font-size:16px;	
}

.margin_top {

	margin-top:60px;
}

.set_left {

	text-align:left;
	font-size:12px;
	line-height:25px;

}
.set_right {

	text-align:right;
	font-size:12px;
	line-height:25px;
	height:25px;
	padding-right:4px;

}

.set_left_red {

	text-align:left;
	font-size:12px;
	color:#F00;
	padding-top:0px;
	padding-right:0px;	

}

/*//////////////////kokomade kobayashi custom////////////////////////*/

	
.left_menu{width:199px; height:500px; float:left;}
/*
.back_to_list{ width:172px; height:35px; padding:5px;text-indent:}
.back_to_list li{ float:left; padding-left:5px; padding-top:5px;}
.back_to_list li a{ background-image: url(../images/bt_back_to_list.jpg);}
.back_to_listli a:hover, a:active{ background-image:url(../images/bt_back_to_list_on.jpg);}
*/

#btn_back_to_list_active{margin-left:8px; background: url(../images/bt_back_to_list.jpg) center top no-repeat; width:172px; height:35px; padding:5px;}
#btn_back_to_list_activea{margin-left:8px;  background-image: url(../images/bt_back_to_list.jpg);}
#btn_back_to_list_active:hover{margin-left:8px; background: url(../images/bt_back_to_list_on.jpg) center top no-repeat;}

#btn_edit_active{margin-left:8px; background: url(../images/bt_edit.jpg) center top no-repeat; width:172px; height:35px; padding:5px;}
#btn_edit_activea{margin-left:8px;  background-image:  url(../images/bt_edit.jpg);}
#btn_edit_active:hover{margin-left:8px; background:  url(../images/bt_edit_on.jpg) center top no-repeat;}

#btn_Reservation_active{margin-left:8px; background: url(../images/bt_reservation.jpg) center top no-repeat; width:172px; height:35px; padding:5px;}
#btn_Reservation_activea{margin-left:8px;  background-image: url(../images/bt_reservation.jpg);}
#btn_Reservation_active:hover{margin-left:8px; background: url(../images/bt_reservation_on.jpg) center top no-repeat;}

#btn_print_out_active{margin-left:8px; background: url(../images/bt_print_out.jpg) center top no-repeat; width:172px; height:35px; padding:5px;}
#btn_print_out_activea{margin-left:8px;  background-image: url(../images/bt_print_out.jpg);}
#btn_print_out_active:hover{margin-left:8px; background: url(../images/bt_print_out_on.jpg) center top no-repeat;}

#btn_print_out_active_2{margin-left:0px; margin-bottom:5px; width:172px; height:35px;}

#btn_not_yet_active{margin-left:8px; background: url(../images/bt_not_yet.jpg) center top no-repeat; width:172px; height:35px; padding:5px;}
#btn_not_yet_activea{margin-left:8px;  background-image: url(../images/bt_not_yet.jpg);}
#btn_not_yet_active:hover{margin-left:8px; background: url(../images/bt_not_yet_on.jpg) center top no-repeat;}

#btn_cancel_active{margin-left:8px; background:url(../images/bt_cancel.jpg) center top no-repeat; width:172px; height:35px; padding:5px;}
#btn_cancel_activea{margin-left:8px;  background-image:url(../images/bt_cancel.jpg);}
#btn_cancel_active:hover{margin-left:8px; background: url(../images/bt_cancel_on.jpg) center top no-repeat;}

/*Tong 20-06-2012*/
#btn_request_active{margin-left:8px; background:url(../images/bt_request.jpg) center top no-repeat; width:172px; height:35px; padding:5px;}
#btn_request_activea{margin-left:8px;  background-image:url(../images/bt_request.jpg);}
#btn_request_active:hover{margin-left:8px; background: url(../images/bt_request_on.jpg) center top no-repeat;}

/*Tong 20-06-2012*/

#btn_confirm_active{margin-left:8px; background:url(../images/bt_confirm.jpg) center top no-repeat; width:172px; height:35px; padding:5px;}
#btn_confirm_activea{margin-left:8px;  background-image:url(../images/bt_confirm.jpg);}
#btn_confirm_active:hover{margin-left:8px; background: url(../images/bt_confirm_on.jpg) center top no-repeat;}

#btn_mail_to_customer_active{margin-left:8px; background:url(../images/bt_mail_to_customer.jpg) center top no-repeat; width:172px; height:35px; padding:5px;}
#btn_mail_to_customer_activea{margin-left:8px;  background-image:url(../images/bt_mail_to_customer.jpg);}
#btn_mail_to_customer_active:hover{margin-left:8px; background: url(../images/bt_mail_to_customer_on.jpg) center top no-repeat;}

#btn_making_voucher_active{margin-left:8px; background:url(../images/bt_making_voucher.jpg) center top no-repeat; width:172px; height:35px; padding:5px;}
#btn_making_voucher_activea{margin-left:8px;  background-image:url(../images/bt_making_voucher.jpg);}
#btn_making_voucher_active:hover{margin-left:8px; background: url(../images/bt_making_voucher_on.jpg) center top no-repeat;}

#btn_mail_to_hotel_active{margin-left:8px; background:url(../images/bt_mail_to_hotel.jpg) center top no-repeat; width:172px; height:35px; padding:5px;}
#btn_mail_to_hotel_activea{margin-left:8px;  background-image:url(../images/bt_mail_to_hotel.jpg);}
#btn_mail_to_hotel_active:hover{margin-left:8px; background: url(../images/bt_mail_to_hotel_on.jpg) center top no-repeat;}

#btn_mail_to_golf_active{margin-left:8px; background:url(../images/bt_mail_to_golf.jpg) center top no-repeat; width:172px; height:35px; padding:5px;}
#btn_mail_to_golf_activea{margin-left:8px;  background-image:url(../images/bt_mail_to_golf.jpg);}
#btn_mail_to_golf_active:hover{margin-left:8px; background: url(../images/bt_mail_to_golf_on.jpg) center top no-repeat;}

#btn_mail_to_coupon_active{margin-left:8px; background:url(../images/bt_mail_to_coupon.jpg) center top no-repeat; width:172px; height:35px; padding:5px;}
#btn_mail_to_coupon_activea{margin-left:8px;  background-image:url(../images/bt_mail_to_coupon.jpg);}
#btn_mail_to_coupon_active:hover{margin-left:8px; background: url(../images/bt_mail_to_coupon_on.jpg) center top no-repeat;}


#btn_edit_info_active{margin-left:8px; background:url(../images/bt_edit_info.jpg) center top no-repeat; width:172px; height:35px; padding:5px;}
#btn_edit_info_activea{margin-left:8px;  background-image:url(../images/bt_edit_info.jpg);}
#btn_edit_info_active:hover{margin-left:8px; background: url(../images/bt_edit_info_on.jpg) center top no-repeat;}

#btn_edit_income_active{margin-left:8px; background:url(../images/bt_edit_income.jpg) center top no-repeat; width:172px; height:35px; padding:5px;}
#btn_edit_income_activea{margin-left:8px;  background-image:url(../images/bt_edit_income.jpg);}
#btn_edit_income_active:hover{margin-left:8px; background: url(../images/bt_edit_income_on.jpg) center top no-repeat;}

#btn_edit_outgo_active{margin-left:8px; background:url(../images/bt_edit_outgo.jpg) center top no-repeat; width:172px; height:35px; padding:5px;}
#btn_edit_outgo_activea{margin-left:8px; background-image:url(../images/bt_edit_outgo.jpg);}
#btn_edit_outgo_active:hover{background: url(../images/bt_edit_outgo_on.jpg) center top no-repeat;}

/* 2011-06-30*/
.txt_hover{text-decoration:none;}
.txt_hover:hover{text-decoration:underline;}
/* 2011-06-30*/


.inp_width{width:400px;}
.inp_width50{width:50px;}
.inp_width70{width:70px;}
.inp_width600{width:600px;}
.inp_width700{width:700px;}

/**/
.page_navi a,.page_navi span{margin-right:5px; color:#000;}
.page_navi strong{font-weight:normal;}

.page_navi {font-size:12px; font-weight:normal; padding-left:2px; padding-top:5px;}
.page_navi .page_nonelink{border:#CDCDCD solid 1px; padding:3px 10px 3px 10px; color:#000; background:#F0F0F0; }

.page_navi .page_link,.page_link_noaction{border:#CDCDCD solid 1px; padding:3px 10px 3px 10px; text-decoration:none; color:#1255C4; }
.page_navi .page_link:hover{background:#F0F0F0;  text-decoration:none; }


/* Tong add 2012-04-23*/
.header{	

	background:url(../../images/header.jpg) left 1px #9A0120 repeat-x;
	height:75px;
	-webkit-box-shadow: #666 0px 2px 2px;
	-moz-box-shadow: #666 0px 2px 2px;
	box-shadow: #666 0px 2px 2px;	
}

.sub_header{
	background:url(../../images/logo.jpg) left 1px no-repeat;
	margin:auto;
	width:950px;
	height:75px;
	position:relative;
	text-indent:-9999px;
}

.logout{position:absolute; right:15px; top:5px; text-indent:0px;height:70px; width:400px; color:#FFF; text-align:right;}
.logout a{line-height:24px;width:45px; height:26px; color:#FFF; font-size:12px; text-decoration:underline; font-weight:normal;}
.logout a:hover{text-decoration:none;}

/* End Tong add 2012-04-23*/
#search td,#search th{text-align:left; padding-left:3px;}
