@charset "utf-8";
/* CSS Document */

div.pager {
	clear:both;
	width:auto;
	text-align:center;
	margin-top: 0px;
	margin-left:0px;
	margin-bottom:15px;
	font-size: 100%;
}

div.pager a,
div.pager span {
    display: block;
    float: left;
    margin-right: 0.1em;
    padding: 0.2em 0.5em;
}

div.pager a {
	color: #4d4d4d;
	background-color: #fff;
	border: 1px solid #b2b2b2;
	text-decoration: none;
}

div.pager a:hover {
	color: #282828;
	background-color: #fff;
	border: 1px solid #454545;
}

div.pager span.current {
    color: #fff;
    background-color: #454545;
    border: 1px solid #454545;
    font-weight: bold;
}

div.pager span.nextprev {
    border: 1px solid #dddddd;
    color: #999;
    background-color: #fff;
}

div.pager a.nextprev {
    font-weight: bold;
} 
