@charset "utf-8";
/* CSS Document */


.table_format {
	border-collapse:collapse;

	margin-top:15px;

	margin-bottom:15px;


}


.table_format_2 {
	border-collapse:collapse;

	margin-top:0px;

	margin-bottom:15px;


}




table, tr, td, th {
	border-style: none;
}

th {
	border: #CCC 1px solid;
	padding-top:1px;
	padding-bottom:1px;
	text-align:center;
	background-color:#544741;
	color:#FFF;
}

.center_set {
	
	text-align:center;

}

td {
	padding-left:3px;
	border: #CCC 1px solid;
	padding-top:1px;
	padding-bottom:1px;
	line-height: 2;
	letter-spacing: 1px;

}


.en {

	ime-mode:disabled; 
	text-align:right;
}

.red_small {

	color:#F66;
	
}

#table {
	width:100%;
	float: left;
	
}

 .change_color_1 {
	 background-color:#FFF;
	
 }

 .change_color_2 {
	 
	 background-color:#CCC;
	
 }
 
 .td_font_small {
	
	font-size:12px;
	text-align:center;
	
 }


ul.tb_order_mail li{float:left; list-style:none; padding-left:10px; padding-right:10px; display:block; line-height:25px; background:#FFF; 
border:#CCC solid 1px; /* min-width:145px; */ min-width:327px; font-size:11px;
text-align:center; margin-bottom:2px; margin-right:2px;}

ul.tb_order_mail li.first{background:#544741; color:#FFF; text-align:left;}
ul.tb_order_mail li a{color:#333; float:left; min-width:327px; text-align:left;}
ul.tb_order_mail li a:hover{text-decoration:none;}

.center_set a{color:#333;}
.center_set a:hover{text-decoration:none;}

.span_mailtype{width:40px; line-height:20px; display:block; float:left;}
.inp_address{width:550px;}

.padding-bottom2{padding-bottom:2px;}

#button-left{float:left;}