@charset "utf-8";
/* CSS Document */

.font-h2{ font-size:22px; color: #404040; line-height:40px; font-weight:bold;
padding-left:27px;}
li{ list-style:none; padding:0px;}
.padding10 {
	padding-left:10px;
	padding-top:10px;
	padding-right:10px;
}
.padding-left10 {
	padding-left:10px;
}
.color-FFF {
	color:#FFF;
}
.mid-container {
	width:760px;
	margin:auto;
	border:#EEE solid 1px;
	padding:90px;
	background:#FEFEFE;
}
.menu_list_group_left, .menu_list_group_right {
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background:#FFF;
	border:#DDD solid 1px;
	font-size:14px;
}
.menu_list_group_left {
	width:463px;
	*width: 460px;
	float:left;
	padding:0px;
	height:175px;
	margin:10px;
	position:relative;
}
.menu_list_group_right {
	width:463px;
	*width: 460px;
	float:right;
	padding:0px;
	height:175px;
	margin:10px;
	position:relative;
}

.clear {
	clear:both;
}
.menu_tittle {
	background:#F5F5F5;
	color:#000;
	-webkit-border-radius:8px 0px 0px 0px;
	-moz-border-radius: 8px 0px 0px 0px;
	border-radius: 8px 8px 0px 0px;
	padding:5px 10px 5px;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFF), to(#F5F5F5));
	background: -webkit-linear-gradient(#FFF, #F5F5F5);
	background: -moz-linear-gradient(#FFF, #F5F5F5);
	background: -ms-linear-gradient(#FFF, #F5F5F5);
	background: -o-linear-gradient(#FFF, #F5F5F5);
	background: linear-gradient(#FFF, #F5F5F5);
}
.menu_list {
	padding-top:5px;
	padding-left:25px;
}
.menu_list li{line-height:25px;}
.page-header{height:40px; background:#000;}
.page-header .brand{color:#FFF; line-height:30px;  font-weight:bold; width:600px; float:left; padding-left:5px; font-size:20px;}
.page-header .container{padding-top:5px;}
.page-header .container .brand:hover{ list-style:none;}


.content{min-width:970px; width:98%; padding:0px;}
.header-content,.footer-content{width:95%; min-width:970px;}


.mid-container{ margin-top:0px; padding-top:5px; padding-bottom:5px;}

.mid-container{padding:10px 20px 10px 20px;}
.navigation{margin-left:20px; margin-right:20px;}
.header1{margin-left:20px; margin-right:20px;}

.content_fix{width:970px; margin:auto;}