@charset "utf-8";
/* CSS Document */

/*default setting */
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	line-height:20px;
	background:#E5E5E5;
}
.content {
	background:#FFF;
	width:970px;
	margin:auto;
	padding:5px;
	-webkit-box-shadow: #C4C4C4 0px 0px 5px;
	-moz-box-shadow: #C4C4C4 0px 0px 5px;
	box-shadow: #C4C4C4 0px 0px 5px;
}
.header {
	background:url(../../images/header.jpg) left 1px #9A0120 repeat-x;
	height:75px;
	-webkit-box-shadow: #666 0px 2px 2px;
	-moz-box-shadow: #666 0px 2px 2px;
	box-shadow: #666 0px 2px 2px;
}
.footer {
	background:url(../../images/footer.jpg) repeat-x ;
	height:75px;
}
/*default setting */

/*customs */
.header-content {
	background:url(../../images/logo.jpg) left 1px no-repeat;
	margin:auto;
	width:950px;
	height:75px;
	-webkit-box-shadow: #666 0px 2px 0px;
	-moz-box-shadow: #666 0px 2px 0px;
	box-shadow: #666 0px 2px 0px;
}

.breadcamp {
	height:30px;
	padding-left:10px;
	font-size:12px;
}
.breadcamp li a {
	color:#B50004;
}
.breadcamp li span {
	padding-left:10px;
	padding-right:10px;
}
.breadcamp li {
	color:#333;
	float:left;
	line-height:30px;
}

/*table */
.table{padding-bottom:0px; margin-bottom:0px;}
.table td{background:#FFF;}
.table th{background:#666; font-weight:normal; color:#FFF; vertical-align:middle;}
.table th.top{vertical-align:top;}
/*table */


/*customs */
a {
  color: #0069d6;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
}
a:hover {
  color: #00438a;
  text-decoration: underline;
}
.header1 {

	font-size:14px;
	font-weight:bold;
	background:#F5F5F5;
	color:#B50004;
	
	padding-top:7px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:7px;
	border:#B50004 solid 1px;

}
.icon-tittle1 {
	border-left:#B50004 solid 3px;
	height:24px;
	line-height:24px;
	padding-left:5px;
	float:left;
}

.content-left-menu {
	width:180px;
	float:left;
	padding-bottom:5px;
	background:#8D0505;
}
.content-left-menu a:hover{color:#FFF;}
.content-maincontent {
	width:785px;
	padding-bottom:0px;
	margin-bottom:0px;
	float:right; 
}
.botton-menu {
	
	
	font-size:13px;
	color:#FFF;
	line-height:38px;
	cursor:pointer;
	text-align:center;

}
.botton-menu:hover {
	text-decoration:underline;
}
.content-left-menu p {
	border-bottom:#FFF dashed 1px ; padding-left:5px; padding-right:5px;
}

.footer-content{width:970px; margin:auto;  }
.footer-content .footer-content-text1{font-size:12px; text-align:right; line-height:18px; padding-top:10px; color:#FFF;  }
/*customs */



/*other */
.clear {
	clear:both;
}
.content-middle {
	padding-top:5px;
}
.icon-btn{ float:right; padding-left:5px; }
.height5{height:5px; line-height:5px; font-size:5px;}
.height10{height:10px; line-height:10px; font-size:10px;}
/*other */




