{include file="country_header.tpl" }
<!--container-->
<div class="container">
  <!--navigation bar-->
  {include file="country_navigation_bar.tpl" }
  <!--navigation bar-->
  <!--banner-top-->
  <!--banner-top-->
  <!--container-left-->
  <div class="container-left">
    	{$breadcamp}
      <div class="clear"></div>
    	
  <!-- box search -->
        <form action="souvenir_search.php" method="get" name="frmSearch">
        <div class="box-search-souvenir-header">Search</div>
			<div class="box-search-souvenir">
            <div class="inp-inputsearch">
            	<div class="inp-inputsearch-inp1"><p>国名</p> {$inp_country}</div>
                <div class="inp-inputsearch-inp2"><p>受取場所</p> {$inp_location} </div>
                <div class="inp-inputsearch-inp3"><p>カテゴリー</p>{$inp_theme}</div>
                <div class="clear"></div>
                <div class="inp-inputsearch-inp4"><p>フリーワード</p>{$inp_search_text}</div>
            </div>        
           <div class="box-search4">
             <input name="inp_search" class="btn_search" type="submit" value="検索" />
           </div>
      	</div>
         <!-- box search -->
        <div class="height10"></div>
        <!-- search result-->
        <div class="pagi-search-result">
        	全{$max_record}件中{$page_start}～ {$page_end}件目を表示しています。
        <div class="btn-order">
        	{$order_select}
        </div>
        </form>
        </div>
   <!-- box search -->
    
     
  <div class="clear"></div>
  <!--pagination bar-->
  {$pagination}
  <div class="clear"></div>
  <!--pagination bar-->
  <div class="height3"></div>
  {$search_content}
  <div class="height3"></div>
  <div class="clear"></div>
  <!--pagination bar-->
  {$pagination}
  <div class="clear"></div>
  <!--pagination bar-->
  <!--banner footer-->
</div>
<!--container-left-->
  <!--container-right-->
  
  
  {literal} 
<script type="text/javascript">
$(document).ready( function(){
var cun_select = $('select[name="inp_country"]').val() ;

if  ( (cun_select  == 'THA') || (cun_select  == 'IDN') || (cun_select  == 'VNM') || (cun_select  == 'MYS') || (cun_select  == 'NZL')){
	$('select[name="inp_location"]').html('<option value="0">----</option><option value="1">現地受取</option>');	
}

$('select[name="inp_country"]').change(
	function(){
					
				if  ( ($(this).val()  == 'THA') || ($(this).val()  == 'IDN') || ($(this).val()  == 'VNM') || ($(this).val()  == 'MYS') || ($(this).val()  == 'NZL')){
					$('select[name="inp_location"]').html('<option value="0">----</option><option value="1">現地受取</option>');	
				}
				else{
					$('select[name="inp_location"]').html('<option value="0">----</option><option value="2">日本受取 </option><option value="1">現地受取</option>');	
				}
	}									   
);
});
</script>
{/literal} 

  
  
  
 {include file="country_container_right_souvenir.tpl"}
  <!--container-right-->
</div>
<!--container-->
<!--footer-->
{include file="country_footer.tpl"}
<!--footer-->
<!--body-->
</body></html>