@charset "utf-8";
/* CSS Document */

.boxlogin {
	position:absolute;
	left:225px;
	top:110px;
	-webkit-border-radius:8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.padding10 {
	padding-left:10px;
	padding-top:10px;
	padding-right:10px;
}
.padding-left10 {
	padding-left:10px;
}
.mid-container {
	position:relative;
	height:500px;
}
.color-FFF {
	color:#FFF;
}
.btn {
	width:100px;
}
#form {
	padding-bottom:0px;
	margin-bottom:0px;
}
.bordered-table {
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapse;
  /* IE7, collapse table to remove spacing */

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.font-h1{ font-size:26px; color: #404040; line-height:40px; font-weight:bold; background:url(../../images/login.gif) -5px 2px no-repeat;
padding-left:27px;}
.actions{margin-top:18px; margin-bottom:17px; margin-left:1px; margin-right:1px; color:#333;}

p{color:#333; text-decoration: none;
line-height:24px;
  font-weight: inherit;}
a {
  color: #0069d6;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
}
a:hover {
  color: #00438a;
  text-decoration: underline;
}
.xlInput{width:130px; float:left; line-height:45px; text-align:right; padding-right:10px;}
.input{ padding-top:8px;}
.actions{padding-left:140px;}
.msg-error{color:#FF3C3C;}