@charset "utf-8";
/* CSS Document */

.content{min-width:970px; width:98%; padding:0px;}
.header-content,.footer-content{width:95%; min-width:970px;}
.navigation{margin-left:20px; margin-right:20px;}
.header1{margin-left:20px; margin-right:20px;}
.content-left-menu{ clear:left; float:left; margin-left:20px;}

.content-maincontent{width:100%; margin-right:-210px; overflow:hidden; }
.content{overflow:hidden;}
.wrap{margin-right:230px; clear:both;}
