@charset "utf-8";
/* CSS Document */

.menu_list {
	padding-top:5px;
}
.content{min-width:970px; width:98%; padding:0px;}
.header-content,.footer-content{width:95%; min-width:970px;}

.page-header{height:40px; background:#000; margin-bottom:10px;}
.page-header .brand{color:#FFF; line-height:30px;  font-weight:bold; width:600px; float:left; padding-left:5px; font-size:20px;}
.page-header .container{padding-top:5px;}
.page-header .container .brand:hover{ list-style:none;}
.mid-container{padding:10px 20px 10px 20px;}
.navigation{margin-left:20px; margin-right:20px;}
.header1{margin-left:20px; margin-right:20px;}


table tr.even td{background:#F8F8F8;}

.pagination {
  height: 36px;
  margin:0px 0px;
  margin: 5px 0;
  display:block;
}


.pagination ul {
  float: left;
  margin: 0;
  border: 1px solid #ddd;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
  display: inline;
}

.pagination p {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  border-right: 1px solid;
  border-right-color: #ddd;
  border-right-color: rgba(0, 0, 0, 0.15);
  *border-right-color: #ddd;
  /* IE6-7 */

  text-decoration: none;
}

.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  border-right: 1px solid;
  border-right-color: #ddd;
  border-right-color: rgba(0, 0, 0, 0.15);
  *border-right-color: #ddd;
  /* IE6-7 */

  text-decoration: none;
}
.pagination a:hover, .pagination .active a {
  background-color: #c7eefe;
}
.pagination .disabled a, .pagination .disabled a:hover {
  background-color: transparent;
  color: #bfbfbf;
}
.pagination .next a {
  border: 0;
}

table tr td,table tr th{line-height:12px;}

.searchbox {line-height:18px;}
.text-search{padding-right:5px; width:100px; float:left; padding-top:5px; text-align:right;}
.text-label{ margin-right:5px;}

.filter{margin-left:20px; margin-right:20px; background:#F8F8F8; padding:7px 7px 7px 7px; border: 1px solid #ddd;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }
.filter .searchbox{width:340px; display:block; float:left; padding:3px;}
.filter .searchbox.max{width:500px;}

.mid-container{ margin-top:0px; padding-top:5px; padding-bottom:5px;}