{include file="country_non-res-header.tpl" }
<!--container-->
<div class="container">
  <!--banner-top-->

  <!--banner-top-->
  <!--container-left-->
  <div class="container-left">
    {$breadcamp}
    <br/><br/>
	お申込は完了しませんでした。大変恐れ入りますが今一度お試しくださいませ。
  </div>
  <!--container-left-->
</div>
<!--container-->
<!--footer-->
{include file="country_non_res-footer.tpl" }
<!--footer-->
<!--footer script-->
{include file="country_footer_script.tpl"}
<!--footer script-->
<!--body-->
</body>
</html>