{include file="country_header.tpl" }

<body>
<!--body-->

{include file="country_header_menu.tpl" }

<!--container-->
<div class="container home-content">

  <!--banner-top-->
  <!--banner-top-->
  <!--container-left-->
  <div class="container-left">
    {$breadcamp}
    {$data_tempage}
  </div>
  <!--container-left-->
</div>
<!--container-->
<div class="clear"></div>
<!--footer-->
{include file="country_footer.tpl"}
<!--footer-->
<!--footer script-->
{include file="country_footer_script.tpl"}
<!--footer script-->
<!--body-->
</body>
</html>