<!-- JS SLIDER -->
<script type="text/javascript" src="{$config.documentroot}common/js/jquery.nivo.slider.js"></script>
{literal}
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
{/literal}