{include file="jtb_non-res-header.tpl" }
<!--container-->
<div class="container">
  <!--banner-top-->

  <!--banner-top-->
  <!--container-left-->
  <div class="container-center">
    {$breadcamp}
    {$data_tempage} 
  </div>
  <!--container-left-->
</div>
<!--container-->
<div class="clear"></div>
<!--footer-->
{include file="jtb_footer.tpl"}
<!--footer-->
<!--footer script-->
{include file="jtb_footer_script.tpl"}
<!--footer script-->
<!--body-->
</body>
</html>