<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Info Biz THAILAND Administration : <? echo $data[0]; ?></title>
<link type="text/css" href="common/css/main.css" rel="stylesheet"  />
<script type="text/javascript" src="common/js/jquery-1.5.1.min.js"></script>
<script type="text/javascript">
_nowpage = '<? echo $data[5]; ?>';
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='restore.php?com_select="+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}


</script>
<script type="text/javascript" src="common/js/table_mainpage.js"></script>
</head>
<body>
<div class="header">

  <div class="sub_header"><div class="header_logo">Info Biz THAILAND Administration</div> 
     <div class="logout"><p><a href="logout.php" class="btnlogout">Logout</a></p> 
 <p>User : <a href="user_setting.php"><? echo $_SESSION["session_name"]  ; ?></a></p></div>
  </div>
</div>
<div class="clear"></div>
<div class="box1024 ptop10">
    <? 
 	echo $data[25];
  ?>
  <div class="control"><span class="logo" <? echo $data[26]; ?>><? echo $data[0]; ?></span>
	
    <div class="panel_btn1">
    	<span class="btn" id="btn_restore"><b>restore</b></span>
    	<!--<span class="btn" id="btn_new"><b>New</b></span>-->
        <!--<span class="btn" id="btn_edit"><b>Edit</b></span>-->
        <!--<span class="btn" id="btn_delete" ><b>Delete</b></span>-->
    </div>
    
    <form action="<? echo $data[8]; ?>" method="post" name="restore_obj">
    <input type="hidden" name="action" value="restore" />
    <input type="hidden" name="action_id" id="action_id" value=""  />    
   	<input type="hidden" name="val_id" id="val_id" value=""  />
    </form>
    <input type="hidden" name="ref_id" id="ref_id" value="<? echo $data[6]; ?>" />

  </div>
  <!-- bread camp -->
  <ul class="fillter"><li>Company Fillter : </li>
  <!--<form action="" method="get">  
  		<select name="com_select" id="jumpMenu" onchange="MM_jumpMenu('parent',this,0)" style="width:auto; width:200px;"> 
        	<option value="">All</option>
    		<? echo $data[7]; ?>
        </select></form>-->
        <li ><a href="company_listbox.php" style="text-decoration:none; color:#1255C4;">Company Fillter</a></li></ul>
 
 
 
  <? echo $data[1]; ?>
  <!-- bread camp -->
  <div class="data">
    <!--<? f_loop($data[2]); ?>-->
    <div class="table">
      <table width="100%" class="table_data" border="0" cellpadding="0" cellspacing="1" bgcolor="#CDCDCD">
      	<tr>
        <th style="width:25px;">#</th>
        <th width="5"><input name="chk_all" type="checkbox" value="all" class="chkbox_all" /></th>
        <th width="5" class="tb_toggle" id="main_toggle">T</th>
        <?  f_loop($data[2]); ?>
        </tr>
        <? echo $data[3] ?>
      </table>  
    </div>
    <? echo $data[4]; ?>
  </div>
  <div class="footer">&nbsp;</div>
</div>
</body>
</html>