<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Administrator Page</title>
    <link type="text/css" href="common/css/main.css" rel="stylesheet"  />
    <script type="text/javascript" src="common/js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript">
_nowpage = '<? echo $data[5]; ?>';
</script>
    <script type="text/javascript" src="common/js/table_mainpage.js"></script>
</head>
<body>

<div class="header">
    <div class="sub_header">Administration <div class="logout"><p><a href="logout.php" class="btnlogout">Logout</a></p>
            <p>User : <a href="user_setting.php"><? echo $_SESSION["session_name"]  ; ?></a></p></div></div>
</div>
<div class="clear"></div>

<div class="box1024 ptop10">

    <!-- bread camp -->
    <? echo $data[1]; ?>
    <!-- bread camp -->

    <div class="control"><span class="logo"><? echo $data[0]; ?></span>
        <div class="panel_btn2" style="width:176px;">
            <!--
                    <span class="btn" id="btn_unactive"><b>Unpublish</b></span>
                    <span class="btn" id="btn_active"><b>Publish</b></span>


                    <span id="btn_close_index" class="btn"><b>Close</b></span>
            -->
            <!--<span class="btn" id="btn_new"><b>New</b></span>-->
            <!--<span class="btn" id="btn_edit"><b>Edit</b></span>-->
            <!--<span class="btn" id="btn_delete" ><b>Delete</b></span>-->
        </div>
        <form action="<? echo $data[7]; ?>" method="post" name="del_obj">
            <input type="hidden" name="action" value="delete" />
            <input type="hidden" name="action_id" id="action_id" value=""  />
        </form>


        <form action="<? echo $data[7]; ?>" method="post" name="enabled_obj">
            <input type="hidden" name="action" value="active" />
            <input type="hidden" name="action_id" id="enabled_action_id" value=""  />
        </form>


        <form action="<? echo $data[7]; ?>" method="post" name="disabled_obj">
            <input type="hidden" name="action" value="unactive" />
            <input type="hidden" name="action_id" id="disabled_action_id" value=""  />
        </form>







        <input type="hidden" name="ref_id" id="ref_id" value="<? echo $data[6]; ?>" />
    </div>

    <div class="data">
        <? echo $data[filter]; ?>
        <!--<? f_loop($data[2]); ?>-->
        <? echo $data[4]; ?>
        <div class="table" style="margin-top:0px;">
            <table width="100%" class="table_data" border="0" cellpadding="0" cellspacing="1" bgcolor="#CDCDCD">
                <tr align="center">
                    <th style="width:50px;">#</th>
                    <th width="5"><input name="chk_all" type="checkbox" value="all" class="chkbox_all" /></th>
                    <?  f_loop($data[2]); ?>
                </tr>
                <?  f_loop($data[3]); ?>
            </table>
        </div>
        <? echo $data[4]; ?>
    </div>
    <div class="footer">&nbsp;</div>
</div>
</body>
</html>