<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Administrator Page</title>
<link type="text/css" href="common/css/main.css" rel="stylesheet" />
<script type="text/javascript" src="common/js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="common/js/tiny_mce/jquery.tinymce.js"></script>
<script type="text/javascript" src="common/js/ppc_datepicker.js"></script>
<script type="text/javascript" src="common/js/table_mainpage<? echo $data[7]; ?>.js"></script>
<script type="text/javascript">
_nowpage =   '<? echo $data[5]; ?>';
$(document).ready(
function()
{
<? echo $data[6]; ?>
});
</script>
<script type="text/javascript" src="common/js/jd_datamanager/ajaxfileupload.js"></script>


<script type="text/javascript" src="common/js/jd_datamanager/jd_datamanager.js"></script>


</head>

<body>
<div class="header">
  <div class="sub_header">Administration <div class="logout"><p><a href="logout.php" class="btnlogout">Logout</a></p> 
 <p>User : <a href="user_setting.php"><? echo $_SESSION["session_name"]  ; ?></a></p></div></div>
</div>
<div class="clear"></div>

  <div class="box1024 ptop10">
    <? echo $data[2]; ?>
    <div class="control"><span class="logo"><? echo $data[1]; ?></span>
      <div class="panel_btn2"> <span class="btn" id="btn_save"><b>Save</b></span> <span class="btn" id="btn_close" ><b>Close</b></span> </div>
    </div>
    
    <div class="data">
      <div class="table">
      	
      <!--<?  /*f_loop($data[3]);*/ ?>-->
      
      
      	
         <table width="100%" class="table_data pb5" border="0" cellpadding="0" cellspacing="1" bgcolor="#CDCDCD">
         <tr>
         	<th valign="middle" width="120" align="left">Banner Image</th>
            <td>
            	<? echo $data[3]['inp_banner'];  ?> <span>Image (Width:964px Height:220px)</span>
            </td>
         </tr>
        </table>
      
      
      
      
      <div class="height10"></div>
      
      
      <form action="<? echo $data[0][0]; ?>"  name="frmInput" id="frmInput"  method="post">
      	<input type="hidden" name="page_id" value="<? echo $data[4][0]; ?>" />
      <input type="hidden" name="action" value="<? echo $data[4][1]; ?>" />
        <table width="100%" class="tcollsign.pb5" border="0" cellpadding="0" cellspacing="1" bgcolor="#CDCDCD">
          
          <tr>
          	<th valign="middle" align="left">Campaign Name </th>
            <td colspan="3"><? echo $data[3]['inp_product_name']; ?><span class="msg-req">*</span></td>
          </tr>
          <tr>
            <th valign="middle" align="left">Campaign Content</th>
            <td colspan="3"><? echo $data[3]['inp_product_content']; ?></td>
          </tr>
          
          <tr>
          	<th valign="middle" width="120" align="left" >Country</th>
            <td colspan="3"><? echo $data[3]['inp_country']; ?></td>        
          </tr>
          
        <tr>  
			<th valign="middle" width="120" align="left" >Product</th>
            
        
         <td colspan="3" style="padding:0px; margin:0px;">&nbsp;
        
        
        
        
        	<div class="clear"></div>
            <ul class="list-style1" style="padding-left:5px;">
            <? echo $data[3]['inp_product_id']; ?>
            </ul>
           <div class="add-more" style="padding-left:510px;"><input type="button" value="Add" name="inp_addproduct" class="add_product" /></div>
      	</td>
      </tr>  
          <tr>
          	<th valign="middle" align="left">Publish</th><td colspan="3"><? echo $data[3]['inp_public']; ?> <span class="msg-req"></span></td>
          </tr>
        </table>
        
        
        <!--product promotion-->
 	
        <? echo $data[3]['inp_id']; ?>
        </form>
        
        <script type="text/javascript">
        <? 
        	echo $data[3]['script'];
        ?>
		</script>
      </div>
      	<div class="comment-req"><span class="msg-req">* Mandatory fields</span></div>
      <div class="h5"></div>
    </div>
    
    <div class="foter-control">
      <div class="panel_btn2"> <span class="btn" id="btn_close2" >Close</span> <span class="btn" id="btn_save2">Save</span>  </div>
    </div>
    <div class="footer">&nbsp;</div>
  </div>






</body>
</html>
