<ul class="navigation">
  <li><a href="index.php">Home</a></li>
  <li>Member
    <ul class="navigation_sub" style="display:none; width:155px;">
      <li><a href="regmember.php">Member Registration</a></li>
      <li><a href="newmember.php">Member Management</a></li>
      <li><a href="companybbs.php">Content Management</a></li>
    </ul>
  </li>
  <li>Tools
    <ul class="navigation_sub" style="display:none; width:120px;">
      <li><a href="restore.php">System Restore</a></li>
    </ul>
  </li>
  <li>Component
    <ul class="navigation_sub" style="display:none; width:200px;">
      <li><a href="category.php">Category</a></li>
      <li><a href="province.php">Province</a></li>
      <li><a href="ielocation.php">I.E. Location</a></li>
      <li><a href="Member Title FirstName Setting">Member Title FirstName Setting</a></li>
    </ul>
  </li>
  <li>Setting
    <ul class="navigation_sub" style="display:none; width:145px;">
      <li><a href="admin.php">Admin Management</a></li>
      <li><a href="user_setting.php">Change Password</a></li>
    </ul>
  </li>
  <li>Help</li>
</ul>
