<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo $data[0]; ?></title>
<link type="text/css" href="../admin/common/css/main.css" rel="stylesheet"  />
<script type="text/javascript" src="../common/tools/jquery-1.4.4.js" ></script>
</head>