{include file="jtb_header.tpl" }
<!--container-->
<div class="container">
  <!--navigation bar-->
  {include file="jtb_navigation_bar.tpl" }
  <!--navigation bar-->
  <!--banner-top-->

  <!--banner-top-->
  <!--container-left-->
  <div class="container-left">
    {$breadcamp}
	お申込は完了しませんでした。大変恐れ入りますが今一度お試しくださいませ。
  </div>
  <!--container-left-->
  <!--container-right-->
  {include file="jtb_container_right.tpl"}
  <!--container-right-->
</div>
<!--container-->
<!--footer-->
{include file="jtb_footer.tpl"}
<!--footer-->
<!--body-->
</body>
</html>