{include file="country_header.tpl" }
<!--container-->
<div class="container">
  <!--navigation bar-->
  {include file="country_navigation_bar.tpl" }
  <!--navigation bar-->
  <div class="header-slider">
  	<img src="images/country/001.jpg" alt="" />
    <img src="images/country/002.jpg" alt=""  class="hide" />
    <img src="images/country/003.jpg" alt=""  class="hide" />
    <img src="images/country/004.jpg" alt=""  class="hide" />
    <img src="images/country/005.jpg" alt=""  class="hide" />
    <img src="images/country/006.jpg" alt=""  class="hide" />
    <img src="images/country/007.jpg" alt=""  class="hide" />
    <img src="images/country/008.jpg" alt=""  class="hide" />
    <img src="images/country/009.jpg" alt=""  class="hide" />
    <img src="images/country/010.jpg" alt="" class="hide" />
  </div>
  
  <!--container-left-->
  <div class="container-left">
    {$breadcamp}
    
    <!--content detail-->
     <div class="header-text-tittle">海外おみやげ</div>
      <div class="text-content">
      	<!--text-->
      </div>
      <div  class="height10"></div>     
     <div  class="height10"></div>
      {if $config.country eq "TWN"}
      <ul class="campaign_list1">
          
            
           	<li><a href="./souvenir_campaign.php?id=4"><img height="168" width="767" src="/public/images/souvenir_banner/4-1.jpg" alt="季節限定！台湾フルーツ特集！">
</a></li>
          
      </ul>
      
      {/if}
    <!--content detail-->
  </div>
  <!--container-left-->
  <!--container-right-->
  {include file="country_container_right_souvenir.tpl"}
  <!--container-right-->
</div>
<!--container-->
<!--footer-->
{include file="country_country_footer.tpl"}
<!--footer-->
<!--body-->
</body>
</html>