<!--navigation bar-->
<!--navigation-top-->
<ul class="navigation-top">
  <li id="navtop-menu1"><a href="index.php">ＴＯＰ</a></li>
  <li id="navtop-menu2" class="noarrow"><a href="opt.php">オプショナルツアー</a>
    <ul class="submenu hide">
      {foreach from=$config.city item=city}
      <li><a href="{$config.documentroot}{$config.countryname}/search.php?inp_type=OPT&amp;inp_city={$city.id}">{$city.name}</a> {/foreach}
    </ul>
  </li>
  <li id="navtop-menu7" class="noarrow" ><a href="souvenir.php">海外おみやげ</a></li>
  <li id="navtop-menu4"><a href="#">キャンペーン･特集</a>
  	<ul class="submenu ">
   	 <li><a href="special_campaign.php">オプショナルツアー</a></li>
	 <li><a href="souvenir_special_campaign.php">海外おみやげ</a></li>
    </ul>
  </li>
  <li id="navtop-menu5"><a href="#">JTB各国支店</a>
    <ul class="submenu ">
      <li><a href="taiwan/">JTB台湾支店</a></li>
      <li><a href="indonesia/" >JTBバリ島/インドネシア</a></li>
      <li><a href="thailand/">JTBタイ支店</a></li>
      <li><a href="vietnam/">JTBベトナム支店</a></li>
      <li><a href="cambodia/">カンボジア（JTBベトナム支店）</a></li>
      <li><a href="malaysia/">JTBマレーシア支店</a></li>
      <li><a href="singapore/">JTBシンガポール支店</a></li>
      <li><a href="hongkong/">マイバス香港</a></li>
      <li><a href="australia/">JTBオーストラリア支店</a></li>
      <li><a href="newzealand/">JTBニュージーランド支店</a></li>
    </ul>
  </li>
</ul>
<!--navigation-top-->
<div class="clear"></div>
<!--navigation-bottom-->
<ul class="navigation-bottom-toppage" >
  {foreach from=$jtb_nav item=nav}	
  	 
  
  <li id="navbottom-menu{$nav.id+1}" class="arrow1"><a href="{$config.documentroot}{$nav.path}/">{if $nav.path eq 'indonesia'}バリ島/インドネシア
{else}{$nav.name}{/if}</a>
    {if $nav.path != 'hongkong'}
    <ul class="submenu hide">
      <li><a href="{$config.documentroot}{$nav.path}/opt.php"> オプショナルツアー </a>
        <ul class="{if $nav.id > 6}submenu2a{else}submenu2{/if}"  >
          {foreach from=$nav.city item=nav2}
          <li> <a href="{$config.documentroot}{$nav.path}/search_opt.php?inp_country={$nav.country_iso3}&amp;inp_city={$nav2.city_iso3}">
          	{$nav2.city_name}</a>
          </li>
          {/foreach}
        </ul>
      </li>
      {if $nav.path eq 'taiwan' || $nav.path eq 'singapore' || $nav.path eq 'newzealand' || $nav.path eq 'malaysia' || $nav.path eq 'indonesia' || $nav.path eq 'vietnam' || $nav.path eq 'australia' || $nav.path eq 'thailand'}
      <li >
         <a href="{$config.documentroot}{$nav.path}/souvenir.php" >海外おみやげ</a>
         <ul class="{if $nav.id > 6}submenu2a{else}submenu2{/if}"> 
         	{if $nav.path eq 'singapore' || $nav.path eq 'newzealand' || $nav.path eq 'thailand'}
         	<li><a href="{$config.documentroot}{$nav.path}/souvenir_search.php?inp_country={$nav.country_iso3}&inp_location=1" >現地受取</a></li>
            {/if}
            <li><a href="{$config.documentroot}{$nav.path}/souvenir_search.php?inp_country={$nav.country_iso3}&inp_location=2" >日本受取</a></li>
            <li><a href="{$config.documentroot}{$nav.path}/spage.php?id=user_guide.html" >利用ガイド</a></li>
         </ul>
      </li>
      {/if}
    </ul>
    {/if}
  </li>
  
  {/foreach}
</ul>
<div class="clear"></div>
<!--navigation-bottom-->
<!--navigation bar-->