{include file="jtb_header.tpl" }
<!--container-->
<div class="container">
  <!--navigation bar-->
  {include file="jtb_navigation_bar.tpl" }
  <!--navigation bar-->
  <div class="header-slider">
  	<img src="public/images/index.php?root=country&amp;width=967&amp;name=001.jpg" alt="" />
    <img src="public/images/index.php?root=country&amp;width=967&amp;name=002.jpg" alt=""  class="hide" />
    <img src="public/images/index.php?root=country&amp;width=967&amp;name=003.jpg" alt=""  class="hide" />
    <img src="public/images/index.php?root=country&amp;width=967&amp;name=004.jpg" alt=""  class="hide" />
    <img src="public/images/index.php?root=country&amp;width=967&amp;name=005.jpg" alt=""  class="hide" />
    <img src="public/images/index.php?root=country&amp;width=967&amp;name=006.jpg" alt=""  class="hide" />
    <img src="public/images/index.php?root=country&amp;width=967&amp;name=007.jpg" alt=""  class="hide" />
    <img src="public/images/index.php?root=country&amp;width=967&amp;name=008.jpg" alt=""  class="hide" />
    <img src="public/images/index.php?root=country&amp;width=967&amp;name=009.jpg" alt=""  class="hide" />
    <img src="public/images/index.php?root=country&amp;width=967&amp;name=010.jpg" alt="" class="hide" />
  </div>
  
  <!--container-left-->
  <div class="container-left">
    {$breadcamp}
    
    <!--content detail-->
     <div class="header-text-tittle">キャンペーン・特集ページ</div>
      <div class="height10"></div>
      <div class="height5"></div>
     <!--
      <ul class="campaign_tab">
  		<li id="campaign_tab1" class="active">&nbsp;</li>
    	<li id="campaign_tab2" >&nbsp;</li>
      </ul>-->
      
      <div class="clear"></div>
      <div class="height5"></div>
      <div class="text-content">
      	JTBがお届けする、MyBusブランドのオプショナルツアー キャンペーン・特集
      </div>
      <div  class="height20"></div>
      
      <ul class="campaign_list1">   
      {$banner_opt}
      </ul>
      
      <ul class="campaign_list2 hide"> 
      {$banner_pkg}
      </ul>
      
    <!--content detail-->
  </div>
  <!--container-left-->
  <!--container-right-->
  {include file="jtb_container_right.tpl"}
  <!--container-right-->
</div>
<!--container-->
<!--footer-->
{include file="jtb_footer.tpl"}
<!--footer-->
<!--body-->
</body>
</html>