{include file="jtb_header.tpl" }
<!--container-->
<div class="container">
  <!--navigation bar-->
   {include file="jtb_navigation_bar.tpl" }
  <!--navigation bar-->
  <!--banner-top-->
  <div class="header-slider"> <img src="public/images/index.php?root=country&amp;width=967&amp;name=001.jpg" alt="" />
    <img src="public/images/index.php?root=country&amp;width=967&amp;name=002.jpg" alt=""  class="hide" />
    <img src="public/images/index.php?root=country&amp;width=967&amp;name=003.jpg" alt=""  class="hide" />
    <img src="public/images/index.php?root=country&amp;width=967&amp;name=004.jpg" alt=""  class="hide" />
    <img src="public/images/index.php?root=country&amp;width=967&amp;name=005.jpg" alt=""  class="hide" />
    <img src="public/images/index.php?root=country&amp;width=967&amp;name=006.jpg" alt=""  class="hide" />
    <img src="public/images/index.php?root=country&amp;width=967&amp;name=007.jpg" alt=""  class="hide" />
    <img src="public/images/index.php?root=country&amp;width=967&amp;name=008.jpg" alt=""  class="hide" />
    <img src="public/images/index.php?root=country&amp;width=967&amp;name=009.jpg" alt=""  class="hide" />
    <img src="public/images/index.php?root=country&amp;width=967&amp;name=010.jpg" alt="" class="hide" /> </div>
  <!--banner-top-->
  <div class="container-left">
    {$breadcamp}
    <!--content detail-->
     <div class="header-text-tittle">海外おみやげ</div>
      <div class="text-content">
      	
      </div>
      <div  class="height10"></div>     
      
      <ul class="campaign_list1">
          
            
           	<li><a href="/taiwan/souvenir_campaign.php?id=4"><img height="168" width="767" src="/public/images/souvenir_banner/4-1.jpg" alt="季節限定！台湾フルーツ特集！">
</a></li>
          
      </ul>
      
    
      
      
    <!--content detail-->
  </div>
  <!--container-left-->
  <!--container-right-->
  {include file="jtb_souvenir_container_right.tpl"}
  <!--container-right-->
</div>
<!--container-->
<!--footer-->
{include file="jtb_footer.tpl"}
<!--footer-->
<!--body-->
</body>
</html>