@charset "utf-8";
/* CSS Document */

*,div,span,table,tr,td,th,p,ul,li,strong,u{ padding:0px; margin:0px; }
ul,li{list-style:none;}

body{
	background:url(../images/body_bg.jpg) repeat-x;
	font-family:'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, Verdana, Arial, sans-serif;
	font-size:13px;
	line-height: 18px;
	word-spacing: normal;
	font-weight: normal;
}
/* common */
.clear{clear:both;}

a{color:#c41010;}
a:link, a:visited{ color:#c41010;text-decoration:none;}
a:hover,a:active{  color:#c41010; text-decoration:underline;}

.line_style1 {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #686868;
	margin-top: 15px;
}

.hide{display:none;} img.hide{display:none;}

.f-right{float:right; }
.f-left{float:left; }

.left18{padding-left:18px;}

.search-menu-text1{line-height:20px; background:#EFEFEF; border:#999 solid 1px; padding-left:5px; width:183px; margin-left:12px;}
.search-menu-text2{line-height:20px; background:#EFEFEF; border:#999 solid 1px; padding-left:5px; width:183px; display:block; float:left;}

.height5{height:5px;   line-height:5px; font-size:5px;}
.height10{height:10px; line-height:10px; font-size:10px;}
.height20{height:20px; line-height:20px; font-size:20px;}
.height50{height:50px; line-height:50px; font-size:50px;}

.ptop10{padding-top:10px;}
.p-bottom8{padding-bottom:8px;}
.pleft5{padding-left:5px;}
.p-right3{padding-right:3px;}

.border-b4{height:4px; line-height:4px; font-size:4px; background:#E9E9E9;}

.price{padding-left:7px;}
.price .number{color:#F00; font-weight:bold; font-size:18px; line-height:20px; font-family:Verdana, Geneva, sans-serif;}
.yan{color:#333; font-size:12px;}
.txt-red-bold{color:#F00; font-weight:bold; font-size:14px;}
.txt-red-bold-price{ color: #C41010; font-weight:bold; font-size:12px;}
/* common */

/* header */
.header{ height: 103px; position: relative; width: 990px; margin:auto;}
.header-quicklink{font-size:12px; float:right; width:180px; padding-top:10px; padding-right:5px;}
.header-quicklink li{float:left; padding:0px 0px 0px 5px;  }
.header-quicklink li a{ text-decoration:none;}
.header-quicklink li a:hover{text-decoration:underline;}
.jtb-logo{position:absolute; top:10px; left:5px; border:none; }
.jtb-logo2{position:absolute; top:10px; left:127px; border:none;}
.mybus-logo{position:absolute; top:10px; left:5px; border:none;}

a.header-logo-text-link{ color: #C41010; text-decoration:none; font-size:12px; position:absolute; left:10px; top:5px;}
a.header-logo-text-link:hover{ text-decoration:underline;}
.header .social{ padding-top:5px;}

.header-quicklink{font-size:12px; float:right; width:180px; padding-top:10px; padding-right:5px;}
.header-quicklink li{float:left; padding:0px 0px 0px 5px; }
.header-quicklink li a{ text-decoration:none;}
.header-quicklink li a:hover{text-decoration:underline;}
/* header */

/* navigation */
.navigation-top{background:url(../images/nav_top.jpg) top left no-repeat; height:32px; width:990px;}
.navigation-top li{float:left; line-height:32px; width:180px; text-align:center; color:#FFF; position:relative;}
.navigation-top a{ color:#FFF; text-decoration:none; font-weight:bold;} 

.navigation-footer{height:41px; margin:auto;}
.navigation-footer li{ line-height:20px; float:left; text-align:center; padding:15px 20px 0px 20px; font-size:14px;  position:relative; font-weight:bold;}
.navigation-footer ul{ color:#FFF; list-style:none; position:absolute; left:0px; top:40px;  }
.navigation-footer ul li{float:none; line-height:25px; text-align:left; font-weight:normal; padding-top:3px;}

#navtop-menu1,#navtop-menu2,#navtop-menu3,#navtop-menu4,#navtop-menu5{background:url(../images/nav_top.jpg) top right no-repeat; text-indent:-9999px;}
#navtop-menu1 a,#navtop-menu2 a,#navtop-menu3 a,#navtop-menu4 a,#navtop-menu5 a{ width:100%; display:block; cursor:pointer;}

#navtop-menu2 .submenu,#navtop-menu3 .submenu,#navtop-menu5 .submenu{ position:absolute; left:0px; top:32px; display:block; z-index:101;}


#navtop-menu2 .submenu li a,
#navtop-menu3 .submenu li a,
#navtop-menu5 .submenu li a{
	text-indent: 0;
	display: block;
	color: #fff;
	font-weight: normal;
	padding: 10px;
	line-height: 16px;
	height: 16px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c0494a;
	width: 170px;
	background:#a3100c;
	text-align: center;
}
#navtop-menu2 .submenu ,
#navtop-menu3 .submenu ,
#navtop-menu5 .submenu {display:none;}


#navtop-menu2 .submenu li a:hover,
#navtop-menu3 .submenu li a:hover,
#navtop-menu5 .submenu li a:hover{ background:#fa830b;	 }



.navigation-bottom li,
.navigation-bottom-toppage li 
{position:relative; display:block;}

.navigation-bottom li .submenu,
.navigation-bottom-toppage li .submenu{ position:absolute; left:0px; top:34px; z-index:100; border:none;   }

.navigation-bottom li .submenu li,
.navigation-bottom-toppage li .submenu li
{ 
	border:none;
	width:170px;
	font-weight: normal;
	padding: 10px;
	line-height: 16px;
	height: 17px;
	text-align: center;
	background: url(../images/nav/grey_hover_button.gif) repeat-x #f0f0f0;
	border-left: 3px solid #CCC;
	border-right: 1px solid #CCC;
	display:block;
} 

.navigation-bottom li .submenu li:hover,
.navigation-bottom-toppage li .submenu li:hover
{

	border-left: 3px solid #c0494a;
	border-right: 1px solid #c0494a;
}


.navigation-bottom-toppage li a,
.navigation-bottom li a
{
	width:100%; 
	display:block; 
	cursor:pointer;
	color:#d31818;
}

.navigation-bottom-toppage li a:hover,
.navigation-bottom li a:hover{
	color:#1B3A8F;
}

#navtop-menu1{ background:url(../images/nav/nav_top.jpg); width:129px; }
#navtop-menu2{ background:url(../images/nav/nav_optional_tour_arrow.jpg); width:190px;}
#navtop-menu3{ background:url(../images/nav/nav_land_package_arrow.jpg); width: 190px;}

#navtop-menu2.noarrow{ background:url(../images/nav/nav_optional_tour.jpg); width:190px;}
#navtop-menu3.noarrow{ background:url(../images/nav/nav_land_package.jpg); width: 190px;}

#navtop-menu4{ background:url(../images/nav/nav_special_campaign.jpg); width:190px;}
#navtop-menu5{ background:url(../images/nav/nav_branches_arrow.jpg); width:190px;}

#navtop-menu1:hover, #navtop-menu1:active,
#navtop-menu2:hover, #navtop-menu2:active,
#navtop-menu3:hover, #navtop-menu2:active,
#navtop-menu4:hover, #navtop-menu2:active,
#navtop-menu5:hover, #navtop-menu2:active{ background-position:bottom;}

.navigation-bottom{height:34px; width:990px; margin:auto; font-family:'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif; background:url(../images/nav/grey_hover_button.gif) repeat-x bottom left; margin-bottom:8px;}
.navigation-bottom li{ line-height:33px; float:left; text-align:center; 
 font-size:13px; display:block; padding:0px 35px 0px 35px; border-right:#CCC solid 1px;}

.navigation-bottom-toppage lii:first-child,
.navigation-bottom li:first-child{ border-left:#CCC solid 1px;}
.navigation-bottom-toppage li{ line-height:33px; float:left; text-align:center; 
 font-size:13px; display:block; padding:0px 18px 0px 18px; border-right:#CCC solid 1px;}
 
.navigation-bottom-toppage a{ float:left; color:#AA0F0F; width:100%;  display:block; cursor:pointer; }
.navigation-bottom-toppage a:hover{color:#1B3A8F;  }

.navigation-bottom{position:relative; height:33px; width:990px; margin:auto; margin-bottom:8px;}

.navigation-bottom-toppage{ position:relative; height:33px; width:990px; margin:auto; font-family:'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif; background:url(../images/nav/grey_hover_button.gif) repeat-x bottom left; margin-bottom:8px;}
.navigation-bottom-toppage li:first-child{ border-left:#CCC solid 1px;}
.navigation-bottom-toppage li{ line-height:33px; float:left; text-align:center; 
 font-size:13px; display:block; padding:0px 18px 0px 18px; border-right:#CCC solid 1px;}
.navigation-bottom-toppage a{ float:left; color:#AA0F0F; width:100%;  display:block; cursor:pointer; }
.navigation-bottom-toppage a:hover{color:#1B3A8F;  }



ul.hide{display:none;}
.submenu.hide{display:none;}
body .submenu2{display:none;}
body .submenu2a{display:none;}

.submenu li{position:relative;}
.submenu .submenu2{position:absolute; left:190px; top:0px;}
.submenu .submenu2a{position:absolute; left:-197px; top:0px; width:200px;}


.arrow1{ background:url(../images/nav/ico_nav_arrow_bottom.gif) right bottom no-repeat; }
/* navigation */

/* content_mid */
.container{width:990px; margin:auto; background:url(../images/body_fix_nav.jpg) left 0px repeat-x #FFF; }
.container-center{ width:990px; margin:auto; font-size:12px; line-height:16px;}
.container-left{ width:769px; float:left; font-size:12px; line-height:16px; padding-left:15px; overflow:hidden;}
.container-right{width:183px; float:right;  padding-bottom:5px; margin-right:13px; }

.header-slider{   width:964px; height:220px; position:relative; overflow:hidden; margin:auto; margin-bottom:8px; }
.header-slider img{position:absolute; left:0px; top:0px; display:block; /*z-index:-1;*/}
.header-slider img.hide{display:none;}
.header-slider img{position:absolute; left:0px; top:0px; display:block; /*z-index:-1;*/}
.product-top-image img.hide{display:none;}

.footer{height:279px; background:url(../images/bg-footer.jpg) left top repeat-x; position:relative; width:964px; margin:auto; }
.footer-bottom{ height:40px; width:964px;}
.footer-bottom,.footer-bottom a{ color:#FFF; text-decoration:none; font-size:12px;}
.footer-bottom a:hover{text-decoration:underline;}
.footer-bottom .footer-bottom-quicklink{ float:left; width:300px; }
.footer-bottom .footer-bottom-quicklink li{float:left; padding:0px 0px 0px 5px; }
.footer-bottom .footer-bottom-right{float:right; padding-right:5px;}

.text-content{ padding:8px 0px 0px 0px; display:block;}
.text-content p{padding-left:0px; line-height:18px;}

.header-text-tittle{
	background-image: url(../images/header-text-title.gif);
	height: 33px;
	width: 753px;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	line-height: 33px;
	padding-left: 15px;
	margin-top: 15px;
}

.container-right-list li{  display:block; padding-bottom:7px; background:url(../images/ranking_body.jpg) repeat-y;}
.container-right-border{background:url(../images/tittle-top-right-text.jpg) 0px -45px repeat-x; height:1px; line-height:1px; font-size:1px;}
.container-right-list{ background:url(../images/ranking_bottom.jpg) left bottom no-repeat; padding-bottom:3px;}

.text-header{ padding:10px 0px 0px 0px;}

.image-slider{ background: url(../images/slider_main.jpg) bottom repeat-x; 
display:block; height:226px; margin-bottom:8px; width:767px; padding-left:1px; font-size: 12px; }
.slider-left,.slider-left2{   background:url(../images/slider_btn.gif) -74px 54px no-repeat ; width:29px; height:225px; display:block; float:left; cursor:pointer; overflow:hidden;}
.slider-mid,.slider-mid2{background: url(../images/bg_slider_mid.jpg) bottom repeat-x;
width:708px; height:225px; display:block; float:left; position:relative; overflow:hidden; }


.slider-content-index-mid{position:absolute; left:0px; top:0px;}
.slider-right,.slider-right2{   background:url(../images/slider_btn.gif) 3px 54px no-repeat; width:29px; 
height:225px; display:block; float:left; cursor:pointer; overflow:hidden;}


.slider-content-index{ height:225px; position:absolute; left:0px; top:0px;}
.slider-content-index2{height:225px; position:absolute; left:0px; top:0px;}
.slider-content{  height:200px; width:708px; position:relative; } 
.slider-content-mid{position:absolute; left:0px; top:0px;}

.slider-list{width:177px; height:225px; display:block; float:left;  }
.slider-img{ padding-top:20px; margin:auto; width:170px; display:block;}
.slider-text1{color:#FF1E1E; font-weight:bold; padding-left:8px; float:left; line-height:20px; padding-top:2px; font-size:12px;}
.slider-text2{color:#0C6A06; font-weight:bold; width:90px; float:right; line-height:20px; padding-top:2px;  position:absolute; left:80px; top:94px;}
.slider-tittle1{color:#000; font-weight:bold; padding-left:8px; font-size:14px; line-height:16px; text-align:left;}
.slider-tittle2{color:#000; padding-left:8px; font-size:12px; line-height:14px;}
.slider-price{padding-left:8px; padding-top:2px; font-size:12px; line-height:16px;}
.slider-txt-red-big{color:#FF1E1E; font-weight:bold; font-size:20px;}
.slider-txt-red{color:#FF1E1E; font-weight:bold; font-size:16px;}

.content a{text-decoration:none;}
.content a:hover{ text-decoration:underline;}

.image-slider a{text-decoration:none;}
.image-slider a:hover{ text-decoration:underline;}
/* content_mid */

/* content_right */
.right-list-product-img{ padding-left:15px; padding-top:2px; float:left;}
.right-list-product-txt{float:left; width:175px; font-size:10px; padding-left:5px; padding-top:0px;}
.right-list-product-txt a{ text-decoration:none;}
.right-list-product-txt a:hover{ text-decoration:underline;}
.right-list-product-txt1{color:#730000; font-weight:bold; line-height:18px;}
.right-list-rank-border{background:url(../images/right_rank_list_border.gif) 4px 7px no-repeat;
line-height:10px; font-size:10px; height:10px; display:block; width:178px; }

.right-list-product-tittle{line-height:18px; padding-top:3px; font-size:14px; font-weight:bold; color:#730000; margin-left:5px; }
.right-list-product-tittle:hover{ text-decoration:underline; color:#730000;}

.height3{line-height:3px; height:3px; display:block; font-size:3px;}

.container-right .icontop1{background:url(../images/icon_top1.jpg) 7px top no-repeat; padding-left:35px; 
line-height:25px; height:48px; font-size:14px; font-weight:bold; color:#730000; display:block; }

.container-right .icontop2{background:url(../images/icon_top2.jpg) 7px top no-repeat; padding-left:35px; 
line-height:25px; height:48px; font-size:14px; font-weight:bold; color:#730000; display:block;}


.container-right .icontop3{background:url(../images/icon_top3.jpg) 7px top no-repeat; padding-left:35px; 
line-height:25px; height:48px; font-size:14px; font-weight:bold; color:#730000; display:block;}

.container-right .icontop4{background:url(../images/icon_top4.jpg) 7px top no-repeat; padding-left:35px; 
line-height:25px; height:48px; font-size:14px; font-weight:bold; color:#730000; display:block;}

.container-right .icontop5{background:url(../images/icon_top5.jpg) 7px top no-repeat; padding-left:35px; 
line-height:25px; height:48px; font-size:14px; font-weight:bold; color:#730000; display:block;}

.container-right .right-list-product-subject.icontop1 a,
.container-right .right-list-product-subject.icontop2 a,
.container-right .right-list-product-subject.icontop3 a,
.container-right .right-list-product-subject.icontop4 a,
.container-right .right-list-product-subject.icontop5 a{ color:#730000; text-decoration:none;}

.container-right .icontop1 a:hover,
.container-right .icontop2 a:hover,
.container-right .icontop3 a:hover,
.container-right .icontop4 a:hover,
.container-right .icontop5 a:hover{  color:#730000;text-decoration:underline;}

.banner-navigation-main{ overflow:hidden; width:767px; height:168px; display:block; background:FFF; position:relative;}
.banner-navigation-main a{ position:absolute; left:0px; top:0px;}

.cateogry_text li a{text-decoration:none;}
.cateogry_text li a:hover{text-decoration:underline;}

.product-top-image img.hide{display:none;}

img.hide{display:none;}

.optional_tour_ranking_head {
	background: url(../images/optional_package_rank_head.jpg) 0px top no-repeat;
	height: 38px;
	width: 182px;
	display: block;
	text-indent:-9999px;
}

.land_package_ranking_head {
	background: url(../images/land_package_ranking_head.jpg) 0px top no-repeat;
	height: 38px;
	width: 182px;
	display: block;
	margin-top: 10px;
	text-indent:-9999px;
}
/* content_right */

/* footer */
.footer-bg {
	background: url(../images/bg_footer.gif) repeat-x #9C0301;
	margin-top: 30px;
}
.bg_footer a:hover{text-decoration:underline;}
/* footer */

/* breadcamp */
ul.breadcamp{ padding:0px 0px 5px; height:20px; display:block; background:url(../images/breadcamp_border.jpg) left bottom repeat-x; margin-bottom:5px; }
ul.breadcamp li{ float:left; line-height:25px;}
ul.breadcamp li a{color:#C41010; }
ul.breadcamp span{padding:0px 10px 0px 10px; color:#C41010; }

ul.bread-camp{ padding:0px 0px 5px; min-height:20px; display:block;
background:url(../images/breadcamp_border.jpg) left bottom repeat-x; margin-bottom:5px; overflow:hidden;}
ul.bread-camp li{ float:left; line-height:25px;}
ul.bread-camp li a{color:#C41010; }
ul.bread-camp span{padding:0px 10px 0px 10px; color:#C41010; }
/* breadcamp */

/* search*/
.serach-menu-left{background:#980a0c; 
width:213px; border-bottom:#4E0707 solid 1px; float:left; height:424px; margin-top:15px;}
.serach-menu-left-tittle{background:url(../images/style2_search_header.jpg) 10px top no-repeat; 
width:213px; height:45px; display:block; text-indent:-9999px;}
.search-menu-subject1{font-size:12px; line-height:24px; color:#FFF; padding-left:10px;  
font-family:'Hiragino Kaku Gothic Pro',Osaka, Verdana, Arial, sans-serif; }
.search-left-button{background:url(../images/style2_search_button.gif) left top no-repeat; 
width:194px; height:32px; display:block; text-indent:-9999px; border:none; cursor:pointer; margin:auto;}


.search-left-button:hover{background:url(../images/style2_search_button.gif) left bottom no-repeat; 
width:194px; height:32px; display:block; text-indent:-9999px; border:none; cursor:pointer; margin:auto;}

.search-left-button:active{background:url(../images/style2_search_button.gif) left bottom no-repeat; 
width:194px; height:32px; display:block; text-indent:-9999px; border:none; cursor:pointer; margin:auto;

}
.serach-menu-left p{color:#FFF; padding-left:12px; }
.serach-menu-left a{color:#999; line-height:25px;}
.search-left-selectbox{width:190px; height:23px; margin:auto; display:block;}

.search_left_inp{width:186px; padding:2px; margin:auto; display:block;}
.search-center{margin:auto; width:190px;}
.container-wsearch-left{ float:right; background:url(../images/vertical_slide_box_bg_footer.jpg) 0px bottom no-repeat; 
width:544px; height:425px; display:block; margin-top:15px; }

.container-wsearch-left .content{height:378px; padding-top:10px; background:url(../images/vertical_slide_box_bg.jpg) left top repeat-y;}

.container-wsearch-tittle{font-family:'Hiragino Kaku Gothic Pro',Osaka, Verdana, Arial, sans-serif; font-size:20px; line-height:32px; color:#FFF;
background:url(../images/vertical_slide_box_topic.jpg) repeat-x; height:33px; font-weight:bold; padding-left:10px;}
/* search*/

/* slider */
.slider-box-top{background:url(../images/style2_sliderbar_top.jpg) 0px 0px no-repeat; width:109px; height:16px; margin-left:40px; cursor:pointer; float:left;}
.slider-box-bottom{background:url(../images/style2_sliderbar_top.jpg) 0px -17px no-repeat; width:109px; height:16px;  margin-left:40px; cursor:pointer; float:left;}


.slider-content{width:535px; height:335px; display:block; overflow:hidden; float:left; }
.slider-content-mid li{ padding-left:10px;  padding-bottom:10px; display:block; height:75px;}
.slider-content-mid li strong{line-height:16px;}
.slider-content img{float:left; padding-right:5px; padding-top:5px;}
.slider-media-text{width:350px; float:left; padding-top:5px;}
.slider-media-text .slider-text1{ padding-right:10px; }
.slider-media-text .slider-text2{ float:left;}
.slider-media-text p{padding-left:7px; }

.slider-content-index2 .slider-media-text{width:177px;}
.slider-content-index .slider-media{margin-top:5px;}
.slider-content-index2 .slider-media{margin-top:5px;}
.slider-content-index .slider-media-text{width:177px; }
/* slider */

/* banner navigation */
.banner-navigation-btn li{
	background-color: #8B826F;
    color: #FFFFFF;
    cursor: pointer;
	padding:3px 7px 3px 7px;
	float:left;
	margin:3px 3px 0px 0px; 
}
.banner-navigation-btn li:hover{ background-color: #333;}
/* banner navigation */

/* category opt */
.category{ width:768px; height:240px; display:block; padding-bottom:10px;}
.category .category_box{width:256px; float:left; background:url(../images/theme_column_box.jpg) left bottom no-repeat; height:237px;}

.category .category_tittle{ 
	background: url("../images/icon_theme.jpg") 0px 2px no-repeat;
    color: #353535;
    padding-bottom: 3px;
    padding-left: 10px;
	font-weight:bold;}


.category .category_text{padding-top:10px; padding-left:15px;}
.category .category_text li{line-height:16px; font-size:12px; background:url(../images/icon_theme_topic.jpg) left 5px no-repeat; padding-left:10px;
width:210px; padding-bottom:3px;}
.category .category_text li a{color:#000;}
.category .category_text li a:hover{text-decoration:underline;}

.category .category_image{position:relative; width:230px; height:94px;  margin-top:8px; margin-left:10px;}
.category .category_image img{position:absolute; left:0px; top:0px;}
.category .category_image img{display:block; margin:auto; padding-top:5px;}

/* category opt */

/* category lp */
.category2{ width:768px; height:230px; display:block; padding-bottom:10px; position:relative;}
.category2 .category_box{width:768px; float:left; background:url(../images/theme_column_box2.jpg) left bottom no-repeat; height:227px;}

.category2 .category_tittle{ 
	background: url("../images/icon_theme.jpg") 0px 2px no-repeat;
    color: #353535;
    padding-bottom: 3px;
    padding-left: 10px;
	font-weight:bold;}

.category2 .category_text{padding-top:15px; padding-left:15px;}
.category2 .category_text li{line-height:25px; font-size:14px; background:url(../images/icon_theme_topic.jpg) left 9px no-repeat; padding-left:10px; }
.category2 .category_text li a{color:#000;}
.category2 .category_text li a:hover{text-decoration:underline;}

.category2 .category_image{position:relative; width:230px; height:94px;  margin-top:8px; margin-left:10px;}
.category2 .category_image img{position:absolute; left:0px; top:0px;}
.category2 .category_image img{display:block; margin:auto; padding-top:5px;}

.category2 .category_link{position:absolute; right:10px; bottom:20px; display:block; text-align:right; font-size:10px; }

.category2 .category_link:hover{text-decoration:underline; color:#c41010;	}

.category2 .category_product_detail{width:510px; position:absolute; right:10px; top:33px; } 
.category2 .category_product_detail .tittle{font-weight:bold; font-size:12px;  display:block; padding-bottom:10px; }
.category2 .category_product_detail .tittle:hover{text-decoration:underline; color:#c41010;}
.category2 .category_product_detail .price{ color:#c41010; font-weight:bold; font-size:14px; padding-left:0px; margin-left:0; padding-top:5px; float:left;} 
/* category lp */

/* product */

.product-top-image{background:none; padding:1px; width:766px; height:250px; position:relative; overflow:hidden;}
.product-top-image img{display:block; width:766px; height:250px; position:absolute; left:0px; top:0px;
border:#CF0000 solid 1px; border-top:none;}
.product-button{height:195px; padding-left:2px; padding-top:3px; background:#F7F7F7; border-bottom:#CDCDCD solid 1px;}
.product-button-list li{float:left; width:153px; }
.product-button-list img{width:150px; height:70px; margin:auto; display:block; margin-bottom:3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor:pointer; 
  opacity: .5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  text-indent:-9999px;
}

.product-button-cat{ 
  padding:3px 5px 3px 5px; 
  color: #FFF;
  margin-left:2px; float:left;
  background:#6E6E6E;
  
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

}

.product-btncat-box{float:left; width:550px; padding-top:5px;}
.product-rew-box{float:left; width:210px; padding-top:5px;}

.btn-review{background:url(../images/btn_product_review.jpg) left top no-repeat; display:block; 
text-indent:-9999px; width:141px; height:29px;
float:right; 
 -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.btn-review:hover{background:url(../images/btn_product_review_hover.jpg) left top no-repeat; display:block; 
}

.product-detail{ 
 background: #F7F7F7; margin-top:10px; border:#CDCDCD solid 1px; padding:15px 10px 15px 10px; line-height:20px;
 
}
.product-detail p{ padding-top:3px; padding-bottom:3px; }
.product-detail p strong{ padding-right:10px;}
.product-information{
 background: #F7F7F7; margin-top:10px; border:#CDCDCD solid 1px; padding:5px 10px 15px 10px; line-height:20px;
 }
 .product-policy{
  background:#FFFBEE; margin-top:10px; border:#EADDB7 solid 1px; padding:15px 10px 15px 10px; line-height:20px;
}
 
.product-info{padding:0px 0px 5px 0px; }
.product-info p{padding-top:3px; padding-bottom:3px; /*border-bottom:#666 dotted 1px;*/}
.product-info strong{padding-right:10px;}

.product-time-tb{width:747px; margin:auto; background:#C0C0C0;}
.product-time-tb th{ width:100px; line-height:25px; font-weight:normal; background:#FFF; color:#1D3794; }
.product-time-tb td{ background:#FFF; }

.product-time-tb th.table-header{ background:#DBDBDB; font-weight:bold; text-align:left; padding-left:10px; color:#000;}
.product-sbj{width:200px; float:left; border:none; }
.product-info p{padding-top:10px; padding-bottom:10px; /*border-bottom:#666 dotted 1px;*/ }
.product-table{ padding-top:10px; padding-bottom:10px; /*border-bottom:#666 dotted 1px;*/}
.product-table strong{padding-bottom:3px; line-height:20px; display:block;}


.product-btn-booking{background:url(../images/btn_booking.jpg) left top no-repeat; width:299px; height:51px; display:block; margin:auto;
text-indent:-9999px; margin-top:0px; margin-bottom:0px;
-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
} 

.tbform a:hover{ text-decoration:underline;}
.text-policy{padding:5px 0px 5px 0px;}
.text-policy p{ padding:0px 5px 0px 5px; }

.policy_link{text-align:right; padding-right:10px; }
.policy_link a{color:#750000;}
.policy_link a:hover{ text-decoration:none;}

.product-time-tb td{padding-left:5px; padding-right:5px;}
.product_text{margin-left:10px; margin-right:10px; border-bottom:#666 dotted 1px; padding-bottom:5px;}

/* product */ 

/* searching page*/
.box-search-header{background:url(../images/head_search.jpg) left top repeat-x; height:36px; text-indent:-9999px;}

.box-search{

  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background:#EEE; color:#000; height:95px;}
.box-search ul{width:225px; float:left; padding-left:10px;}
.box-search ul li{height:25px; display:block; line-height:20px; padding-top:5px;}
.box-search p{width:50px; float:left;}
.box-search .boxsearch{padding-top:35px;}

.btn-order{ height:20px; float:right; line-height:20px; margin-left:5px; color:#FFF; text-align:center; }

.search-result{background:#EFEFEF;
  height:150px;
  background:#FFFBEE; margin-top:10px; border:#EADDB7 solid 1px; /*padding:15px 10px 15px 10px; line-height:20px;*/
  position:relative;
}

.search-result img{ margin-top:10px; margin-left:10px; border:#FFF solid 5px; float:left;} 
.search-result-content{width:480px; float:left; padding-left:10px; padding-top:10px;} 
body .container-left .search-result-content p{width:480px; }

.search-result-content .price{padding-left:0px;}

.search-result-category{ width:700px; display:block; position:absolute; bottom:5px; left:10px;}
.search-result-category li{
  float:left; 
  margin-left:5px;
	
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
 
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background:#FFA928;
  text-decoration:none;
  color:#FFF;
  padding-left:5px; padding-right:5px; 
  
}

.box-search{position:relative;}
.box-search .box-search1 p{ width:37px;}
.box-search .box-search1{padding-left:5px; width:230px;}
.box-search .box-search1 selectbox{ float:left; }
.box-search .box-search2 p{width:65px;}
.box-search .box-search2{width:215px;}
.box-search .box-search3 p{width:90px;}
.box-search .box-search3{width:230px;}
.box-search .box-search4{width:75px; float:right; right:5px; top:20px; position:absolute;}
.box-search .box-search4 .btn_search{	
background:url(../images/btn_search2.jpg) left top no-repeat;
width:76px; height:30px;  display:block;
border:none;
text-indent:-9999px;
cursor:pointer;
}

.box-search .box-search4 .btn_search:hover{background:url(../images/btn_search2.jpg) left bottom no-repeat;}
.box-search .box-search4 .btn_search:active{background:url(../images/btn_search2.jpg) left bottom no-repeat;}
body .box-search .box-search2 .search-left-selectbox2{width:140px; }
.box-search .box-search3 p{width:40px;}

.search-result .search-result-content p{width:500px;}

.btn-order a{text-decoration:none; }

.page_navi .pagination_first,.page_navi .pagination_last{display:none;}

.search-result a{text-decoration:none;}
.search-result a:hover{ text-decoration:underline; }

.search-result a.review:hover{text-decoration:none; color:#FFF;}
/* searching page*/

/* pagination */
.pagi-search-result{ border-bottom:#CCC solid 1px; line-height:20px; padding-bottom:5px; }

.page_navi span.page_link_noaction{display:none;}

.page_navi span{ 
 line-height:20px; float:left; margin-left:3px; margin-top:3px; background:#CCC;
  padding:0px 7px 0px 7px; line-height:20px; display:block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  text-decoration:none;
  color:#666;
}
.page_navi a{ 
  line-height:20px; float:left; margin-left:3px; margin-top:3px; background:#EEE;
  padding:0px 7px 0px 7px; line-height:20px; display:block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  
  text-decoration:none;
  color:#666;
}
.page_navi a:hover{background:#CCC;}
.page_navi a:active{background:#CCC;}
/* pagination */

/* review */
.review{
	background:url(../images/btn_review.jpg) left top no-repeat; width:91px; height:23px; display:block;
	position:absolute; right:5px; top:50px; 
	text-indent:-9999px;
}
.review:hover , .review:active{background:url(../images/btn_review.jpg) left bottom no-repeat; }


.product_review_gallery
{ width:769px; }
.product_review_gallery li{ width:192px; height:150px; float:left; display:block;}

.product_review_gallery li img{ width:185px; display:block; margin:auto;}
.product_review_gallery li p{padding:0px 5px 0px 5px; width:185px; overflow:hidden; display:block; margin:auto;}

/* review */


/*FOOTER AND QUICK NAV*/

.bg_footer {
	background-image: url(../images/bg_footer.gif);
	background-repeat: repeat-x;
	background-color: #9C0301;
	margin-top: 30px;
}
.footer_container {
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	color: #FFF;
}
.quick_nav {
	height: 270px;
	color: #FFF;
}
.quick_nav_block {
	float: left;
	margin-right: 10px;
	width: 89px;
	margin-top: 15px;
}
.quick_nav_block a {
	color: #fff;
	font-size: 11px;
}
.quick_nav_block p {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
}
.quick_nav_block li  {
	text-align: center;
}
.quick_nav_block p a {
	font-size: 14px;
}
.copyrights {
	float: right;
	margin-top: 15px;
}
.footer_link {
	float: left;
	margin-top: 15px;
	width: 500px;
	margin-bottom: 15px;
}
.footer_link li {
	float: left;
	margin-right: 15px;
}
.footer_link li a {
	color: #FFF;
}

/*END FOOTER AND QUICK NAV*/


/*NEWS*/

.news {
	margin-top: 15px;
}
.news_header {
	background-image: url(../images/news_title.jpg);
	height: 32px;
	width: 768px;
}
.news_middle {
	background-image: url(../images/news_middle.jpg);
	background-repeat: repeat-y;
	width: 748px;
	padding-right: 10px;
	padding-left: 10px;
}
.news_bottom {
	background-image: url(../images/news_bottom.jpg);
	background-repeat: no-repeat;
	height: 7px;
	width: 768px;
}
.news_box {
	padding-top: 5px;
}

.news_icon {
	float: left;
	width: 25px;
	margin-right: 15px;
	height: 11px;
	margin-top: 1px;
}
.news_date {
	float: left;
	margin-right: 15px;
	width: 75px;
}
.news_title {
	float: left;
	width: 600px;
}
.news_title a {
	color: #1d3994;
	font-size: 12px;
	line-height: 16px;
}


.news_separate {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #d5d5d5;
	margin-top: 3px;
}
.news .last {
	border: none;
	margin: 0px;
}

.news_middle a:hover{text-decoration:underline;}
/*END NEWS*/

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*TWITTER*/

.twitter {
	margin-top: 15px;
}

/*END TWITTER*/

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


/*POPULAR TOUR KEYWORD*/

.popular_tour_keyword {
	margin-top: 15px;
	padding: 15px;
	border: 1px solid #840201;
}
.popular_tour_keyword .city {
	font-weight: bold;
	margin-top: 5px;
	color: #b40a0a;
}
.popular_tour_keyword .word {
	font-size: 11px;
	line-height: 14px;
}
/*END POPULAR TOUR KEYWORD*/

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


/*SPECIAL CONTENT*/
.special_content_top {
	background-image: url(../images/special_content_top.jpg);
	background-repeat:no-repeat;
	height: 7px;
	width: 768px;
}
.special_content {
	margin-top: 15px;
}


.special_content_bottom {
	background-image: url(../images/special_content_bottom.jpg);
	background-repeat:no-repeat;
	height: 7px;
	width: 768px;
}

.special_content_middle{
	background-image: url(../images/special_content.jpg);
	background-repeat: repeat-y;
	width: 738px;
	padding-right: 15px;
	padding-left: 15px;
}
.special_content_box {
	padding-bottom: 5px;
	padding-top: 5px;
}
.special_content_box .image {
	float: left;
	margin-right: 15px;
}
.special_content_box .special_content_text {
	float: left;
	width: 540px;
	padding: 0px;
}
.special_content_box .special_content_text a:hover {
	text-decoration:underline;
}

.special_content_title {
	background-image: url(../images/special_content_bullet.jpg);
	background-repeat: no-repeat;
	padding-left: 10px;
	background-position: 0px 3px;
	color: #b20303;
}

.special_content_separate {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #686868;
	margin-top: 15px;
}

.special_content .last{
	border:none;
	margin:0px;
}

/*END SPECIAL CONTENT*/




/*HEADER AREA*/
.header {
	height: 103px;
	position: relative;
	width: 990px;
}
.mybus-logo{
	height: 62px;
	width: 493px;
	left:0px;
	top: 25px;
	position: absolute;
}

.jtb-logos {
	
	height: 62px;
	width: 274px;
	left:0px;
	top: 25px;
	position: absolute;
}
.logo_text_link {
	position: absolute;
	left: 6px;
	top: 4px;
}
a.logo_text_link:hover {
	text-decoration:underline;
}
.header .country_name {
	position: absolute;
	left: 115px;
	top: 40px;
	font-weight: bold;
}

.header .country_name_mybus {
	position: absolute;
	left: 239px;
	top: 40px;
	font-weight: bold;
}

.header_link {
	position: absolute;
	top: 40px;
	right: 0px;
	text-align: right;
	width: 600px;
}
.header_link_left {
	background-image: url(../images/header_link_left.jpg);
	background-repeat: no-repeat;
	height: 29px;
	width: 16px;
	float: right;
}

.header_link_right {
	background-image: url(../images/header_link_right.jpg);
	background-repeat: no-repeat;
	height: 29px;
	width: 16px;
	float: right;
}
.header_link_center {
	background-image: url(../images/header_link_bg.jpg);
	background-repeat: repeat-x;
	height: 29px;
	float: right;
	line-height: 29px;
	width:auto!important;     
	width:170px;            
	min-width:170px;  
	
}
.header_link a {
	background-repeat: no-repeat;
	background-image: url(../images/list_style1.gif);
	display: block;
	text-align: left;
	padding-left: 15px;
	background-position: 0px 10px;
}
.header_link li {
	float: left;
	margin-right: 10px;

}
.header_link2 {
	position: absolute;
	top: 77px;
	right: 0px;
	width: 500px;
}
.header_link2 li {
	float: right;
	margin-left: 15px;
}
.header_link2 a {
	font-size: 11px;
}



.social_network {
	
	height: 22px;
	width: 270px;
	position: absolute;
	top: 10px;
	right: 0px;
}

.social_network li{float:right; }
.social_network .mixi-check-button{padding-right:5px;}

/*END HEADER AREA*/

/* special campaign */

.header-slider-odd{   width:964px; height:220px; position:relative; overflow:hidden; margin:auto; margin-bottom:8px; }

#campaign_tab1,#campaign_tab2{cursor:pointer;}
#campaign_tab1{background:url(../images/campaign_tab.jpg) 0px -29px no-repeat; width:383px; height:29px; line-height:29px; display:block; float:left;}
#campaign_tab1:hover{background:url(../images/campaign_tab.jpg) 0px 0px no-repeat; width:383px; height:29px; line-height:29px; display:block; float:left;}
#campaign_tab1.active{background:url(../images/campaign_tab.jpg) 0px 0px no-repeat; width:383px; height:29px; line-height:29px; display:block; float:left;
cursor:auto;}

#campaign_tab2{background:url(../images/campaign_tab.jpg) -384px -29px no-repeat; width:385px; height:29px; line-height:29px; display:block; float:left;}
#campaign_tab2:hover{background:url(../images/campaign_tab.jpg) -384px 0px no-repeat; width:385px; height:29px; line-height:29px; display:block; float:left;}
#campaign_tab2.active{background:url(../images/campaign_tab.jpg) -384px 0px no-repeat; width:385px; height:29px; line-height:29px; display:block; float:left;
cursor:auto;}

.campaign_list1 li,.campaign_list2 li{padding-bottom:5px;}


.campaign-product-list{width:185px; float:left; height:270px; /*background:#FFFBEE;*/ background:url(../images/campaign.jpg) -5px bottom repeat; margin-right:5px; margin-bottom:5px; border:#CCC solid 1px;
 -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.campaign-product-country{ width:170px; display:block; text-align:left; margin:auto; margin-top:5px; font-size:10px;}
.campaign-product-tittle{font-weight:bold; font-size:12px; width:170px; margin:auto; line-height:16px; margin-top:3px; margin-bottom:3px;}
.campaign-product-list a{width:170px;}
.campaign-product-list a:hover{text-decoration:underline;}
.campaign-product-des{ width:170px; margin:auto; margin-top:5px; margin-bottom:5px;}
.campaign-product-list a img{margin:auto; display:block; margin-top:10px;}
.campaign-product-price{width:170px; margin:auto; }
.campaign-product-price span{color:#c41010; font-size:12px; font-weight:bold;}
/* special campaign */




/* date picker */
#id_cal{ cursor:pointer; color:#FFF; text-decoration:underline;}
#id_cal:hover{text-decoration:none;}
.p_ddpicker{position:relative;}
.p_ddpicker #id_calendar_mas{ position:absolute; left:7px; top:0px; background:#FFF; }

#id_calendar_mas{padding:1px; border:#CDCDCD solid 1px; width:200px; }
#id_calendar_mas select{border:#CDCDCD solid 1px;}

#id_calendar_sub1{background:#CDCDCD; padding:0px; margin:0px;  font-size:12px; font-family:Arial, Helvetica, sans-serif;}
#id_calendar_sub1 tr{padding:0px; margin:0px;}
#id_calendar_sub1 th{color:#FFF; font-weight:bold; text-align:center; background:#666;}
#id_calendar_sub1 td{background-color:#FFF; text-align:center; color:#000; }
#id_calendar_sub1 td.befor_date{cursor:auto; color:#999;}
#id_calendar_sub1 td.cal_date{cursor:pointer;}
#id_calendar_sub1 td.cal_date:hover{background:#B3BBD0;}

#id_calendar_sub1 .now_date{color:#1255C4;}

/* date picker */

/*SITEMAP*/


.sitemap ul li {
 margin-top:10px;
 border-bottom: dotted 1px #cecece;
 padding-bottom:10px;

}


.sitemap ul li li{
 padding-left:160px; 
}


.sitemap li a{
 border: solid 1px #b1b1b1;
 width:115px;
 display:block;
 text-align:center;
 background-color: #c8c8c8;
 background-image: url(../images/list_style1.gif);
 background-repeat: no-repeat;
 background-position: 5px 8px;
 color:#1b1b1b;
 padding: 5px 10px;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
 
}

.sitemap li li a{
 background:#e1e1e1; 
 background-image: url(../images/list_style1.gif);
 background-repeat: no-repeat;
 background-position: 5px 8px;
}

.sitemap li li li a{
 background:#f3f3f3; 
 background-image: url(../images/list_style1.gif);
 background-repeat: no-repeat;
 background-position: 5px 8px;
}



.sitemap a:hover{
 background:#c41010;
 color:#fff;

}

.sitemap ul li li {
    border-bottom: dotted 1px #cecece;
}
.sitemap ul li li li {
    border: none;
}


/*END SITEMAP*/

body .ico_cart{position:absolute; right:220px; top:6px; display:block; background:url(../images/icon_cart.gif) left 0px no-repeat; 
padding-left:25px; color:#C41010; cursor:pointer;}

body .ico_cart:hover{text-decoration:underline;}

.inp_width130{width:130px;}

.category_box{position:relative;}
.category_link2{ position:absolute; bottom:3px; right:10px; font-size:10px;}  
.category_link2 a:hover{ text-decoration:underline;}