@charset "utf-8";
/* CSS Document */

/* page */
body {background:url(../images/lookjtb/header.jpg) repeat-x ; height:94px;
/*font-family:'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, Verdana, Arial, sans-serif;*/
font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Osaka,sans-serif,arial,verdana;
font-size:13px; line-height:18px;} 
.header{height:96px; position:relative;}
.content{width:960px; margin:auto;}

.txtHeaderTop{color:#FFF; font-weight:normal; line-height:23px; padding-left:10px;}
.logoTop{ position:absolute; top:26px; left:0px;}

.rakunaviMainImage{background:url(../images/lookjtb/banner_raku.jpg) no-repeat; width:958px; height:270px; margin:auto; margin-top:8px; margin-bottom:8px; color:#262626;  font-size:15px; line-height:20px;  font-weight:bold;}

.rakunaviMainTxtTop{padding-top:120px; padding-left:20px; }
.rakunaviMainTxtBottom{padding-left:20px; padding-top:20px;}

.breakLine{background:url(../images/lookjtb/break_line1.jpg) top repeat-x; margin:auto; height:3px;}

.txtContentBottom{ background:url(../images/lookjtb/content_border.jpg) left top repeat-y; margin:auto; padding:5px 10px 10px; font-size:14px; line-height:20px;}
/* page */



.inquery{background:url(../images/lookjtb/content_border.jpg) left top repeat-y; padding:0px 1px 1px; padding-right:1px; width:958px; }

.inquery_form th,.inquery_form td{text-align:left; vertical-align:top;}

.inquery_form{ background:#CCC; width:958px;}
.inquery_form th,.inquery_form td{ line-height:25px; vertical-align:top;}
.inquery_form th{ text-align:left; font-weight:normal; background:#EEEEEE; width:200px; table-layout:fixed; padding:5px 10px 5px;  }
.inquery_form td{background:#F5F5F5; padding:5px; }
.inquery_form tr.event th{ background:#F5F5F5;}
.inquery_form tr.event td{background:#FFFFFF;}

/* input */
input[type="file"]:focus, input[type="checkbox"]:focus, select:focus {
    box-shadow: none;
    outline: 1px dotted #666666;
}
input, textarea {
    border: 1px solid #666666;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    padding: 2px 3px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
input:focus, textarea:focus {
    border-color: #52A8EC;
    outline: 0 none;
}


.inp-name {
    width: 120px;
}

.inp_min{width:100px;}
.inp_min5{width:100px;}
.inp_min3{width:80px;}
.inp_min2{width:60px;}


.inp-email{width:250px;}
.inp-textarea{width:300px;}


.contentConfirmPage{ padding-left:225px; line-height:25px; padding-top:10px; padding-bottom:10px;}


.groupBtnStep1{margin:auto; width:960px; padding-bottom:20px;  border-bottom:#e7e7e7 solid 1px; padding-top:10px; }
.btn_confirm{margin:auto; width:250px; height:25px; display:block; height:30px; }


.btn {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  *margin-left: .3em;

  line-height: 20px;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.active,
.btn:active {
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}


.btnBack{ background:#999; color:#FFF;  height:40px; padding: 4px 12px;  font-size:17px; width:150px; display:block; font-weight:bold; float:left;}
.btnSubmit:hover{background:#666;}

.btnSubmit{background:#cc2424; color:#FFF;  height:40px; padding: 4px 12px;  font-size:17px; width:150px; display:block; font-weight:bold;  float:left;}
.btnSubmit:hover{background:#b51e1e;}

.btnSpace{width:20px; float:left; display:block; height:40px;}


.btnConfirm{background:#cc2424; color:#FFF;  height:40px; padding: 4px 12px;  font-size:17px; width:180px; margin:auto; display:block; font-weight:bold; }
.btnConfirm:hover{background:#b51e1e; }


.txtContentNoteHeader{color:#C40000; font-size:17px; line-height:25px; font-weight:bold; padding-bottom:5px;}


.grupBtnStep2{width:400px; margin:auto; padding-top:5px; }

.clear{clear:both;}
/* input */



.font10{font-size:10px;}

.req,.msgError{color:#C40000;}

.txtError{color:#C40000;}
/*.req{font-size:10px;}*/

a{ color: #C40000; text-decoration:underline;}
a:hover{ text-decoration:none;}

.m_left10{margin-left:10px;}
.m_top5{margin-top:5px;}
.mLinkDone{ margin:auto; padding-top:40px; padding-bottom:50px; text-align:center;}

.input_hide{display:none;}

.msgError{border:#C40000 medium double; padding:10px; margin-top:10px; margin-bottom:10px; width:913px;}
.subError{padding-top:10px; list-style:outside; margin-left:20px;}


.footer{ background:url(../images/lookjtb/footer.jpg) left bottom repeat-x ; height:70px; width:100%; min-width:960px;}
.footerContent{ width:950px; margin:auto; color:#FFF;  line-height:18px; text-align:right; padding-top:43px; padding-right:5px;}

.floatLeft{float:left;}

/* date picker */
#id_cal{ cursor:pointer; color:#C40000; }
#id_cal:hover{text-decoration:none;}

#id_cal .cal{text-decoration:underline;}
#id_cal .cal:hover{text-decoration:none;}

.p_ddpicker{position:relative;}
.p_ddpicker #id_calendar_mas{ position:absolute; left:7px; top:0px; background:#FFF; }

#id_calendar_mas{padding:1px; border:#CDCDCD solid 1px; width:200px;
-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);

}
#id_calendar_mas select{border:#CDCDCD solid 1px; text-decoration:none;}
body #id_calbox1,body #id_calbox1:hover,body #id_calbox1:focus,body #id_calbox1:active {text-decoration:none;}

#id_calendar_mas{ cursor:default; }
#id_calendar_sub1{background:#CDCDCD; padding:0px; margin:0px;  font-size:12px; font-family:Arial, Helvetica, sans-serif;}
#id_calendar_sub1 tr{padding:0px; margin:0px;}
#id_calendar_sub1 th{color:#FFF; font-weight:bold; text-align:center; background:#666;}
#id_calendar_sub1 td{background-color:#FFF; text-align:center; color:#000; }
#id_calendar_sub1 td.befor_date{cursor:auto; color:#999;}
#id_calendar_sub1 td.cal_date{cursor:pointer;}
#id_calendar_sub1 td.cal_date:hover{background:#B3BBD0;}

#id_calendar_sub1 .now_date{color:#1255C4;}

/* date picker */


.inquery_form td.fixwrop{ width: 748px; display:block; white-space:nowrap; table-layout:fixed;}
