@charset "utf-8";
/* CSS Document */

*,div,span,table,tr,td,th,p,ul,li,strong,u{ padding:0px; margin:0px; }
ul,li{list-style:none;}

body{
	background:url(../images/body_bg.jpg) repeat-x;
	font-family:'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, Verdana, Arial, sans-serif;
	font-size:13px;
	line-height: 18px;
	word-spacing: normal;
	font-weight: normal;
}
/* common */
.clear{clear:both;}

a{color:#c41010;}
a:link, a:visited{ color:#c41010;text-decoration:none;}
a:hover,a:active{  color:#c41010; text-decoration:underline;}

.line_style1 {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #686868;
	margin-top: 15px;
}

.hide{display:none;} img.hide{display:none;}

.f-right{float:right; }
.f-left{float:left; }

.left18{padding-left:18px;}

.search-menu-text1{line-height:20px; background:#EFEFEF; border:#999 solid 1px; padding-left:5px; width:183px; margin-left:12px;}
.search-menu-text2{line-height:20px; background:#EFEFEF; border:#999 solid 1px; padding-left:5px; width:183px; display:block; float:left;}

.height5{height:5px;   line-height:5px; font-size:5px;}
.height10{height:10px; line-height:10px; font-size:10px;}
.height20{height:20px; line-height:20px; font-size:20px;}
.height50{height:50px; line-height:50px; font-size:50px;}

.ptop10{padding-top:10px;}
.p-bottom8{padding-bottom:8px;}
.pleft5{padding-left:5px;}
.p-right3{padding-right:3px;}

.border-b4{height:4px; line-height:4px; font-size:4px; background:#E9E9E9;}

.price{padding-left:7px;}
.price .number{color:#F00; font-weight:bold; font-size:18px; line-height:20px; font-family:Verdana, Geneva, sans-serif;}
.yan{color:#333; font-size:12px;}
.txt-red-bold{color:#F00; font-weight:bold; font-size:14px;}
.txt-red-bold-price{ color: #C41010; font-weight:bold; font-size:12px;}
/* common */

/* header */
.header{ height: 103px; position: relative; width: 990px; margin:auto;}
.header-quicklink{font-size:12px; float:right; width:180px; padding-top:10px; padding-right:5px;}
.header-quicklink li{float:left; padding:0px 0px 0px 5px;  }
.header-quicklink li a{ text-decoration:none;}
.header-quicklink li a:hover{text-decoration:underline;}
.jtb-logo{position:absolute; top:10px; left:5px; border:none; }
.jtb-logo2{position:absolute; top:10px; left:127px; border:none;}
.mybus-logo{position:absolute; top:10px; left:5px; border:none;}

a.header-logo-text-link{ color: #C41010; text-decoration:none; font-size:12px; position:absolute; left:10px; top:5px;}
a.header-logo-text-link:hover{ text-decoration:underline;}
.header .social{ padding-top:5px;}

.header-quicklink{font-size:12px; float:right; width:180px; padding-top:10px; padding-right:5px;}
.header-quicklink li{float:left; padding:0px 0px 0px 5px; }
.header-quicklink li a{ text-decoration:none;}
.header-quicklink li a:hover{text-decoration:underline;}
/* header */

/* navigation */
.navigation-top{background:url(../images/nav_top.jpg) top left no-repeat; height:32px; width:990px;}
.navigation-top li{float:left; line-height:32px; width:180px; text-align:center; color:#FFF; position:relative;}
.navigation-top a{ color:#FFF; text-decoration:none; font-weight:bold;} 

.navigation-footer{height:41px; margin:auto;}
.navigation-footer li{ line-height:20px; float:left; text-align:center; padding:15px 20px 0px 20px; font-size:14px;  position:relative; font-weight:bold;}
.navigation-footer ul{ color:#FFF; list-style:none; position:absolute; left:0px; top:40px;  }
.navigation-footer ul li{float:none; line-height:25px; text-align:left; font-weight:normal; padding-top:3px;}

#navtop-menu1,#navtop-menu2,#navtop-menu3,#navtop-menu4,#navtop-menu5,#navtop-menu7,#navtop-menu8{background:url(../images/nav_top.jpg) top right no-repeat; text-indent:-9999px;}
#navtop-menu1 a,#navtop-menu2 a,#navtop-menu3 a,#navtop-menu4 a,#navtop-menu5 a,#navtop-menu7 a,#navtop-menu8 a{ width:100%; display:block; cursor:pointer;}

#navtop-menu2 .submenu,#navtop-menu3 .submenu,#navtop-menu4 .submenu,#navtop-menu5 .submenu,#navtop-menu7 .submenu,#navtop-menu8 .submenu{ position:absolute; left:0px; top:32px; display:block; z-index:101;}


#navtop-menu2 .submenu li a,
#navtop-menu3 .submenu li a,
#navtop-menu4 .submenu li a,
#navtop-menu5 .submenu li a,
#navtop-menu7 .submenu li a{
	text-indent: 0;
	display: block;
	color: #fff;
	font-weight: normal;
	padding: 10px;
	line-height: 16px;
	height: 16px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c0494a;
	width: 170px;
	background:#a3100c;
	text-align: center;
}

#navtop-menu8 .submenu li a{
	text-indent: 0;
	display: block;
	color: #fff;
	font-weight: normal;
	padding: 10px;
	line-height: 16px;
	height: 16px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c0494a;
	width: 140px;
	background:#a3100c;
	text-align: center;	
}

#navtop-menu2 .submenu ,
#navtop-menu3 .submenu ,
#navtop-menu4 .submenu ,
#navtop-menu5 .submenu ,
#navtop-menu7 .submenu ,
#navtop-menu8 .submenu{display:none;}


#navtop-menu2 .submenu li a:hover,
#navtop-menu3 .submenu li a:hover,
#navtop-menu4 .submenu li a:hover,
#navtop-menu5 .submenu li a:hover,
#navtop-menu7 .submenu li a:hover,
#navtop-menu8 .submenu li a:hover{ background:#fa830b;	 }



.navigation-bottom li,
.navigation-bottom-toppage li 
{position:relative; display:block;}

.navigation-bottom li .submenu,
.navigation-bottom-toppage li .submenu{ position:absolute; left:0px; top:34px; z-index:100; border:none;   }




.navigation-bottom li .submenu li,
.navigation-bottom-toppage li .submenu li
{ 
	border:none;
	width:170px;
	font-weight: normal;
	padding: 10px;
	line-height: 16px;
	height: 17px;
	text-align: center;
	background: url(../images/nav/grey_hover_button.gif) repeat-x #f0f0f0;
	border-left: 3px solid #CCC;
	border-right: 1px solid #CCC;
	display:block;
} 

.navigation-bottom li .submenu li:hover,
.navigation-bottom-toppage li .submenu li:hover
{

	border-left: 3px solid #c0494a;
	border-right: 1px solid #c0494a;
}


.navigation-bottom-toppage li a,
.navigation-bottom li a
{
	width:100%; 
	display:block; 
	cursor:pointer;
	color:#d31818;
}

.navigation-bottom-toppage li a:hover,
.navigation-bottom li a:hover{
	color:#1B3A8F;
}

#navtop-menu1{ background:url(../images/nav/nav_top.jpg); width:129px; }
#navtop-menu2{ background:url(../images/nav/nav_optional_tour_arrow.jpg); width:190px;}
#navtop-menu3{ background:url(../images/nav/nav_land_package_arrow.jpg); width: 190px;}

#navtop-menu2.noarrow{ background:url(../images/nav/nav_optional_tour.jpg); width:190px;}
#navtop-menu3.noarrow{ background:url(../images/nav/nav_land_package.jpg); width: 190px;}

#navtop-menu4{ background:url(../images/nav/nav_special_campaign.jpg); width:190px;}


#navtop-menu4.noarrow{ background:url(../images/nav/nav_special_campaign_noarrow.jpg); width:190px;}

#navtop-menu5{ background:url(../images/nav/nav_branches_arrow.jpg); width:190px;}

#navtop-menu8{ background:url(../images/nav/nav_hotel_arrow.jpg); width:101px;}
#navtop-menu8.noarrow{ background:url(../images/nav/nav_hotel.jpg); width:101px;}

#navtop-menu1:hover, #navtop-menu1:active,
#navtop-menu2:hover, #navtop-menu2:active,
#navtop-menu3:hover, #navtop-menu2:active,
#navtop-menu4:hover, #navtop-menu2:active,
#navtop-menu5:hover, #navtop-menu2:active,
#navtop-menu7:hover, #navtop-menu2:active,
#navtop-menu8:hover, #navtop-menu2:active{ background-position:bottom;}

.navigation-bottom-toppage lii:first-child,
.navigation-bottom li:first-child{ border-left:#CCC solid 1px;}


.navigation-bottom{height:34px; width:990px; margin:auto; font-family:'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif; background:url(../images/nav/grey_hover_button.gif) repeat-x bottom left; margin-bottom:8px;}
.navigation-bottom li{ line-height:33px; float:left; text-align:center; 
 font-size:13px; display:block; padding:0px 35px 0px 35px; border-right:#CCC solid 1px;}

.navigation-bottom-toppage lii:first-child,

.navigation-bottom{position:relative; height:33px; width:990px; margin:auto; margin-bottom:8px;}

.navigation-bottom-toppage{ position:relative; height:33px; width:990px; margin:auto; font-family:'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif; background:url(../images/nav/grey_hover_button.gif) repeat-x bottom left; margin-bottom:8px;}
.navigation-bottom-toppage li:first-child{ border-left:#CCC solid 1px;}
.navigation-bottom-toppage li{ line-height:33px; float:left; text-align:center; 
 font-size:13px; display:block; padding:0px 14px 0px 14px; border-right:#CCC solid 1px;}
.navigation-bottom-toppage a{ float:left; color:#AA0F0F; width:100%;  display:block; cursor:pointer; }
.navigation-bottom-toppage a:hover{color:#1B3A8F;  }



ul.hide{display:none;}
.submenu.hide{display:none;}
body .submenu2{display:none;}
body .submenu2a{display:none;}

.submenu li{position:relative;}
.submenu .submenu2{position:absolute; left:190px; top:0px;}
.submenu .submenu2a{position:absolute; left:-197px; top:0px; width:200px;}


.arrow1{ background:url(../images/nav/ico_nav_arrow_bottom.gif) right bottom no-repeat; }
/* navigation */

/* content_mid */
.container{width:990px; margin:auto; background:url(../images/body_fix_nav.jpg) left 0px repeat-x #FFF; }
.container-center{ width:990px; margin:auto; font-size:12px; line-height:16px;}
.container-left{ width:769px; float:left; font-size:12px; line-height:16px; padding-left:15px; overflow:hidden;}
.container-right{width:183px; float:right;  padding-bottom:5px; margin-right:13px; }

.header-slider{   width:964px; height:220px; position:relative; overflow:hidden; margin:auto; margin-bottom:8px; }
.header-slider img{position:absolute; left:0px; top:0px; display:block; /*z-index:-1;*/}
.header-slider img.hide{display:none;}
.header-slider img{position:absolute; left:0px; top:0px; display:block; /*z-index:-1;*/}
.product-top-image img.hide{display:none;}

.footer{height:279px; background:url(../images/bg-footer.jpg) left top repeat-x; position:relative; width:964px; margin:auto; }
.footer-bottom{ height:40px; width:964px;}
.footer-bottom,.footer-bottom a{ color:#FFF; text-decoration:none; font-size:12px;}
.footer-bottom a:hover{text-decoration:underline;}
.footer-bottom .footer-bottom-quicklink{ float:left; width:300px; }
.footer-bottom .footer-bottom-quicklink li{float:left; padding:0px 0px 0px 5px; }
.footer-bottom .footer-bottom-right{float:right; padding-right:5px;}

.text-content{ padding:8px 0px 0px 0px; display:block; }
body .text-content pre{table-layout:fixed; width:770px; white-space:normal;}
.text-content p{padding-left:0px; line-height:18px;}

.header-text-tittle{
	background-image: url(../images/header-text-title.gif);
	height: 33px;
	width: 753px;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	line-height: 33px;
	padding-left: 15px;
	margin-top: 15px;
}

.container-right-list li{  display:block; padding-bottom:7px; background:url(../images/ranking_body.jpg) repeat-y;}
.container-right-border{background:url(../images/tittle-top-right-text.jpg) 0px -45px repeat-x; height:1px; line-height:1px; font-size:1px;}
.container-right-list{ background:url(../images/ranking_bottom.jpg) left bottom no-repeat; padding-bottom:3px;}

.text-header{ padding:10px 0px 0px 0px;}

.image-slider{ background: url(../images/slider_main.jpg) bottom repeat-x; 
display:block; height:226px; margin-bottom:8px; width:767px; padding-left:1px; font-size: 12px; }
.slider-left,.slider-left2{   background:url(../images/slider_btn.gif) -74px 54px no-repeat ; width:29px; height:225px; display:block; float:left; cursor:pointer; overflow:hidden;}
.slider-mid,.slider-mid2{background: url(../images/bg_slider_mid.jpg) bottom repeat-x;
width:708px; height:225px; display:block; float:left; position:relative; overflow:hidden; }


.slider-content-index-mid{position:absolute; left:0px; top:0px;}
.slider-right,.slider-right2{   background:url(../images/slider_btn.gif) 3px 54px no-repeat; width:29px; 
height:225px; display:block; float:left; cursor:pointer; overflow:hidden;}


.slider-content-index{ height:225px; position:absolute; left:0px; top:0px;}
.slider-content-index2{height:225px; position:absolute; left:0px; top:0px;}
.slider-content{  height:200px; width:708px; position:relative; } 
.slider-content-mid{position:absolute; left:0px; top:0px;}

.slider-list{width:177px; height:225px; display:block; float:left;  }
.slider-img{ padding-top:20px; margin:auto; width:170px; display:block;}
.slider-text1{color:#FF1E1E; font-weight:bold; padding-left:8px; float:left; line-height:20px; padding-top:2px; font-size:12px;}
.slider-text2{color:#0C6A06; font-weight:bold; width:90px; float:right; line-height:20px; padding-top:2px;  position:absolute; left:80px; top:94px;}

.search-result-content{color:#000; font-weight:normal;}

.slider-tittle1{color:#000; font-weight:bold; padding-left:8px; font-size:14px; line-height:16px; text-align:left;}
.slider-tittle2{color:#000; padding-left:8px; font-size:12px; line-height:14px;}
.slider-price{padding-left:8px; padding-top:2px; font-size:12px; line-height:16px;}
.slider-txt-red-big{color:#FF1E1E; font-weight:bold; font-size:20px;}
.slider-txt-red{color:#FF1E1E; font-weight:bold; font-size:16px;}

.content a{text-decoration:none;}
.content a:hover{ text-decoration:underline;}

.image-slider a{text-decoration:none;}
.image-slider a:hover{ text-decoration:underline;}
/* content_mid */

/* content_right */
.right-list-product-img{ padding-left:15px; padding-top:2px; float:left;}
.right-list-product-txt{float:left; width:175px; font-size:10px; padding-left:5px; padding-top:0px; font-weight:normal; 
color:#000;}
.right-list-product-txt a{ text-decoration:none; font-weight:bold;}
.right-list-product-txt a:hover{ text-decoration:underline;}
.right-list-product-txt1{color:#730000; font-weight:bold; line-height:18px;}
.right-list-rank-border{background:url(../images/right_rank_list_border.gif) 4px 7px no-repeat;
line-height:10px; font-size:10px; height:10px; display:block; width:178px; }

.right-list-product-tittle{line-height:18px; padding-top:3px; font-size:14px; font-weight:bold; color:#730000; margin-left:5px; }
.right-list-product-tittle:hover{ text-decoration:underline; color:#730000;}

.height3{line-height:3px; height:3px; display:block; font-size:3px;}

.container-right .icontop1{background:url(../images/icon_top1.jpg) 7px top no-repeat; padding-left:35px; 
line-height:25px; height:48px; font-size:14px; font-weight:bold; color:#730000; display:block; }

.container-right .icontop2{background:url(../images/icon_top2.jpg) 7px top no-repeat; padding-left:35px; 
line-height:25px; height:48px; font-size:14px; font-weight:bold; color:#730000; display:block;}


.container-right .icontop3{background:url(../images/icon_top3.jpg) 7px top no-repeat; padding-left:35px; 
line-height:25px; height:48px; font-size:14px; font-weight:bold; color:#730000; display:block;}

.container-right .icontop4{background:url(../images/icon_top4.jpg) 7px top no-repeat; padding-left:35px; 
line-height:25px; height:48px; font-size:14px; font-weight:bold; color:#730000; display:block;}

.container-right .icontop5{background:url(../images/icon_top5.jpg) 7px top no-repeat; padding-left:35px; 
line-height:25px; height:48px; font-size:14px; font-weight:bold; color:#730000; display:block;}

.container-right .right-list-product-subject.icontop1 a,
.container-right .right-list-product-subject.icontop2 a,
.container-right .right-list-product-subject.icontop3 a,
.container-right .right-list-product-subject.icontop4 a,
.container-right .right-list-product-subject.icontop5 a{ color:#730000; text-decoration:none;}

.container-right .icontop1 a:hover,
.container-right .icontop2 a:hover,
.container-right .icontop3 a:hover,
.container-right .icontop4 a:hover,
.container-right .icontop5 a:hover{  color:#730000;text-decoration:underline;}

.banner-navigation-main{ overflow:hidden; width:767px; height:168px; display:block; background:FFF; position:relative;}
.banner-navigation-main a{ position:absolute; left:0px; top:0px;}

.cateogry_text li a{text-decoration:none;}
.cateogry_text li a:hover{text-decoration:underline;}

.product-top-image img.hide{display:none;}

img.hide{display:none;}

.optional_tour_ranking_head {
	background: url(../images/optional_package_rank_head.jpg) 0px top no-repeat;
	height: 38px;
	width: 182px;
	display: block;
	text-indent:-9999px;
}

.land_package_ranking_head {
	background: url(../images/land_package_ranking_head.jpg) 0px top no-repeat;
	height: 38px;
	width: 182px;
	display: block;
	margin-top: 10px;
	text-indent:-9999px;
}
/* content_right */

/* footer */
.footer-bg {
	background: url(../images/bg_footer.gif) repeat-x #9C0301;
	margin-top: 30px;
}
.bg_footer a:hover{text-decoration:underline;}
/* footer */

/* breadcamp */
ul.breadcamp{ padding:0px 0px 5px; height:20px; display:block; background:url(../images/breadcamp_border.jpg) left bottom repeat-x; margin-bottom:5px; }
ul.breadcamp li{ float:left; line-height:25px;}
ul.breadcamp li a{color:#C41010; }
ul.breadcamp span{padding:0px 10px 0px 10px; color:#C41010; }

ul.bread-camp{ padding:0px 0px 5px; min-height:20px; display:block;
background:url(../images/breadcamp_border.jpg) left bottom repeat-x; margin-bottom:5px; overflow:hidden;}
ul.bread-camp li{ float:left; line-height:25px;}
ul.bread-camp li a{color:#C41010; }
ul.bread-camp span{padding:0px 10px 0px 10px; color:#C41010; }
/* breadcamp */

/* search*/
.serach-menu-left{background:#980a0c; 
width:213px; border-bottom:#4E0707 solid 1px; float:left; height:424px; margin-top:15px;}
.serach-menu-left-tittle{background:url(../images/style2_search_header.jpg) 10px top no-repeat; 
width:213px; height:45px; display:block; text-indent:-9999px;}
.search-menu-subject1{font-size:12px; line-height:24px; color:#FFF; padding-left:10px;  
font-family:'Hiragino Kaku Gothic Pro',Osaka, Verdana, Arial, sans-serif; }
.search-left-button{background:url(../images/style2_search_button.gif) left top no-repeat; 
width:194px; height:32px; display:block; text-indent:-9999px; border:none; cursor:pointer; margin:auto;}


.search-left-button:hover{background:url(../images/style2_search_button.gif) left bottom no-repeat; 
width:194px; height:32px; display:block; text-indent:-9999px; border:none; cursor:pointer; margin:auto;}

.search-left-button:active{background:url(../images/style2_search_button.gif) left bottom no-repeat; 
width:194px; height:32px; display:block; text-indent:-9999px; border:none; cursor:pointer; margin:auto;

}
.serach-menu-left p{color:#FFF; padding-left:12px; }
.serach-menu-left a{color:#999; line-height:25px;}
.search-left-selectbox{width:190px; height:23px; margin:auto; display:block;}

.search_left_inp{width:186px; padding:2px; margin:auto; display:block;}
.search-center{margin:auto; width:190px;}
.container-wsearch-left{ float:right; background:url(../images/vertical_slide_box_bg_footer.jpg) 0px bottom no-repeat; 
width:544px; height:425px; display:block; margin-top:15px; }

.container-wsearch-left .content{height:378px; padding-top:10px; background:url(../images/vertical_slide_box_bg.jpg) left top repeat-y;}

.container-wsearch-tittle{font-family:'Hiragino Kaku Gothic Pro',Osaka, Verdana, Arial, sans-serif; font-size:20px; line-height:32px; color:#FFF;
background:url(../images/vertical_slide_box_topic.jpg) repeat-x; height:33px; font-weight:bold; padding-left:10px;}
/* search*/

/* slider */
.slider-box-top{background:url(../images/style2_sliderbar_top.jpg) 0px 0px no-repeat; width:109px; height:16px; margin-left:40px; cursor:pointer; float:left;}
.slider-box-bottom{background:url(../images/style2_sliderbar_top.jpg) 0px -17px no-repeat; width:109px; height:16px;  margin-left:40px; cursor:pointer; float:left;}


.slider-content{width:535px; height:335px; display:block; overflow:hidden; float:left; }
.slider-content-mid li{ padding-left:10px;  padding-bottom:10px; display:block; height:75px;}
.slider-content-mid li strong{line-height:16px;}
.slider-content img{float:left; padding-right:5px; padding-top:5px;}
.slider-media-text{width:350px; float:left; padding-top:5px;}
.slider-media-text .slider-text1{ padding-right:10px; }
.slider-media-text .slider-text2{ float:left;}
.slider-media-text p{padding-left:7px; }

.slider-content-index2 .slider-media-text{width:177px;}
.slider-content-index .slider-media{margin-top:5px;}
.slider-content-index2 .slider-media{margin-top:5px;}
.slider-content-index .slider-media-text{width:177px; }
/* slider */

/* banner navigation */
.banner-navigation-btn li{
	background-color: #8B826F;
    color: #FFFFFF;
    cursor: pointer;
	padding:3px 7px 3px 7px;
	float:left;
	margin:3px 3px 0px 0px; 
}
.banner-navigation-btn li:hover{ background-color: #333;}


body .banner-navigation-btn .active{background-color: #333;}
/* banner navigation */

/* category opt */
.category{ width:768px; height:240px; display:block; padding-bottom:10px;}
.category .category_box{width:256px; float:left; background:url(../images/theme_column_box.jpg) left bottom no-repeat; height:237px;}

.category .category_tittle{ 
	background: url("../images/icon_theme.jpg") 0px 2px no-repeat;
    color: #353535;
    padding-bottom: 3px;
    padding-left: 10px;
	font-weight:bold;}


.category .category_text{padding-top:10px; padding-left:15px;}
.category .category_text li{line-height:16px; font-size:12px; background:url(../images/icon_theme_topic.jpg) left 5px no-repeat; padding-left:10px;
width:210px; padding-bottom:3px;}
.category .category_text li a{color:#000;}
.category .category_text li a:hover{text-decoration:underline;}

.category .category_image{position:relative; width:230px; height:94px;  margin-top:8px; margin-left:10px;}
.category .category_image img{position:absolute; left:0px; top:0px;}
.category .category_image img{display:block; margin:auto; padding-top:5px;}

/* category opt */

/* category lp */
.category2{ width:768px; height:230px; display:block; padding-bottom:10px; position:relative;}
.category2 .category_box{width:768px; float:left; background:url(../images/theme_column_box2.jpg) left bottom no-repeat; height:227px;}

.category2 .category_tittle{ 
	background: url("../images/icon_theme.jpg") 0px 2px no-repeat;
    color: #353535;
    padding-bottom: 3px;
    padding-left: 10px;
	font-weight:bold;}

.category2 .category_text{padding-top:15px; padding-left:15px;}
.category2 .category_text li{line-height:25px; font-size:14px; background:url(../images/icon_theme_topic.jpg) left 9px no-repeat; padding-left:10px; }
.category2 .category_text li a{color:#000;}
.category2 .category_text li a:hover{text-decoration:underline;}

.category2 .category_image{position:relative; width:230px; height:94px;  margin-top:8px; margin-left:10px;}
.category2 .category_image img{position:absolute; left:0px; top:0px;}
.category2 .category_image img{display:block; margin:auto; padding-top:5px;}

.category2 .category_link{position:absolute; right:10px; bottom:20px; display:block; text-align:right; font-size:10px; }

.category2 .category_link:hover{text-decoration:underline; color:#c41010;	}

.category2 .category_product_detail{width:510px; position:absolute; right:10px; top:33px; } 
.category2 .category_product_detail .tittle{font-weight:bold; font-size:12px;  display:block; padding-bottom:10px; }
.category2 .category_product_detail .tittle:hover{text-decoration:underline; color:#c41010;}
.category2 .category_product_detail .price{ color:#c41010; font-weight:bold; font-size:14px; padding-left:0px; margin-left:0; padding-top:5px; float:left;} 
/* category lp */

/* product */

.product-top-image{background:#000; padding:1px; width:764px; height:313px; position:relative; overflow:hidden; 
border:#CF0000 solid 1px; border-top:none;}
.product-top-image img{display:block;  position:absolute; left:0px; top:0px; 
}
.product-button{height:195px; padding-left:2px; padding-top:3px; background:#F7F7F7; border-bottom:#CDCDCD solid 1px;}
.product-button-list li{float:left; width:153px; }
.product-button-list img{width:150px; height:70px; margin:auto; display:block; margin-bottom:3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor:pointer; 
  opacity: .5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  text-indent:-9999px;
}

.product-button-cat{ 
  padding:3px 5px 3px 5px; 
  color: #FFF;
  margin-left:2px; float:left;
  background:#6E6E6E;
  
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

}

.product-btncat-box{float:left; width:550px; padding-top:5px;}
.product-rew-box{float:left; width:210px; padding-top:5px;}

.btn-review{background:url(../images/btn_product_review.jpg) left top no-repeat; display:block; 
text-indent:-9999px; width:141px; height:29px;
float:right; 
 -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.btn-review:hover{background:url(../images/btn_product_review_hover.jpg) left top no-repeat; display:block; 
}

.product-detail{ 
 background: #F7F7F7; margin-top:10px; border:#CDCDCD solid 1px; padding:15px 10px 15px 10px; line-height:20px;
 
}
.product-detail p{ padding-top:3px; padding-bottom:3px; }
.product-detail p strong{ padding-right:10px;}
.product-information{
 background: #F7F7F7; margin-top:10px; border:#CDCDCD solid 1px; padding:5px 10px 15px 10px; line-height:20px;
 }
 .product-policy{
  background:#FFFBEE; margin-top:10px; border:#EADDB7 solid 1px; padding:15px 10px 15px 10px; line-height:20px;
}
 
.product-info{padding:0px 0px 5px 0px; }
.product-info p{padding-top:3px; padding-bottom:3px; /*border-bottom:#666 dotted 1px;*/}
.product-info strong{padding-right:10px;}

.product-time-tb{width:747px; margin:auto; background:#C0C0C0;}
.product-time-tb th{ width:100px; line-height:25px; font-weight:normal; background:#FFF; color:#1D3794; }
.product-time-tb td{ background:#FFF; }

.product-time-tb th.table-header{ background:#DBDBDB; font-weight:bold; text-align:left; padding-left:10px; color:#000;}
.product-sbj{width:200px; float:left; border:none; }
.product-info p{padding-top:10px; padding-bottom:10px; /*border-bottom:#666 dotted 1px;*/ }
.product-table{ padding-top:10px; padding-bottom:10px; /*border-bottom:#666 dotted 1px;*/}
.product-table strong{padding-bottom:3px; line-height:20px; display:block;}


.product-btn-booking{background:url(../images/btn_booking.jpg) left top no-repeat; width:299px; height:51px; display:block; margin:auto;
text-indent:-9999px; margin-top:0px; margin-bottom:0px;
-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
} 

.tbform a:hover{ text-decoration:underline;}
.text-policy{padding:5px 0px 5px 0px;}
.text-policy p{ padding:0px 5px 0px 5px; }

.policy_link{text-align:right; padding-right:10px; }
.policy_link a{color:#750000;}
.policy_link a:hover{ text-decoration:none;}

.product-time-tb td{padding-left:5px; padding-right:5px;}
.product_text{margin-left:10px; margin-right:10px; /*border-bottom:#666 dotted 1px;*/ padding-bottom:5px;}

/* product */ 

/* searching page*/
.box-search-header{background:url(../images/head_search.jpg) left top repeat-x; height:36px; text-indent:-9999px;}

.box-search{

  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background:#EEE; color:#000; height:95px;}
.box-search ul{width:225px; float:left; padding-left:10px;}
.box-search ul li{height:25px; display:block; line-height:20px; padding-top:5px;}
.box-search p{width:50px; float:left;}
.box-search .boxsearch{padding-top:35px;}

.btn-order{ height:20px; float:right; line-height:20px; margin-left:5px; color:#FFF; text-align:center; }

.search-result{background:#EFEFEF;
  height:150px;
  background:#FFFBEE; margin-top:10px; border:#EADDB7 solid 1px; /*padding:15px 10px 15px 10px; line-height:20px;*/
  position:relative;
}

.search-result img{ margin-top:10px; margin-left:10px; border:#FFF solid 5px; float:left;} 
.search-result-content{width:480px; float:left; padding-left:10px; padding-top:10px;} 
body .container-left .search-result-content p{width:480px; }

.search-result-content .price{padding-left:0px;}

.search-result-category{ width:700px; display:block; position:absolute; bottom:5px; left:10px;}
.search-result-category li{
  float:left; 
  margin-left:5px;
	
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
 
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background:#FFA928;
  text-decoration:none;
  color:#FFF;
  padding-left:5px; padding-right:5px; 
  
}

.box-search{position:relative;}
.box-search .box-search1 p{ width:37px;}
.box-search .box-search1{padding-left:5px; width:230px;}
.box-search .box-search1 selectbox{ float:left; }
.box-search .box-search2 p{width:65px;}
.box-search .box-search2{width:215px;}
.box-search .box-search3 p{width:90px;}
.box-search .box-search3{width:230px;}
.box-search .box-search4{width:75px; float:right; right:5px; top:20px; position:absolute;}
.box-search .box-search4 .btn_search{	
background:url(../images/btn_search2.jpg) left top no-repeat;
width:76px; height:30px;  display:block;
border:none;
text-indent:-9999px;
cursor:pointer;
}

.box-search .box-search4 .btn_search:hover{background:url(../images/btn_search2.jpg) left bottom no-repeat;}
.box-search .box-search4 .btn_search:active{background:url(../images/btn_search2.jpg) left bottom no-repeat;}
body .box-search .box-search2 .search-left-selectbox2{width:140px; }
.box-search .box-search3 p{width:40px;}

.search-result .search-result-content p{width:500px;}

.btn-order a{text-decoration:none; }

.page_navi .pagination_first,.page_navi .pagination_last{display:none;}

.search-result a{text-decoration:none;}
.search-result a:hover{ text-decoration:underline; }

.search-result a.review:hover{text-decoration:none; color:#FFF;}
/* searching page*/

/* pagination */
.pagi-search-result{ border-bottom:#CCC solid 1px; line-height:20px; padding-bottom:5px; }

.page_navi span.page_link_noaction{display:none;}

.page_navi span{ 
 line-height:20px; float:left; margin-left:3px; margin-top:3px; background:#CCC;
  padding:0px 7px 0px 7px; line-height:20px; display:block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  text-decoration:none;
  color:#666;
}
.page_navi a{ 
  line-height:20px; float:left; margin-left:3px; margin-top:3px; background:#EEE;
  padding:0px 7px 0px 7px; line-height:20px; display:block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  
  text-decoration:none;
  color:#666;
}
.page_navi a:hover{background:#CCC;}
.page_navi a:active{background:#CCC;}
/* pagination */

/* review */
.review{
	background:url(../images/btn_review.jpg) left top no-repeat; width:91px; height:23px; display:block;
	position:absolute; right:5px; top:50px; 
	text-indent:-9999px;
}
.review:hover , .review:active{background:url(../images/btn_review.jpg) left bottom no-repeat; }


.product_review_gallery
{ width:769px; }
.product_review_gallery li{ width:192px; height:150px; float:left; display:block;}

.product_review_gallery li img{ width:185px; display:block; margin:auto;}
.product_review_gallery li p{padding:0px 5px 0px 5px; width:185px; overflow:hidden; display:block; margin:auto;}

/* review */


/*FOOTER AND QUICK NAV*/

.bg_footer {
	background-image: url(../images/bg_footer.gif);
	background-repeat: repeat-x;
	background-color: #9C0301;
	margin-top: 30px;
}
.footer_container {
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	color: #FFF;
}
.quick_nav {
	height: 270px;
	color: #FFF;
}
.quick_nav_block {
	float: left;
	margin-right: 10px;
	width: 89px;
	margin-top: 15px;
}
.quick_nav_block a {
	color: #fff;
	font-size: 11px;
}
.quick_nav_block p {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
}
.quick_nav_block li  {
	text-align: center;
}
.quick_nav_block p a {
	font-size: 14px;
}
.copyrights {
	float: right;
	margin-top: 15px;
}
.footer_link {
	float: left;
	margin-top: 15px;
	width: 500px;
	margin-bottom: 15px;
}
.footer_link li {
	float: left;
	margin-right: 15px;
}
.footer_link li a {
	color: #FFF;
}

/*END FOOTER AND QUICK NAV*/


/*NEWS*/

.news {
	margin-top: 15px;
}
.news_header {
	background-image: url(../images/news_title.jpg);
	height: 32px;
	width: 768px;
}
.news_middle {
	background-image: url(../images/news_middle.jpg);
	background-repeat: repeat-y;
	width: 748px;
	padding-right: 10px;
	padding-left: 10px;
}
.news_bottom {
	background-image: url(../images/news_bottom.jpg);
	background-repeat: no-repeat;
	height: 7px;
	width: 768px;
}
.news_box {
	padding-top: 5px;
}

.news_icon {
	float: left;
	width: 25px;
	margin-right: 15px;
	height: 11px;
	margin-top: 1px;
}
.news_date {
	float: left;
	margin-right: 15px;
	width: 75px;
}
.news_title {
	float: left;
	width: 600px;
}
.news_title a {
	color: #1d3994;
	font-size: 12px;
	line-height: 16px;
}


.news_separate {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #d5d5d5;
	margin-top: 3px;
}
.news .last {
	border: none;
	margin: 0px;
}

.news_middle a:hover{text-decoration:underline;}
/*END NEWS*/

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*TWITTER*/

.twitter {
	margin-top: 15px;
}

/*END TWITTER*/

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


/*POPULAR TOUR KEYWORD*/

.popular_tour_keyword {
	margin-top: 15px;
	padding: 15px;
	border: 1px solid #840201;
}
.popular_tour_keyword .city {
	font-weight: bold;
	margin-top: 5px;
	color: #b40a0a;
}
.popular_tour_keyword .word {
	font-size: 11px;
	line-height: 14px;
}
/*END POPULAR TOUR KEYWORD*/

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


/*SPECIAL CONTENT*/
.special_content_top {
	background-image: url(../images/special_content_top.jpg);
	background-repeat:no-repeat;
	height: 7px;
	width: 768px;
}
.special_content {
	margin-top: 15px;
}


.special_content_bottom {
	background-image: url(../images/special_content_bottom.jpg);
	background-repeat:no-repeat;
	height: 7px;
	width: 768px;
}

.special_content_middle{
	background-image: url(../images/special_content.jpg);
	background-repeat: repeat-y;
	width: 738px;
	padding-right: 15px;
	padding-left: 15px;
}
.special_content_box {
	padding-bottom: 5px;
	padding-top: 5px;
}
.special_content_box .image {
	float: left;
	margin-right: 15px;
}
.special_content_box .special_content_text {
	float: left;
	width: 540px;
	padding: 0px;
}
.special_content_box .special_content_text a:hover {
	text-decoration:underline;
}

.special_content_title {
	background-image: url(../images/special_content_bullet.jpg);
	background-repeat: no-repeat;
	padding-left: 10px;
	background-position: 0px 3px;
	color: #b20303;
}

.special_content_separate {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #686868;
	margin-top: 15px;
}

.special_content .last{
	border:none;
	margin:0px;
}

/*END SPECIAL CONTENT*/




/*HEADER AREA*/
.header {
	height: 103px;
	position: relative;
	width: 990px;
}
.mybus-logo{
	height: 62px;
	width: 493px;
	left:0px;
	top: 25px;
	position: absolute;
}

.jtb-logos {
	
	height: 62px;
	width: 274px;
	left:0px;
	top: 25px;
	position: absolute;
}
.logo_text_link {
	position: absolute;
	left: 6px;
	top: 4px;
}
a.logo_text_link:hover {
	text-decoration:underline;
}
.header .country_name {
	position: absolute;
	left: 205px;
	top: 50px;
	font-weight: bold;
}

.header .country_name_mybus {
	position: absolute;
	left: 239px;
	top: 40px;
	font-weight: bold;
}

.header_link {
	position: absolute;
	top: 40px;
	right: 0px;
	text-align: right;
	width: 600px;
}
.header_link_left {
	background-image: url(../images/header_link_left.jpg);
	background-repeat: no-repeat;
	height: 29px;
	width: 16px;
	float: right;
}

.header_link_right {
	background-image: url(../images/header_link_right.jpg);
	background-repeat: no-repeat;
	height: 29px;
	width: 16px;
	float: right;
}
.header_link_center {
	background-image: url(../images/header_link_bg.jpg);
	background-repeat: repeat-x;
	height: 29px;
	float: right;
	line-height: 29px;
	width:auto!important;     
	width:170px;            
	min-width:170px;  
	
}
.header_link a {
	background-repeat: no-repeat;
	background-image: url(../images/list_style1.gif);
	display: block;
	text-align: left;
	padding-left: 15px;
	background-position: 0px 10px;
}
.header_link li {
	float: left;
	margin-right: 10px;

}
.header_link2 {
	position: absolute;
	top: 77px;
	right: 0px;
	width: 500px;
}
.header_link2 li {
	float: right;
	margin-left: 15px;
}
.header_link2 a {
	font-size: 11px;
}



.social_network {
	
	height: 22px;
	width: 270px;
	position: absolute;
	top: 10px;
	right: 0px;
}

.social_network li{float:right; }
.social_network .mixi-check-button{padding-right:5px;}

/*END HEADER AREA*/

/* special campaign */

.header-slider-odd{   width:964px; height:220px; position:relative; overflow:hidden; margin:auto; margin-bottom:8px; }

#campaign_tab1,#campaign_tab2{cursor:pointer;}
#campaign_tab1{background:url(../images/campaign_tab.jpg) 0px -29px no-repeat; width:383px; height:29px; line-height:29px; display:block; float:left;}
#campaign_tab1:hover{background:url(../images/campaign_tab.jpg) 0px 0px no-repeat; width:383px; height:29px; line-height:29px; display:block; float:left;}
#campaign_tab1.active{background:url(../images/campaign_tab.jpg) 0px 0px no-repeat; width:383px; height:29px; line-height:29px; display:block; float:left;
cursor:auto;}

#campaign_tab2{background:url(../images/campaign_tab.jpg) -384px -29px no-repeat; width:385px; height:29px; line-height:29px; display:block; float:left;}
#campaign_tab2:hover{background:url(../images/campaign_tab.jpg) -384px 0px no-repeat; width:385px; height:29px; line-height:29px; display:block; float:left;}
#campaign_tab2.active{background:url(../images/campaign_tab.jpg) -384px 0px no-repeat; width:385px; height:29px; line-height:29px; display:block; float:left;
cursor:auto;}

.campaign_list1 li,.campaign_list2 li{padding-bottom:5px;}
.campaign_list1 li a img{ border:#CCC solid 1px; }

.campaign-product-list{width:185px; float:left; height:270px; /*background:#FFFBEE;*/ background:url(../images/campaign.jpg) -5px bottom repeat; margin-right:5px; margin-bottom:5px; border:#CCC solid 1px;
 -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.campaign-product-country{ width:170px; display:block; text-align:left; margin:auto; margin-top:5px; font-size:10px;}
.campaign-product-tittle{font-weight:bold; font-size:12px; width:170px; margin:auto; line-height:16px; margin-top:3px; margin-bottom:3px;}
.campaign-product-list a{width:170px;}
.campaign-product-list a:hover{text-decoration:underline;}
.campaign-product-des{ width:170px; margin:auto; margin-top:5px; margin-bottom:5px;}
.campaign-product-list a img{margin:auto; display:block; margin-top:10px;}
.campaign-product-price{width:170px; margin:auto; }
.campaign-product-price span{color:#c41010; font-size:12px; font-weight:bold;}
/* special campaign */




/* date picker */
#id_cal{ cursor:pointer; color:#FFF; text-decoration:underline;}
#id_cal:hover{text-decoration:none;}
.p_ddpicker{position:relative;}
.p_ddpicker #id_calendar_mas{ position:absolute; left:7px; top:0px; background:#FFF; }

#id_calendar_mas{padding:1px; border:#CDCDCD solid 1px; width:200px; }
#id_calendar_mas select{border:#CDCDCD solid 1px;}

#id_calendar_sub1{background:#CDCDCD; padding:0px; margin:0px;  font-size:12px; font-family:Arial, Helvetica, sans-serif;}
#id_calendar_sub1 tr{padding:0px; margin:0px;}
#id_calendar_sub1 th{color:#FFF; font-weight:bold; text-align:center; background:#666;}
#id_calendar_sub1 td{background-color:#FFF; text-align:center; color:#000; }
#id_calendar_sub1 td.befor_date{cursor:auto; color:#999;}
#id_calendar_sub1 td.cal_date{cursor:pointer;}
#id_calendar_sub1 td.cal_date:hover{background:#B3BBD0;}

#id_calendar_sub1 .now_date{color:#1255C4;}

/* date picker */

/*SITEMAP*/


.sitemap ul li {
 margin-top:10px;
 border-bottom: dotted 1px #cecece;
 padding-bottom:10px;

}


.sitemap ul li li{
 padding-left:160px; 
}


.sitemap li a{
 border: solid 1px #b1b1b1;
 width:115px;
 display:block;
 text-align:center;
 background-color: #c8c8c8;
 background-image: url(../images/list_style1.gif);
 background-repeat: no-repeat;
 background-position: 5px 8px;
 color:#1b1b1b;
 padding: 5px 10px;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
 
}

.sitemap li li a{
 background:#e1e1e1; 
 background-image: url(../images/list_style1.gif);
 background-repeat: no-repeat;
 background-position: 5px 8px;
}

.sitemap li li li a{
 background:#f3f3f3; 
 background-image: url(../images/list_style1.gif);
 background-repeat: no-repeat;
 background-position: 5px 8px;
}



.sitemap a:hover{
 background:#c41010;
 color:#fff;

}

.sitemap ul li li {
    border-bottom: dotted 1px #cecece;
}
.sitemap ul li li li {
    border: none;
}


/*END SITEMAP*/

body .ico_cart{position:absolute; right:220px; top:6px; display:block; background:url(../images/icon_cart.gif) left 0px no-repeat; 
padding-left:25px; color:#C41010; cursor:pointer;}

body .ico_cart:hover{text-decoration:underline;}

.inp_width130{width:130px;}

.category_box{position:relative;}
.category_link2{ position:absolute; bottom:3px; right:10px; font-size:10px;}  
.category_link2 a:hover{ text-decoration:underline;}


/*Bank add*/
/*
.navigation-bottom-toppage li {
    padding: 0;
    width: 106px;
}
#navbottom-menu8 {
    width: 111px;
}
#navbottom-menu9 {
    width: 127px;
}*/
.arrow1 {
    background: none repeat scroll 0 0 transparent;
}
.navigation-bottom-toppage li:hover {
    background: url("../images/nav/ico_nav_arrow_bottom.gif") no-repeat scroll right bottom transparent;
}
/*
#navbottom-menu9 ul {
    left: -66px;
}
#navbottom-menu9 ul ul {
    left: -197px;
}
#navbottom-menu8 ul {
    left: -82px;
}
#navbottom-menu8 ul ul {
    left: -197px;
}
#navbottom-menu7 ul {
    left: -86px;
}
#navbottom-menu7 ul ul {
    left: -197px;
}
*/
.navigation-bottom  li#navbottom-menu2:hover {
    background: url("../images/nav/ico_nav_arrow_bottom.gif") no-repeat scroll right bottom transparent;
}



.header-text-tittle-news {
    color: #c41010;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 10px;
    padding-bottom: 6px;
    width: 753px;
    padding-top: 5px;
}
/*Bank add*/

body .booking-view-product{width:747px;}
body .booking-view-product .booking-view-product-img{width:142px;}
body .booking-view-product .booking-view-product-img img{ border:#FFF solid 3px; width:135px; }
body .booking-view-product .booking-view-product-text{float:right; width:600px; padding-top:5px;}


body .booking-nav-process #step1{background:url("../images/bg_payment_arrow.jpg") left bottom no-repeat; width:93px; height:35px; padding-right:0px; text-indent:-9999px; padding:0px; margin:0px; float:left;}

body .booking-nav-process #step2{background:url("../images/bg_payment_arrow.jpg") -93px bottom no-repeat; width:65px; height:35px; padding-right:0px; text-indent:-9999px; padding:0px; margin:0px; float:left;}

body .booking-nav-process #step3{background:url("../images/bg_payment_arrow.jpg") -158px bottom no-repeat; width:102px; height:35px; padding-right:0px; text-indent:-9999px; padding:0px; margin:0px; float:left;}

body .booking-nav-process #step4{background:url("../images/bg_payment_arrow.jpg") -260px bottom no-repeat; width:99px; height:35px; padding-right:0px; text-indent:-9999px; padding:0px; margin:0px; float:left;}

body .booking-nav-process #step5{background:url("../images/bg_payment_arrow.jpg") -359px bottom no-repeat; width:130px; height:35px; padding-right:0px; text-indent:-9999px; padding:0px; margin:0px; float:left;}

body .booking-nav-process #step6{background:url("../images/bg_payment_arrow.jpg") -489px bottom no-repeat; width:101px; height:35px; padding-right:0px; text-indent:-9999px; padding:0px; margin:0px; float:left;}

body .booking-nav-process #step7{background:url("../images/bg_payment_arrow.jpg") -590px bottom no-repeat; width:113px; height:35px; padding-right:0px; text-indent:-9999px; padding:0px; margin:0px; float:left;}

body .booking-nav-process #step8{background:url("../images/bg_payment_arrow.jpg") -703px bottom no-repeat; width:56px; height:35px; padding-right:0px; text-indent:-9999px; padding:0px; margin:0px; float:left;}


body .booking-nav-process #step1.active{background:url("../images/bg_payment_arrow.jpg") left top no-repeat; width:93px; height:35px; padding-right:0px; text-indent:-9999px; padding:0px; margin:0px; float:left;}

body .booking-nav-process #step1.active_last{background:url("../images/bg_payment_arrow.jpg") left -36px no-repeat; width:93px; height:35px; padding-right:0px; text-indent:-9999px; padding:0px; margin:0px; float:left;}

body .booking-nav-process #step2.active{background:url("../images/bg_payment_arrow.jpg") -93px -36px no-repeat; width:65px; height:35px; padding-right:0px; text-indent:-9999px; padding:0px; margin:0px; float:left;}

body .booking-nav-process #step2.active_last{background:url("../images/bg_payment_arrow.jpg") -93px -72px no-repeat; width:65px; height:35px; padding-right:0px; text-indent:-9999px; padding:0px; margin:0px; float:left;}

body .booking-nav-process #step3.active{background:url("../images/bg_payment_arrow.jpg") -158px -72px no-repeat; width:102px; height:35px; padding-right:0px; text-indent:-9999px; padding:0px; margin:0px; float:left;}

body .booking-nav-process #step3.active_last{background:url("../images/bg_payment_arrow.jpg") -158px -108px no-repeat; width:102px; height:35px; padding-right:0px; text-indent:-9999px; padding:0px; margin:0px; float:left;}

body .booking-nav-process #step4.active{background:url("../images/bg_payment_arrow.jpg") -260px -108px no-repeat; width:99px; height:35px; padding-right:0px; text-indent:-9999px; padding:0px; margin:0px; float:left;}

body .booking-nav-process #step4.active_last{background:url("../images/bg_payment_arrow.jpg") -260px -144px no-repeat; width:99px; height:35px; padding-right:0px; text-indent:-9999px; padding:0px; margin:0px; float:left;}

body .booking-nav-process #step5.active{background:url("../images/bg_payment_arrow.jpg") -359px -144px no-repeat; width:130px; height:35px; padding-right:0px; text-indent:-9999px; padding:0px; margin:0px; float:left;}

body .booking-nav-process #step5.active_last{background:url("../images/bg_payment_arrow.jpg") -359px -180px no-repeat; width:130px; height:35px; padding-right:0px; text-indent:-9999px; padding:0px; margin:0px; float:left;}

body .booking-nav-process #step6.active{background:url("../images/bg_payment_arrow.jpg") -489px -180px no-repeat; width:101px; height:35px; padding-right:0px; text-indent:-9999px; padding:0px; margin:0px; float:left;}

body .booking-nav-process #step6.active_last{background:url("../images/bg_payment_arrow.jpg") -489px -216px no-repeat; width:101px; height:35px; padding-right:0px; text-indent:-9999px; padding:0px; margin:0px; float:left;}

body .booking-nav-process #step7.active{background:url("../images/bg_payment_arrow.jpg") -590px -216px no-repeat; width:113px; height:35px; padding-right:0px; text-indent:-9999px; padding:0px; margin:0px; float:left;}

body .booking-nav-process #step7.active_last{background:url("../images/bg_payment_arrow.jpg") -590px -252px no-repeat; width:113px; height:35px; padding-right:0px; text-indent:-9999px; padding:0px; margin:0px; float:left;}

body .booking-nav-process #step8.active{background:url("../images/bg_payment_arrow.jpg") -703px -252px no-repeat; width:56px; height:35px; padding-right:0px; text-indent:-9999px; padding:0px; margin:0px; float:left;}



body #navbottom-menu10 ul.submenu{ position:absolute; left:-53px; top:34px; z-index:100; border:none;   }


body .flash_sp_link{  width:965px; height:222px; cursor:pointer; display:block;}



/* 20130219 */

#navtop-menu6{background:url(../images/nav_top2.jpg) top right no-repeat; width:140px; }

#navtop-menu6 a{ width:100%; display:block; cursor:pointer;}


#navtop-menu6 .submenu li a{
	text-indent: 0;
	display: block;
	color: #fff;
	font-weight: normal;
	padding: 10px;
	line-height: 16px;
	height: 16px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c0494a;
	width: 140px;
	background:#a3100c;
	text-align: center;
}

#navtop-menu6 a:hover,#navtop-menu6 .submenu li a:hover{ background:#fa830b;	 }

#navtop-menu7.arrow{background:url(../images/nav/nav_souvenirs_arrow.jpg); width:190px; text-indent:-9999px;}

#navtop-menu7.noarrow{background:url(../images/nav/nav_souvenirs.jpg); width:190px; text-indent:-9999px;}
#navtop-menu7:hover, #navtop-menu2:active{ background-position:bottom;}
body #navtop-menu7 a{ color:#0F0; width:190px; height:32px; display:block;}

.box-search-souvenir-header{background:url(../images/head_souveiner_search.jpg) left top repeat-x; height:36px; text-indent:-9999px;}
.slider-content-index .slider-media2{ padding-top:5px; margin:auto; margin-left:30px; }
.slider-content-index2 .slider-media2{ padding-top:5px; margin:auto; margin-left:30px; }

.box-search-souvenir{
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background:#EEE; color:#000; height:65px;}
  
  
.box-search-souvenir ul{width:225px; float:left; padding-left:10px;}
.box-search-souvenir ul li{height:25px; display:block; line-height:20px; padding-top:5px;}
.box-search-souvenir p{width:50px; float:left;}
.box-search-souvenir .boxsearch{padding-top:35px;}


.box-search-souvenir{position:relative;}
.box-search-souvenir .box-search1 p{ width:37px;}
.box-search-souvenir .box-search1{padding-left:5px; width:230px;}
.box-search-souvenir .box-search1 selectbox{ float:left; }
.box-search-souvenir .box-search2 p{width:65px;}
.box-search-souvenir .box-search2{width:215px;}
.box-search-souvenir .box-search3 p{width:90px;}
.box-search-souvenir .box-search3{width:230px;}
.box-search-souvenir .box-search4{width:75px; float:right; right:5px; top:20px; position:absolute;}
.box-search-souvenir .box-search4 .btn_search{	
background:url(../images/btn_search2.jpg) left top no-repeat;
width:76px; height:30px;  display:block;
border:none; text-indent:-9999px; cursor:pointer;
}


.souvenir-info p{padding-top:5px; padding-bottom:5px;}



.inp-inputsearch-inp1{display: block; height: 25px; line-height: 20px; padding-top: 5px; padding-left:5px; width:250px; float:left;}
.inp-inputsearch-inp2{display: block; height: 25px; line-height: 20px; padding-top: 5px; padding-left:5px; width:180px; float:left;}
.inp-inputsearch-inp3{display: block; height: 25px; line-height: 20px; padding-top: 5px; padding-left:5px; width:230px; float:left;}
.inp-inputsearch-inp4{display: block; height: 25px; line-height: 20px; padding-top: 5px; padding-left:5px; width:512px; float:left;}

.inp-inputsearch-inp1 p{width:70px;}
.inp-inputsearch-inp2 p{width:70px;}
.inp-inputsearch-inp3 p{width:70px;}
.inp-inputsearch-inp4 p{width:85px;}

.w150{width:150px;}
.w210{width:210px;}
.w90{width:90px;}


.product-souvenir-tb th{text-align:left;  padding-bottom:5px;}
.product-souvenir-tb td{padding-left:5px; padding-bottom:5px;}

.souvenir_price{font-size:16px; }

/* souvenir product */
.souvenir_product_image{height:335px; border-bottom:#CCC solid 1px;}

.souvenir_product_main{width:420px; height:300px; margin:auto; padding-top:5px; }
.souvenir_product_show{float:left;width:300px; height:300px; display:block; border:#CCC solid 1px;}
.souvenir_product_show img{width:300px; height:300px; }
.souvenir_product_list {width:100px; position:relative; float:left; padding-left:7px;}
.souvenir_product_list li{width:100px; height:100px; float:left; display:block; }
.souvenir_product_list li.product-1{padding-bottom:3px;}
.souvenir_product_list li.product-2{padding-bottom:3px;}

.souvenir_product_image .souvenir_theme{padding-left:20px; /*width:750px;*/ width:420px; margin:auto; position:relative; padding-top:27px;}
.souvenir_product_list li img{width:93px; height:93px; border:#CCC solid 1px; display:block; cursor:pointer; float:left;}
.souvenir_theme{ padding-top:5px; }

body .booking-view-product .booking-view-souvenir-img{width:100px; }
body .booking-view-product .booking-view-souvenir-img img{ border:#FFF solid 3px; width:100px; float:left; }
body .booking-view-product .booking-view-souvenir-text{float:right; width:630px; padding-top:0px;}

.booking-view-souvenir-title{line-height:18px;  font-size:14px; font-weight:bold; color:#C41010; }


.souvenir-select-subject{font-weight:bold; width:50px; table-layout:fixed; text-align:right; vertical-align:middle;}
.souvenir-select-number{width:100px; table-layout:fixed; text-align:left; vertical-align:middle; }
.souvenir-select-price{width:100px; table-layout:fixed; text-align:right; font-size:14px; font-weight:bold; vertical-align:middle;}
.souvenir-select-checkout{width:70px; table-layout:fixed; text-align:left; vertical-align:middle;}

.w50{width:50px;}


input.btn-addChart{border: 1px solid rgba(0, 0, 0, 0.4); 

background: #fceabb; /* Old browsers */
background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 0%, #fccd4d 37%, #f8b500 44%, #f8b500 100%, #f9b302 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(0%,#fccd4d), color-stop(37%,#fccd4d), color-stop(44%,#f8b500), color-stop(100%,#f8b500), color-stop(100%,#f9b302)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 0%,#fccd4d 37%,#f8b500 44%,#f8b500 100%,#f9b302 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fceabb 0%,#fccd4d 0%,#fccd4d 37%,#f8b500 44%,#f8b500 100%,#f9b302 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fceabb 0%,#fccd4d 0%,#fccd4d 37%,#f8b500 44%,#f8b500 100%,#f9b302 100%); /* IE10+ */
background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 0%,#fccd4d 37%,#f8b500 44%,#f8b500 100%,#f9b302 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#f9b302',GradientType=0 ); /* IE6-9 */

height:35px; font-size:24x; line-height:24px;
width:120px;
cursor:pointer; font-weight:bold; color:#FFF; display:block;
border:2px solid;
border-radius:25px;
-moz-border-radius:25px;
}

input.btn-addChart:hover{ 
background: #f9b302; /* Old browsers */
background: -moz-linear-gradient(top, #f9b302 0%, #f8b500 0%, #f49200 100%, #fccd4d 100%, #fccd4d 100%, #fceabb 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9b302), color-stop(0%,#f8b500), color-stop(100%,#f49200), color-stop(100%,#fccd4d), color-stop(100%,#fccd4d), color-stop(100%,#fceabb)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f9b302 0%,#f8b500 0%,#f49200 100%,#fccd4d 100%,#fccd4d 100%,#fceabb 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f9b302 0%,#f8b500 0%,#f49200 100%,#fccd4d 100%,#fccd4d 100%,#fceabb 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f9b302 0%,#f8b500 0%,#f49200 100%,#fccd4d 100%,#fccd4d 100%,#fceabb 100%); /* IE10+ */
background: linear-gradient(to bottom, #f9b302 0%,#f8b500 0%,#f49200 100%,#fccd4d 100%,#fccd4d 100%,#fceabb 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b302', endColorstr='#fceabb',GradientType=0 ); /* IE6-9 */
}
.f-left{float:left;}

body table.regis_address_local_cfm th{width:60px; table-layout:fixed; background:#FFF;}

.alignC{text-align:center;} 
.alignR{text-align:right;}
.alignL{text-align:left;}


.tbformSouvenir{background:#CCC; width:760px;}
.tbformSouvenir th{ font-weight:normal; background:#F0F0F0; height: 27px;}
.tbformSouvenir td, .tbformSouvenir th{ padding:3px 5px 3px 5px;  border-top:#FFF solid 1px; vertical-align:middle;}
.tbformSouvenir td{background:#FFF; height: 27px;}


.btn_link{background:none; border:none; color:#C41010; text-decoration:underlinel; cursor:pointer;
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0) inset;
 padding: 2px 3px;
   /* transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;*/
} 

.btn_link_small{
	background:none; border:none; color:#C41010; text-decoration:underlinel; cursor:pointer;
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0) inset;
 padding: 2px 3px; font-size:12px;
 display:none;
}

a.txtBlack{color:#000; font-weight:bold; color:#333;}

body .addtoCart{
	 color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  height:35px;
  font-weight:bold;
}

body .addtoCart:hover{ color:#FFF; }

body .addtoCart:active{
color: rgba(255, 255, 255, 0.75);
}

/*body .btn_Checkout{line-height:30px; height:30px; font-weight:bold;}*/

.txtBold{font-weight:bold; color:#333;}

body .souvenir_step1{background:url(../images/souvenir_normal_cart_step.jpg) left top no-repeat; width:581px; height:36px; display:block;}
body .souvenir_step2{background:url(../images/souvenir_normal_cart_step.jpg) left -35px no-repeat; width:581px; height:36px; display:block;}
body .souvenir_step3{background:url(../images/souvenir_normal_cart_step.jpg) left -70px no-repeat; width:581px; height:36px; display:block;}
body .souvenir_step4{background:url(../images/souvenir_normal_cart_step.jpg) left -175px no-repeat; width:581px; height:36px; display:block;}


body .souvenir_none_credit_step1{background:url(../images/souvenir_normal_cart_onrequest.jpg) left top no-repeat; width:348px; height:36px; display:block;}
body .souvenir_none_credit_step2{background:url(../images/souvenir_normal_cart_onrequest.jpg) left -35px no-repeat; width:348px; height:36px; display:block;}
body .souvenir_none_credit_step3{background:url(../images/souvenir_normal_cart_onrequest.jpg) left -70px no-repeat; width:348px; height:36px; display:block;}
body .souvenir_none_credit_step4{background:url(../images/souvenir_normal_cart_onrequest.jpg) left -105px no-repeat; width:348px; height:36px; display:block;}

.slider-content-index-a{ height:225px; position:absolute; left:0px; top:5px;}
.slider-content-index-a .slider-media{ padding-top:5px; 
	margin:auto; margin-left:30px; }
	
.slider-content-index-a .slider-media{margin-top:5px;}
.slider-content-index-a .slider-media-text{width:177px; }
.slider-content-index-a .slider-media2{ padding-top:5px; margin:auto; margin-left:30px; }
	
.padding-slider-left{width:29px; float:left; height: 225px;}
/* souvenir product */
/* 20130219 */

body .ico_basket{position:absolute; right:220px; top:6px; display:block; background:url(../images/icon_basket.gif) left 0px no-repeat; 
padding-left:25px; color:#C41010; cursor:pointer; padding-bottom:2px;}

body .ico_basket:hover{text-decoration:underline;}


/* add and edit information text */
.souvenir_tour_ranking_head {
    background: url("../images/optional_souvenir_rank_head.jpg") no-repeat scroll 0 top transparent;
    display: block;
    height: 38px;
    text-indent: -9999px;
    width: 182px;
}

.souvenir-btn-booking {
    background: url("../images/btn_souvenir_booking.jpg") no-repeat scroll left top transparent;
    border-radius: 5px 5px 5px 5px;
    display: block;
    height: 51px;
    margin: 0 auto;
    text-indent: -9999px;
    width: 299px;
}
/* add and edit information text */

a.text_link{ color:#C41010; text-decoration:none; font-size:12px;}
a.text_link:hover{text-decoration:underline;}


/* hotel */
.hotelTopIntroLeft{ float:left; width:193px; display:block;}
.hotelTopIntroLeft img{width:171px; padding-left:5px;  display:block;}
.hotelTopIntroRight{ float:left; width:574px; display:block;}


.box-search-hotel{position:relative;}
.box-search-hotel ul{width:225px; float:left; padding-left:10px;}
.box-search-hotel ul li{height:25px; display:block; line-height:20px; padding-top:5px;}
.box-search-hotel p{width:50px; float:left;}
.box-search-hotel .boxsearch{padding-top:35px;}

.box-search-hotel .box-search4{width:75px; float:right; right:5px; top:40px; position:absolute;}


.box-search-hotel .btn_search{	
background:url(../images/btn_search2.jpg) left top no-repeat;
width:76px; height:30px;  display:block;
border:none;
text-indent:-9999px;
cursor:pointer;
}


/*.iconThemeStyle1{ width:700px; display:block; position:absolute; bottom:5px; left:10px;}*/
.iconThemeStyle1 li{
  float:left; 
  margin-left:5px;
  margin-top:5px;
	
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
 
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background:#FFA928;
  text-decoration:none;
  color:#FFF;
  padding-left:5px; padding-right:5px; 
  
}

.iconThemeStyle2 li{
  float:left; 
  margin-left:5px;
  margin-top:5px;
	
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
 
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background:#FF0099;
  text-decoration:none;
  color:#FFF;
  padding-left:5px; padding-right:5px; 
  
}

.hotelTopIntro{border-bottom: 1px solid #CCCCCC;}

.ptop5{padding-top:5px;}

.borderStyle1{
 background: #F7F7F7; margin-top:10px; border:#CDCDCD solid 1px; padding:5px; line-height:20px;

 }
 
.borderStyle2{
 background: #FFF; border:#CDCDCD solid 1px; padding:10px; line-height:20px;

 }
 
.hotelImgGalleryMain img{width:231px; height:170px;}
.hotelImgGalleryRight{width:505px; float:left; padding-top:10px;}
 
.hotelImgGalleryMain{ float:left; padding-right:10px;}
.hotelImgGalleryList li{float:left; padding-left:5px;}
.hotelImgGalleryList li img{width:95px; height:70px; cursor:pointer; }
 
.font18{font-size:16px; line-height:24px;}
 
.bg_star1{width:82px; height:16px; display:block; text-indent:-9999px; background:url(../images/star1.gif) left top;}
.bg_star2{width:82px; height:16px; display:block; text-indent:-9999px; background:url(../images/star2.gif) left top;}
.bg_star3{width:82px; height:16px; display:block; text-indent:-9999px; background:url(../images/star3.gif) left top;}
.bg_star4{width:82px; height:16px; display:block; text-indent:-9999px; background:url(../images/star4.gif) left top;}
.bg_star5{width:82px; height:16px; display:block; text-indent:-9999px; background:url(../images/star5.gif) left top;}
 
.pRight25{padding-right:25px;}
.fontHeight24{line-height:24px;}
 
.pRight5{padding-right:5px;}
 
 
.hotelTable{background:#CCC; }
.hotelTable th{ font-weight:normal; background:#F0F0F0; height: 27px; text-align:left; width:200px;}
.hotelTable td, .hotelTable th{ padding:3px 5px 3px 5px;  border-top:#FFF solid 1px; vertical-align:middle;}
.hotelTable td{background:#FFF; height: 27px; width:50px; text-align:center;}


.hotelInfoText{padding-top:5px;}
.hotelInfoText td{font-weight:normal; background:#FFF; height:24px; text-align:left;
width:200px; border-bottom:#CCC dotted 1px; line-height:24px;}


.hotel-box-search1{width:340px; float:left; margin-top:2px; padding-left:10px;}
.hotel-box-search2{width:225px; float:left; margin-top:2px;}
.hotel-box-search3{width:90px; float:left; border:#CCC dashed 1px; margin-top:2px; padding-left:5px;}

.hotel-box-search1a{width:170px; float:left;}

.hotel-box-search1a div,
.hotel-box-search2a div,
.hotel-box-search3 div{line-height:24px; height:24px;}

.hotel-box-search1b{width:300px;}
.hotel-box-search2a{width:75px; float:left;}

p.hotel-box-searchTitleS2{width:100px; float:left; line-height:24px; }

.hotel-box-searchTitle{line-height:16px; height:16px; display:block; font-weight:normal; font-size:10px; }
.hotel-box-search1 a{font-size:10px;}
.a-link{line-height:10psx; padding-left:50px;}

.box-search-option{ height:150px; background:#EEE; border:#CCC solid 1px;}

.box-search-option1{ padding-left:10px;}

.box-search-hotel{
	border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background:#EEE; color:#000; 
}


.line{ height:1px; border-bottom: 1px dotted #CCC;}

.box-hotel-fix1{width:70px; float:left; display:block;}
.box-search-option2{width:780px; padding-left:10px;}
.box-search-option2 td{line-height:20px; height:20px;}
/* hotel */


/* form Inquery */
.txtFormInquery th,.txtFormInquery td{line-height:20px; vertical-align:middle;}
/* form Inquery */

.border-style1 img{ border:#CCC solid 1px; }

.breadcamp{ width:auto;
	  white-space: nowrap;
	  overflow:hidden;
	
}
.breadcamp li{  word-break: break-all;  
white-space: normal; max-width:510px;
display:inline-block;

}
.breadcamp,.breadcamp a,.header-text-tittle{    -webkit-text-size-adjust: none;}