@charset "utf-8";
/* CSS Document */


.country_info  h2 {


    padding: 5px 5px;
	background: none repeat scroll 0 0 #EAEAEA;
    border-color: #CC0033 #cccccc #cccccc;
    border-style: solid;
    border-width: 3px 1px 1px;
}


.country_info h3 {
    background: url("../images/country_info/title_h3_main.jpg") repeat-x scroll left top transparent;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 5px;
}

.country_info h4 {
    border-left: 5px solid #999999;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 1px 0 1px 5px;
}

.basicTable {
    margin: 10px 0 20px 0px;
}
.basicTable thead th {
    background: none repeat scroll 0 0 #ADACAD;
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
    padding: 5px 10px;
}
.basicTable table {
	margin-bottom: 5px;
	width: 764px;
	border-collapse:collapse;
	text-align: left;
}
.basicTable th, .basicTable td {
    border: 1px solid #CCCCCC;
    padding: 5px 10px;
}
.basicTable th {
    background: none repeat scroll 0 0 #EEEEEE;
    width: 170px;
}


.climateTable {
    margin: 10px 0 20px 0px;
}
.climateTable table {
    margin-bottom: 5px;
    width: 695px;
}
.climateTable thead th {
    background: none repeat scroll 0 0 #ADACAD;
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
    padding: 5px 10px;
}
.climateTable thead td {
    background: none repeat scroll 0 0 #ADACAD;
    border: 1px solid #CCCCCC;
    color: #FFFFFF;
    padding: 5px 10px;
    text-align: center;
}
.climateTable tbody th {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    padding: 5px 10px;
}
.climateTable tbody td {
    border: 1px solid #CCCCCC;
    padding: 5px 10px;
    text-align: right;
}
