@charset "utf-8";
/* CSS Document */

/*when*/
.icon_when_morning{
	background-image: url(../images/icon/icon_when_morning.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}

.icon_when_afternoon{
	background-image: url(../images/icon/icon_when_afternoon.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}


.icon_when_whole_day{
	background-image: url(../images/icon/icon_when_whole_day.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}


.icon_when_night{
	background-image: url(../images/icon/icon_when_night.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}


.icon_when_2days{
	background-image: url(../images/icon/icon_when_2days.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}


.icon_when_early_morning{
	background-image: url(../images/icon/icon_when_early_morning.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}


.icon_when_from_evening{
	background-image: url(../images/icon/icon_when_from_evening.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}

/*end when*/


/*theme*/

.icon_theme_popular_sight_seeing{
	background-image: url(../images/icon/icon_theme_popular_sight_seeing.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}

.icon_theme_sight_seeing{
	background-image: url(../images/icon/icon_theme_sight_seeing.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}

.icon_theme_golf{
	background-image: url(../images/icon/icon_theme_golf.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}

.icon_theme_fishing{
	background-image: url(../images/icon/icon_theme_fishing.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}

.icon_theme_cruise{
	background-image: url(../images/icon/icon_theme_cruise.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}

.icon_theme_grumet{
	background-image: url(../images/icon/icon_theme_grumet.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}

.icon_theme_show{
	background-image: url(../images/icon/icon_theme_show.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}

.icon_theme_nature{
	background-image: url(../images/icon/icon_theme_nature.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}

.icon_theme_animals{
	background-image: url(../images/icon/icon_theme_animals.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}

.icon_theme_heritage_world_heritage{
	background-image: url(../images/icon/icon_theme_heritage_world_heritage.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}

.icon_theme_active_sports{
	background-image: url(../images/icon/icon_theme_active_sports.png);
	float: left;
	height: 17px;
	width: 121px;
	margin-right: 5px;	
}

.icon_theme_spa_massage{
	background-image: url(../images/icon/icon_theme_spa_massage.png);
	float: left;
	height: 17px;
	width: 91px;
	margin-right: 5px;	
}


.icon_theme_culture{
	background-image: url(../images/icon/icon_theme_culture.png);
	float: left;
	height: 17px;
	width: 91px;
	margin-right: 5px;	
}


.icon_theme_pickup_and_dropoff{
	background-image: url(../images/icon/icon_theme_pickup_and_dropoff.png);
	float: left;
	height: 17px;
	width: 91px;
	margin-right: 5px;	
}


/*end theme*/

/*option*/

.icon_option_for_repeter{
	background-image: url(../images/icon/icon_option_for_repeter.png);
	float: left;
	height: 17px;
	width: 91px;
	margin-right: 5px;	
}

.icon_option_for_beginer{
	background-image: url(../images/icon/icon_option_for_beginer.png);
	float: left;
	height: 17px;
	width: 91px;
	margin-right: 5px;	
}

.icon_option_with_japanse_guide{
	background-image: url(../images/icon/icon_option_with_japanse_guide.png);
	float: left;
	height: 17px;
	width: 91px;
	margin-right: 5px;	
}

.icon_option_sale{
	background-image: url(../images/icon/icon_option_sale.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}

/*end option*/

/*meal*/
.icon_meal_meal{
	background-image: url(../images/icon/icon_meal_meal.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}

.icon_meal_no_meal{
	background-image: url(../images/icon/icon_meal_no_meal.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}

/*end meal*/

/*book confirm*/
.icon_book_confirm{
	background-image: url(../images/icon/icon_book_confirm.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}
/*end book confirm*/

/*review*/
.icon_review{
	background-image: url(../images/icon/icon_review.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}
/*end review*/

/*min pax*/
.icon_min_pax_1{
	background-image: url(../images/icon/icon_min_pax_1.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}

.icon_min_pax_2{
	background-image: url(../images/icon/icon_min_pax_2.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}

.icon_min_pax_3{
	background-image: url(../images/icon/icon_min_pax_3.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}

.icon_min_pax_4{
	background-image: url(../images/icon/icon_min_pax_4.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}

.icon_min_pax_5{
	background-image: url(../images/icon/icon_min_pax_5.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}

.icon_min_pax_6{
	background-image: url(../images/icon/icon_min_pax_6.png);
	float: left;
	height: 17px;
	width: 71px;
	margin-right: 5px;	
}

/*end min pax*/