.text_center{
	text-align: center;	
}

.text_right{
	text-align: right;	
}

.text_left{
	text-align: left;	
}

.text_bold{
	font-weight: bold;		
}
.float_l{
	float: left;		
}

.float_r{
	float: right;		
}

.clear{
	clear: both;
	height:0px;
	line-height:0px;
	font-size:0px;
	
}

.font_red{
	color:#cb0e0e;	
}
.font_gray   {
	color:#2e0102;
}
.font_orange{
	color:#fb6525;
}

.font9{
	font-size:9px;
}

.font10{
	font-size:10px;
}

.font12{
	font-size:12px;
}

.font13{
	font-size:13px;
}

.font14{
	font-size:14px;
}

.font16{
	font-size:16px;
}


.font18{
	font-size:18px;
}


.font20{
	font-size:20px;
}








/* Margin and Padding*/

.margin-top-1{
	margin-top:1px;	
}

.margin-top-3{
	margin-top:3px;	
}

.margin-top-5{
	margin-top:5px;	
}

.margin-8{
	margin:8px;	
}
.margin-top-10{
	margin-top:10px;	
}


.margin-top-13{
	margin-top:13px;	
}
.margin-top-15{
	margin-top:15px;	
}
.margin-top-18{
	margin-top:18px;	
}
.margin-top-20{
	margin-top:15px;
}
.margin-top-25{
	margin-top:25px;	
}

.margin-top-35{
	margin-top:35px;	
}

.margin-top-40{
	margin-top:40px;	
}

.margin-top-45{
	margin-top:45px;	
}

.margin-top-50{
	margin-top:50px;	
}

.margin-top-55{
	margin-top:55px;	
}
.margin-top-60{
	margin-top:60px;	
}
.margin-top-75{
	margin-top:75px;	
}


.margin-bottom-1{
	margin-bottom:1px;	
}

.margin-bottom-5{
	margin-bottom:5px;	
}

.margin-bottom-10{
	margin-bottom:10px;	
}

.margin-bottom-15{
	margin-bottom:15px;	
}

.margin-bottom-20{
	margin-bottom:20px;	
}

.margin-bottom-25{
	margin-bottom:25px;	
}

.margin-bottom-30{
	margin-bottom:30px;	
}


.margin-bottom-35{
	margin-bottom:35px;	
}

.margin-bottom-40{
	margin-bottom:40px;	
}
.margin-bottom-45{
	margin-bottom:45px;	
}
.margin-bottom-50{
	margin-bottom:50px;	
}






.margin-left-5{
	margin-left: 5px;
}

.margin-left-10{
	margin-left: 10px;
}


.margin-left-15{
	margin-left: 15px;
}


.margin-left-20{
	margin-left: 20px;
}


.margin-left-25{
	margin-left: 25px;
}


.margin-left-30{
	margin-left: 30px;
}


.margin-left-35{
	margin-left: 35px;
}


.margin-left-40{
	margin-left: 40px;
}


.margin-left-45{
	margin-left: 45px;
}


.margin-left-50{
	margin-left: 50px;
}


.margin-left-55{
	margin-left: 55px;
}




.margin-right-5{
	margin-right:5px;
}

.margin-right-10{
	margin-right:10px;
}


.margin-right-13{
	margin-right:13px;
}

.margin-right-15{
	margin-right:15px;
}



.margin-right-18{
	margin-right:18px;
}


.margin-right-20{
	margin-right:20px;
}


.margin-right-25{
	margin-right:25px;
}

.margin-right-30{
	margin-right:30px;
}


.margin-right-35{
	margin-right:35px;
}


.margin-right-40{
	margin-right:40px;
}


.margin-right-45{
	margin-right:45px;
}


.margin-right-50{
	margin-right:50px;
}


.margin-right-55{
	margin-right:55px;
}









.padding-1{
	padding:1px;	
}

.padding-5{
	padding:5px;	
}

.padding-10{
	padding:10px;	
}

.padding-15{
	padding:15px;	
}

.padding-20{
	padding:20px;	
}

.padding-25{
	padding:25px;	
}

.padding-30{
	padding:30px;	
}

.padding-35{
	padding:35px;	
}

.padding-40{
	padding:40px;	
}

.padding-45{
	padding:45px;	
}

.padding-50{
	padding:50px;	
}




.padding-top-1{
	padding-top:1px;	
}

.padding-top-3{
	padding-top:3px;	
}
.padding-top-5{
	padding-top:5px;	
}

.padding-top-10{
	padding-top:10px;	
}

.padding-top-15{
	padding-top:15px;	
}

.padding-top-20{
	padding-top:20px;	
}

.padding-top-25{
	padding-top:25px;	
}

.padding-top-30{
	padding-top:30px;	
}

.padding-top-35{
	padding-top:35px;	
}

.padding-top-40{
	padding-top:40px;	
}

.padding-top-45{
	padding-top:45px;	
}

.padding-top-50{
	padding-top:50px;	
}

.padding-top-55{
	padding-top:55px;	
}

.padding-top-60{
	padding-top:60px;	
}





.padding-left-1{
	padding-left:1px;	
}

.padding-left-5{
	padding-left:5px;	
}

.padding-left-10{
	padding-left:10px;	
}

.padding-left-15{
	padding-left:15px;	
}


.padding-left-20{
	padding-left:20px;	
}

.padding-left-25{
	padding-left:25px;	
}

.padding-left-30{
	padding-left:30px;	
}

.padding-left-35{
	padding-left:35px;	
}

.padding-left-40{
	padding-left:40px;	
}

.padding-left-45{
	padding-left:45px;	
}

.padding-left-50{
	padding-left:50px;	
}

.padding-left-55{
	padding-left:55px;	
}








.padding-right-1{
	padding-right:1px;	
}


.padding-right-5{
	padding-right:5px;	
}

.padding-right-7{
	padding-right:7px;	
}

.padding-right-10{
	padding-right:10px;	
}

.padding-right-15{
	padding-right:15px;	
}

.padding-right-20{
	padding-right:20px;	
}


.padding-right-25{
	padding-right:25px;	
}


.padding-right-30{
	padding-right:30px;	
}


.padding-right-35{
	padding-right:35px;	
}


.padding-right-40{
	padding-right:40px;	
}


.padding-right-45{
	padding-right:45px;	
}


.padding-right-50{
	padding-right:50px;	
}


.padding-right-55{
	padding-right:55px;	
}













.padding-bottom-3{
	padding-bottom:3px;	
}

.padding-bottom-5{
	padding-bottom:5px;	
}
.padding-bottom-10{
	padding-bottom:10px;	
}

.padding-bottom-15{
	padding-bottom:15px;	
}



.padding-bottom-20{
	padding-bottom:20px;	
}



.padding-bottom-25{
	padding-bottom:25px;	
}


.padding-bottom-30{
	padding-bottom:30px;	
}


.padding-bottom-35{
	padding-bottom:35px;	
}


.padding-bottom-40{
	padding-bottom:40px;	
}


.padding-bottom-45{
	padding-bottom:45px;	
}


.padding-bottom-50{
	padding-bottom:50px;	
}




