@charset "utf-8";
/* CSS Document */

/*MAIN NAV*/
.nav {
	height: 32px;
}

.nav li , .country_nav li{
	display: inline;
}
.nav a:link, .nav a:visited {
	color: #FFF;
	float: left;
	line-height: 32px;
	font-size: 14px;
	background-repeat: no-repeat;
	font-weight: bold;
	text-indent: -9999px;
	height: 32px;
}
.nav a:hover, .nav a:active {
	text-decoration: none;
	background-position: bottom;
}

.active{
	background-position:bottom;
}


.nav_top {
	background-image: url(../images/nav/nav_top.jpg);
	width: 129px;
}
.nav_optional_tour {
	background-image: url(../images/nav/nav_optional_tour.jpg);
	width: 190px;
}
.nav_optional_tour_arrow {
	background-image: url(../images/nav/nav_optional_tour_arrow.jpg);
	width: 190px;
}

.nav_land_package {
	background-image: url(../images/nav/nav_land_package.jpg);
	width: 190px;
}

.nav_land_package_arrow {
	background-image: url(../images/nav/nav_land_package_arrow.jpg);
	width: 190px;
}

.nav_special_campaign {
	background-image: url(../images/nav/nav_special_campaign.jpg);
	width: 190px;
}
.nav_branches {
	background-image: url(../images/nav/nav_branches.jpg);
	width: 190px;
}
.nav_branches_arrow {
	background-image: url(../images/nav/nav_branches_arrow.jpg);
	width: 190px;
}





/*END MAIN NAV*/


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


/*COUNTRY NAV*/

.country_nav {
	height: 33px;
	padding-left:15px;
}


.country_nav a:link, .country_nav a:visited{
	float: left;
	line-height: 33px;
	font-size: 14px;
	text-indent: -9999px;
	height: 33px;
}

.country_nav a:hover, .country_nav a:active{
	color:#1d3994;
	text-decoration:none;
	background-position:bottom;
}



.nav_taiwan{
	background-image: url(../images/nav/nav_taiwan.jpg);
	width: 98px;	
}

.nav_indonesia{
	background-image: url(../images/nav/nav_indonesia.jpg);
	width: 105px;
}

.nav_thailand{
	background-image: url(../images/nav/nav_thailand.jpg);
	width: 81px;
}

.nav_vietnam{
	background-image: url(../images/nav/nav_vietnam.jpg);
	width: 88px;
}

.nav_malaysia{
	background-image: url(../images/nav/nav_malaysia.jpg);
	width: 115px;
}

.nav_singapore{
	background-image: url(../images/nav/nav_singapore.jpg);
	width: 124px;
}

.nav_hongkong{
	background-image: url(../images/nav/nav_hongkong.jpg);
	width: 80px;
}

.nav_australia{
	background-image: url(../images/nav/nav_australia.jpg);
	width: 129px;
}

.nav_newzealand{
	background-image: url(../images/nav/nav_newzealand.jpg);
	width: 136px;
}


/*END COUNTRY NAV*/

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


/*INFO NAV*/



.info_nav {
	height: 33px;
	padding-left:15px;
}

.info_nav li{
	display:inline;	
}

.info_nav a:link, .info_nav a:visited{
	float: left;
	line-height: 33px;
	font-size: 14px;
	text-indent: -9999px;
	height: 33px;
}

.info_nav a:hover, .info_nav a:active{
	color:#1d3994;
	text-decoration:none;
	background-position:bottom;
}

.nav_country_info{
	background-image: url(../images/nav/nav_country_info.jpg);
	width: 127px;	
}

.nav_city_info{
	background-image: url(../images/nav/nav_city_info.jpg);
	width: 152px;
}

.nav_news{
	background-image: url(../images/nav/nav_news.jpg);
	width: 152px;
}

.nav_q_and_a{
	background-image: url(../images/nav/nav_q_and_a.jpg);
	width: 96px;
}

.nav_tour_description{
	background-image: url(../images/nav/nav_tour_description.jpg);
	width: 151px;
}


/* END INFO NAV*/


/*SUB MENU*/

.nav .parent {
	position: relative;
	float: left;
	z-index: 100;
}
.nav .submenu  {
	position: absolute;
	left: 0px;
	top: 32px;
	z-index: 101;
	width: 190px;
	display: none;	
}

.nav li li a:link, .nav li li a:visited{
	text-indent: 0;
	display: block;
	color: #fff;
	font-weight: normal;
	padding: 10px;
	line-height: 16px;
	height: 16px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c0494a;
	width: 170px;
	background:#a3100c;
	text-align: center;
}

.nav li li a:hover, .nav li li a:active{
	background:#fa830b;	
}

.parent:hover .submenu {
	display: block;
}

/*END SUBMENU*/


/*SUB MENU INFO*/

.info_nav .parent {
	position: relative;
	float: left;
	z-index: 99;
}
.info_nav .submenu  {
	position: absolute;
	left: 0px;
	top: 33px;
	z-index: 99;
	width: 153x;
	display: none;
	
}

.info_nav li li a:link, .info_nav li li a:visited{
	text-indent: 0;
	display: block;
	color: #242424;
	font-weight: normal;
	padding: 10px;
	line-height: 16px;
	height: 17px;
	width: 130px;
	text-align: center;
	background-color: #f0f0f0;
	background-image: url(../images/nav/grey_hover_button.gif);
	background-repeat: repeat-x;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #CCC;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;
}

.info_nav li li a:hover, .info_nav li li a:active{
	background:#d8d8d8;	
	background-image: url(../images/nav/grey_hover_button.gif);
	background-repeat: repeat-x;
	color:#d31818;
	border-left: solid 3px #bc0502;
}

.info_nav .parent:hover .submenu {
	display: block;
}

/*END SUBMENU INFO*/



/*SUB MENU COUNTRY*/

.country_nav .parent {
	position: relative;
	float: left;
}
.country_nav .submenu  {
	position: absolute;
	left: 0px;
	top: 33px;
	z-index: 99;
	width: 153x;
	display: none;
	
}




.country_nav li li a:link, .country_nav li li a:visited{
	text-indent: 0;
	display: block;
	color: #242424;
	font-weight: normal;
	padding: 10px;
	line-height: 16px;
	height: 17px;
	width: 130px;
	text-align: center;
	background-color: #f0f0f0;
	background-image: url(../images/nav/grey_hover_button.gif);
	background-repeat: repeat-x;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #CCC;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCC;

	

	
}

.country_nav li li a:hover, .country_nav li li a:active{
	background:#d8d8d8;	
	background-image: url(../images/nav/grey_hover_button.gif);
	background-repeat: repeat-x;
	color:#d31818;
	border-left: solid 3px #bc0502;
	
}


.country_nav .submenu2 li a:link, .country_nav .submenu2 li a:visited{
	text-indent: 0;
	display: block;
	color: #242424;
	font-weight: normal;
	padding: 10px;
	line-height: 16px;
	height: 17px;
	width: 130px;
	text-align: center;
	background-color: #f0f0f0;
	background-repeat: repeat-x;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #CCC;
	float:none;

}

.country_nav .submenu2 li a:hover, .country_nav .submenu2 li a:active{
	background:#d8d8d8;	
	background-image: url(../images/nav/grey_hover_button.gif);
	background-repeat: repeat-x;
	color:#d31818;
	border-left: solid 3px #bc0502;
	
}

.country_nav .submenu2  {
	position: absolute;
	left: 150px;
	top: 0px;
	z-index: 99;
	width: 153x;
	display:none;	
	
}




.country_nav .submenu2_right  {
	position: absolute;
	right: 153px;
	top: 0px;
	z-index: 99;
	width: 153x;
	display:none;	
}


.country_nav .parent:hover .submenu {
	display: block;
}

.country_nav .parent2:hover .submenu2, .country_nav .parent2:hover .submenu2_right  {
	display: block;
}


/*END SUBMENU COUNTRY*/
