@charset "utf-8";
/* CSS Document */
body{
	background-image: url(../images/body_bg.jpg);
	background-repeat: repeat-x;
	font-family:'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, Verdana, Arial, sans-serif;
	font-size:13px;
	line-height: 18px;
	word-spacing: normal;
	font-weight: normal;
}

a:link, a:visited{
	color:#c41010;	
	text-decoration:none;
}

a:hover, a:active{
	text-decoration:underline;	
}

.line_style1 {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #686868;
	margin-top: 15px;
}






.container {
	width: 990px;
	margin-right: auto;
	margin-left: auto;
}



/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


/*HEADER AREA*/
.header {
	height: 103px;
	position: relative;
	width: 990px;
}
.logo {
	background-image: url(../images/logo.gif);
	height: 62px;
	width: 274px;
	top: 30px;
	position: absolute;
}
.logo_text_link {
	position: absolute;
	left: 6px;
	top: 4px;
}
.header .country_name {
	position: absolute;
	left: 105px;
	top: 40px;
	font-weight: bold;
}

.header_link {
	position: absolute;
	top: 41px;
	right: 0px;
	text-align: right;
	width: 600px;
}
.header_link_left {
	background-image: url(../images/header_link_left.jpg);
	background-repeat: no-repeat;
	height: 29px;
	width: 16px;
	float: right;
}

.header_link_right {
	background-image: url(../images/header_link_right.jpg);
	background-repeat: no-repeat;
	height: 29px;
	width: 16px;
	float: right;
}
.header_link_center {
	background-image: url(../images/header_link_bg.jpg);
	background-repeat: repeat-x;
	height: 29px;
	float: right;
	line-height: 29px;
	width:auto!important;     /* Fx อ่านบรรทัดนี้ เพราะมี !important */
	width:170px;            /* IE6 อ่านบรรทัดนี้ เพราะไม่สน !important อ่านบรรทัดล่างสุด ตามกฎปกติ*/
	min-width:170px;   /*Fx และเบราเซอร์ใหม่ๆ อ่านบรรทัดนี้ */
	
}
.header_link a {
	background-repeat: no-repeat;
	background-image: url(../images/list_style1.gif);
	display: block;
	text-align: left;
	padding-left: 15px;
	background-position: 0px 10px;
}
.header_link li {
	float: left;
	margin-right: 10px;

}
.header_link2 {
	position: absolute;
	top: 77px;
	right: 0px;
	width: 500px;
}
.header_link2 li {
	float: right;
	margin-left: 15px;
}
.header_link2 a {
	font-size: 11px;
}



.social_network {
	background-image: url(../images/social_network.jpg);
	height: 22px;
	width: 326px;
	position: absolute;
	top: 10px;
	right: 0px;
}

/*END HEADER AREA*/


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/



/*CONTENT AREA*/

.main {
	background-color: #FFF;
	padding-right: 15px;
	padding-left: 15px;
}

.top_banner {
	padding-top: 10px;
}

.breadcrumb {
	margin-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #9B0C0C;
}
.breadcrumb li {
	float: left;
	background-image: url(../images/breadcrumb_list.jpg);
	background-repeat: no-repeat;
	padding-left: 10px;
	background-position: 0px 5px;
	margin-right: 10px;
}
.breadcrumb li:first-child {
	background-image: none;
}

.left_column {
	width: 769px;
	float: left;
	margin-right: 9px;
}
.content {
	margin-top: 10px;
}

/*END CONTENT AREA*/



/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


/*RIGHT COLUMN*/
.right_column {
	float: left;
	width: 182px;
}


.optional_tour_ranking_head {
	background-image: url(../images/optional_package_rank_head.jpg);
	height: 38px;
	width: 182px;
	display: block;
}

.land_package_ranking_head {
	background-image: url(../images/land_package_ranking_head.jpg);
	height: 38px;
	width: 182px;
	display: block;
	margin-top: 10px;
}
.ranking_body {
	background-image: url(../images/ranking_body.jpg);
	background-repeat: repeat-y;
	width: 172px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}
.ranking_bottom {
	background-image: url(../images/ranking_bottom.jpg);
	background-repeat:no-repeat;
	height: 5px;
	width: 182px;
	
}
.icon_rank {
	float: left;
	height: 46px;
	width: 58px;
}
.rank1 {
	background-image: url(../images/icon_rank1.jpg);
}

.rank2 {
	background-image: url(../images/icon_rank2.jpg);
}

.rank3 {
	background-image: url(../images/icon_rank3.jpg);
}

.rank4 {
	background-image: url(../images/icon_rank4.jpg);
}

.rank5 {
	background-image: url(../images/icon_rank5.jpg);
}

.img_rank {
	float: left;
	height: 46px;
	width: 112px;
	margin-bottom: 3px;
}
.rank  .country{
	line-height: 14px;
}
.rank .title_name {
	font-size: 11px;
	margin-top: 3px;
	line-height: 13px;
}
.rank .title_name a {
	color: #B40A0A;
}
.rank .price {
	color: #B71E21;
	font-weight: bold;
}
.rank .border {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c4c2bc;
	margin-top: 5px;
	margin-bottom: 7px;
}

.rank .last {
	border:none;
	margin:0px;
}
/*END RIGHT COLUMN*/


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


/*FOOTER AND QUICK NAV*/

.bg_footer {
	background-image: url(../images/bg_footer.gif);
	background-repeat: repeat-x;
	background-color: #9C0301;
	margin-top: 30px;
}
.footer_container {
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	color: #FFF;
}
.quick_nav {
	height: 230px;
	color: #FFF;
}
.quick_nav_block {
	float: left;
	margin-right: 10px;
	width: 89px;
	margin-top: 15px;
}
.quick_nav_block a {
	color: #fff;
	font-size: 11px;
}
.quick_nav_block p {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: center;
}
.quick_nav_block li  {
	text-align: center;
}
.quick_nav_block p a {
	font-size: 14px;
}
.copyrights {
	float: right;
	margin-top: 15px;
}
.footer_link {
	float: left;
	margin-top: 15px;
	width: 500px;
	margin-bottom: 15px;
}
.footer_link li {
	float: left;
	margin-right: 15px;
}
.footer_link li a {
	color: #FFF;
}

/*END FOOTER AND QUICK NAV*/


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*SLIDER*/
.image-slider{
	display:block;
	height:225px;
	margin-bottom:8px;
	width:767px;
	padding-left:1px;
	font-size: 12px;
}
.slider-left{
	width:28px;
	height:225px;
	display:block;
	float:left;
	cursor:pointer;
	overflow:hidden;
	background-color: #FFF;
	background-image: url(../images/slider_btn_left.jpg);
	background-repeat: no-repeat;
}

.slider-left:hover{
	background-position:bottom;
}
.slider-mid,.slider-mid2{
	background:#FFF;
	width:708px;
	height:225px;
	display:block;
	float:left;
	position:relative;
	overflow:hidden;
}
.slider-right{
	width:29px;
	height:225px;
	display:block;
	float:left;
	cursor:pointer;
	overflow:hidden;
	background-color: #FFF;
	background-image: url(../images/slider_btn_right.jpg);
	background-repeat: no-repeat;
}

.slider-right:hover{
	background-position:bottom;
}

.slider-content-index{
	height:225px;
	position:absolute;
	left:0px;
	top:0px;
}

.slider-list{
	width:173px;
	height:225px;
	display:block;
	float:left;
}
.header-text-title {
	background-image: url(../images/header-text-title.gif);
	height: 33px;
	width: 750px;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	line-height: 33px;
	padding-left: 15px;
	margin-top: 15px;
}
.slider-list {
	margin-top: 9px;
	line-height: 14px;
	padding-left: 4px;
}
.slider-list .country {

	background-repeat: no-repeat;

	margin-top: 5px;
	margin-bottom: 5px;
}
.slider-list .name {
	height: 46px;
	overflow: hidden;
}
.slider-list .description {
	height: 48px;
	overflow: hidden;
	font-size: 11px;
}
.slider-list .price {
	font-size: 14px;
	margin-top: 4px;
	font-weight: bold;
	color: #C41010;
}
.slider-mid {
	background-image: url(../images/bg_slider_mid.jpg);
	background-repeat: repeat-x;
	height: 225px;
}

/*END SLIDER*/


/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*SPECIAL CONTENT*/
.special_content_top {
	background-image: url(../images/special_content_top.jpg);
	background-repeat:no-repeat;
	height: 7px;
	width: 768px;
}
.special_content {
	margin-top: 15px;
}


.special_content_bottom {
	background-image: url(../images/special_content_bottom.jpg);
	background-repeat:no-repeat;
	height: 7px;
	width: 768px;
}

.special_content_middle{
	background-image: url(../images/special_content.jpg);
	background-repeat: repeat-y;
	width: 738px;
	padding-right: 15px;
	padding-left: 15px;
}
.special_content_box {
	padding-bottom: 5px;
	padding-top: 5px;
}
.special_content_box .image {
	float: left;
	margin-right: 15px;
}
.special_content_box .special_content_text {
	float: left;
	width: 540px;
	padding: 0px;
}
.special_content_title {
	background-image: url(../images/special_content_bullet.jpg);
	background-repeat: no-repeat;
	padding-left: 10px;
	background-position: 0px 3px;
	color: #b20303;
}

.special_content_separate {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #686868;
	margin-top: 15px;
}

.special_content .last{
	border:none;
	margin:0px;
}

/*END SPECIAL CONTENT*/

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*NEWS*/

.news {
	margin-top: 15px;
}
.news_header {
	background-image: url(../images/news_title.jpg);
	height: 32px;
	width: 768px;
}
.news_middle {
	background-image: url(../images/news_middle.jpg);
	background-repeat: repeat-y;
	width: 748px;
	padding-right: 10px;
	padding-left: 10px;
}
.news_bottom {
	background-image: url(../images/news_bottom.jpg);
	background-repeat: no-repeat;
	height: 7px;
	width: 768px;
}
.news_box {
	padding-top: 5px;
}

.news_icon {
	float: left;
	width: 25px;
	margin-right: 15px;
	height: 11px;
	margin-top: 3px;
}
.news_date {
	float: left;
	margin-right: 15px;
	width: 75px;
}
.news_title {
	float: left;
	width: 600px;
}
.news_title a {
	color: #1d3994;
	font-size: 12px;
	line-height: 16px;
}


.news_separate {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #d5d5d5;
	margin-top: 3px;
}
.news .last {
	border: none;
	margin: 0px;
}

/*END NEWS*/

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*TWITTER*/

.twitter {
	margin-top: 15px;
}

/*END TWITTER*/

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


/*POPULAR TOUR KEYWORD*/

.popular_tour_keyword {
	margin-top: 15px;
	padding: 15px;
	border: 1px solid #840201;
}
.popular_tour_keyword .city {
	font-weight: bold;
	margin-top: 5px;
	color: #b40a0a;
}
.popular_tour_keyword .word {
	font-size: 11px;
	line-height: 14px;
}
/*END POPULAR TOUR KEYWORD*/

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*SEARCH BOX*/

.search_box {
	width: 213px;
	float: left;
	margin-right: 10px;
	background-color: #980a0c;
	color: #FFF;
	padding-bottom: 15px;
	height: 411px;
}
.search_box a.icon_calendar {
	color: #FFF;
	background-image: url(../images/icon_calendar.gif);
	background-repeat: no-repeat;
	display: block;
	padding-left: 23px;
	margin-top: 5px;
}

.serach_box_title {
	background-image: url(../images/search_box_title.jpg);
	text-indent: -9999px;
	display: block;
	height: 41px;
	width: 193px;
}

.search_box .full_width{
	width: 100%;
}
.btn_search {
	background: url(../images/btn_search.gif);
	height: 32px;
	width: 193px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 0px;
	line-height: 0px;
	text-indent: -9999px;
	cursor: pointer;
	display: block;
}
.btn_search:hover {
	background-position: bottom;
}

/*END SEARCH BOX*/



/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


/*BANNER NAV*/

.banner_number_nav {
	margin-top: 5px;
}

.banner_number_nav span {
	background-color: #8b826f;
	padding-top: 3px;
	padding-right: 7px;
	padding-bottom: 3px;
	padding-left: 7px;
	color: #FFF;
	cursor: pointer;
}
.banner_number_nav span:hover {
	background-color: #333;
}

/*END BANNER NAV*/

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*THEME*/


.theme {
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #eaeaea;
	margin-top: 10px;
}
.theme_column {
	margin-right: 9px;
	float: left;
	margin-top: 12px;
	width: 250px;
}
.theme_column_box {
	height: 197px;
	width: 230px;
	background-color: #f0f0f0;
	padding: 10px;
	background-image: url(../images/theme_column_box.jpg);
}
.theme_topic {
	background-image: url(../images/icon_theme.jpg);
	background-repeat: no-repeat;
	padding-left: 10px;
	background-position: 0px 2px;
	padding-bottom: 3px;
	color: #353535;
}
.theme_column_box a {
	font-size: 11px;
	line-height: 12px;
	color: #202020;
}
.theme_column_image {
	margin-bottom: 5px;
}

.theme_column_box li {
	margin-top: 5px;
	line-height: 12px;
	background-image: url(../images/icon_theme_topic.jpg);
	background-repeat: no-repeat;
	padding-left: 8px;
	background-position: 0px 4px;
}

/*END THEME*/




/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*VERTICAL SLIDE BOX*/


.vertical_slide_box {
	float: left;
}



.vertical_slide_box_topic {
	background-image: url(../images/vertical_slide_box_topic.jpg);
	height: 33px;
	width: 531px;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	line-height: 33px;
	padding-left: 15px;
	display: block;
}
.vertical_slide_box_inside {
	background-image: url(../images/vertical_slide_box_bg.jpg);
	background-repeat: repeat-y;
	width: 526px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d4d4d4;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.vertical_box {
	padding-bottom: 0px;
	padding-top: 0px;
	height: 82px;
	overflow: hidden;
}
.vertical_box.last {
	border-bottom-style: none;
}

.vertical_box_image {
	float: left;
	width: 170px;
	margin-right: 15px;
	padding: 0px;
	margin-top: 0px;
}
.vertical_box_info {
	float: left;
	width: 340px;
}
.vertical_box_info .description {
	font-size: 11px;
	line-height: 14px;
	margin-top: 3px;
	height: 27px;
	overflow: hidden;
}
.vertical_box_info .name {
	font-size: 12px;
	height: 18px;
	overflow: hidden;
}

.vertical_box_info .price {
	color: #c41010;
	font-size: 12px;
	font-weight: bold;
	margin-top: 3px;
}
.vertical_box_line {
	background-image: url(../images/vertical_slide_box_line.jpg);
	background-repeat: repeat-x;
	height: 12px;
}

a.vertical_btn_top {
	background-image: url(../images/vertical_slide_box_btn_top.jpg);
	height: 28px;
	width: 170px;
	display: block;
	text-indent: -9999px;
}
a:hover.vertical_btn_top {	
	background-position: bottom;
}

a.vertical_btn_bottom {
	background-image: url(../images/vertical_slide_box_btn_bottom.jpg);
	height: 28px;
	width: 170px;
	display: block;
	text-indent: -9999px;
}

a:hover.vertical_btn_bottom {	
	background-position: bottom;
}

/*END VERTICAL SLIDE BOX*/

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*CATEGORY*/
.category {
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #eaeaea;
	margin-top: 10px;
}

.category_row {
	margin-top: 12px;
	
}
.category_box {
	height: 176px;
	width: 749px;
	background-color: #f0f0f0;
	background-image: url(../images/category_column_box.gif);
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.category_topic {
	background-image: url(../images/icon_theme.jpg);
	background-repeat: no-repeat;
	padding-left: 10px;
	background-position: 0px 2px;
	padding-bottom: 3px;
	color: #353535;
}

.category_box li {
	margin-top: 5px;
	line-height: 12px;
	background-image: url(../images/icon_theme_topic.jpg);
	background-repeat: no-repeat;
	padding-left: 8px;
	background-position: 0px 4px;
}

.category_box a {
	font-size: 11px;
	line-height: 12px;
	color: #202020;
}
.category_image {
	margin-bottom: 5px;
	float:left;
	width:230px;
	margin-right:15px;
}

.category_info{
	float: left;
	width: 503px;	
	height:94px;
	overflow:hidden;
}
.category_box .name {
	overflow: hidden;
	height: 18px;
	line-height: 18px;
}
.category_box .name a {
	font-weight: bold;
	font-size:13px;
	color:#c41010;
	line-height: 18px;
}

.category_box .description {
	line-height: 16px;
	margin-top: 5px;
	height: 47px;
	overflow: hidden;
	font-size: 12px;
}


.category_box .price {
	color: #c41010;
	font-size: 16px;
	font-weight: bold;
	margin-top: 5px;
}

.category_box .category_link {
	text-align: right;
	margin-top: 3px;
}
.category_link a {
	font-size: 11px;
	color: #c41010;
}


/*END CATEGORY*/

/*+++++++++++++++++++++++++++++++++++++++++++++*/

/*SEARCH HORiZONTAL  BOX*/

.search_horizontal{
	background-color: #FFF;
	background-image: url(../images/bg_horizontal_search.jpg);
	background-repeat: no-repeat;
	width: 739px;
	background-position: bottom;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
}

.box-search1, .box-search2, .box-search3 {
	float: left;
	width: 207px;
	margin-right: 10px;
}

.box-search4{
	float: left;
	width: 87px;
	background-position: bottom;
	vertical-align: bottom;
}
.box-search-header {
	background-image: url(../images/box-search-header.gif);
	height: 25px;
	text-indent: -9999px;
	background-repeat: no-repeat;
	padding-bottom: 10px;
}

.btn_search2 {
	background: url(../images/btn_search2.gif);
	height: 30px;
	width: 76px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 0px;
	line-height: 0px;
	text-indent: -9999px;
	cursor: pointer;
	display: block;
}
.btn_search2:hover {
	background-position: bottom;
}

.search_list_selectbox{
	width:194px; 
	overflow:hidden;
	
}

.search_list_inputbox{
	width:194px; 
	overflow:hidden;
	
}





/*END SEARCH HORIZONTAL  BOX*/

/*+++++++++++++++++++++++++++++++++++++++++++++*/



/*SEARCH RESULT*/
.search_result {
	margin-top: 10px;
}
.top_search_result {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	margin-bottom: 5px;
	padding-bottom: 3px;
}



.page_navi span.page_link_noaction {
    display: none;
}
.page_navi span {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #CCCCCC;
    border-color: #CCCCCC #CCCCCC #BBBBBB;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #666666;
    display: block;
    float: left;
    line-height: 20px;
    margin-left: 3px;
    margin-top: 3px;
    padding: 0 7px;
    text-decoration: none;
}
.page_navi a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #CCCCCC #CCCCCC #BBBBBB;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #666666;
    display: block;
    float: left;
    line-height: 20px;
    margin-left: 3px;
    margin-top: 3px;
    padding: 0 7px;
    text-decoration: none;
}
.page_navi a:hover {
    background: none repeat scroll 0 0 #CCCCCC;
}
.page_navi a:active {
    background: none repeat scroll 0 0 #CCCCCC;
}

.search_list{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background:#fffbef;
	border: 1px solid #e7dfc6;
	margin-top: 10px;
	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
	height:auto!important; 
	height:100px;          
	min-height:100px;    
}

.search_list_image {
	width: 230px;
	margin-right: 15px;
	float: left;
}
.search_list_info {
	float: left;
	width: 380px;
	margin-right: 10px;
	position: relative;
}

.search_list .description {
	margin-top: 3px;
}
.search_list .name {
	font-size: 14px;
}

.search_list .price {
	color: #c41010;
	font-size: 13px;
	font-weight: bold;
	margin-top: 10px;
}
.search_list .button {
	width: 91px;
	position: absolute;
	right: -110px;
	bottom: 0px;
}
.search_list .btn_detail {
	background-image: url(../images/btn_detail.gif);
	display: block;
	text-indent: -9999px;
	height: 23px;
	width: 91px;
}

.search_list .btn_review {
	background-image: url(../images/btn_review.gif);
	display: block;
	text-indent: -9999px;
	height: 23px;
	width: 91px;
}

.search_list .btn_detail:hover {
	background-position:bottom;

}

.search_list .btn_review:hover {
	background-position:bottom;

}



/*END SEARCH RESULT*/


/*PRODUCT DETAIL*/

.grey_box_top{
	background-image: url(../images/grey_box_top.gif);
	height: 10px;
	width: 769px;
}
.grey_box_bottom{
	background-image: url(../images/grey_box_bottom.gif);
	height: 10px;
	width: 769px;

}
.grey_box{
	background-image: url(../images/grey_box.gif);
	width: 749px;
	background-repeat: repeat-y;
	height:auto!important;
	height:50px;
	min-height:50px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.yellow_box_top{
	background-image: url(../images/yellow_box_top.gif);
	height: 10px;
	width: 769px;
}
.yellow_box_bottom{
	background-image: url(../images/yellow_box_bottom.gif);
	height: 10px;
	width: 769px;

}
.yellow_box{
	background-image: url(../images/yellow_box.gif);
	width: 749px;
	background-repeat: repeat-y;
	height:auto!important;
	height:50px;
	min-height:50px;
	padding: 10px;
}


.product_detail .price{
	color:#c41010;
	
}

/*END PRODUCT DETAIL*/

.schedule th  {
	background-color: #dcdcdc;
	border: 1px solid #cdcdcd;
	padding: 3px;
	
}
.schedule table {
	border-collapse:collapse;

}

.schedule td {
	border: 1px solid #cdcdcd;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #FFF;
}
.schedule .time {
	text-align: center;
	color: #1d3994;
}
.border_style1 {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #b0b0b0;
	margin-top: 15px;
}
