body {
	background:#FFF;
	
	
}
.main {
	min-width:950px;
	width:100%;
	margin:auto;
	background:#FFF;
	height:400px;
}
.header {
	height:60px;
	background:#C02727;
	line-height:50px;
	color:#FFF;
	font-weight:bold;
	font-size:20px;
	font-family:Verdana, Geneva, sans-serif;
	min-width:950px;
}
.sub_header{width:100%; margin:auto; position:relative; min-width:950px;}
.sub_header .header_logo{ padding-left:10px; background:url(../../images/logo.jpg) 10px 5px no-repeat; text-indent:-9999px;}

.content_box {
	width:400px;
	margin:auto;
	padding-top:10px;
	height:200px;
	position:relative;
}
h2 {
	font-size:18px;
	line-height:30px;
	font-weight:bold;
	width:400px;
	margin:auto;
	left:315px;
	padding:0px;
	margin:0px;
	color:#c02727;
	border-bottom:#CCC solid 1px;
}
.content {
	width:400px;
	margin:auto;
	margin-top:100px;
}
.content_text {
	position:relative;
	left:0px;
	width:400px;
	font-size:12px;
	line-height:14px;
	height:40px;
}
.content_group_box {
	width:400px;
	height:100px;
	position:relative;
	float:left;
}
#txt_inpuser {
	position:absolute;
	left:0px;
	top:10px;
}
.inp_user {
	position:absolute;
	left:150px;
	top:10px;
	display:block;
}
.w120 {
	width:120px;
	display:block;
	float:left;
}
.sig_up li {
	line-height:24px;
	height:24px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.btn_login {
	line-height:25px;
	height:25px;
	width:50px;
	display:block;
}
.login_footer {
	width:940px;
	margin:auto;
	font-size:12px;
	line-height:20px;
	padding-left:10px;
	color:#000;
}
.btn_login {
	color:#c02727;
	font-weight:bold;
	background:#FFF;
	border:#CCC solid 1px;
	cursor:pointer;
}
a{color:#666;}
a:hover{text-decoration:none;}
.txtinp{width:225px; line-height:12px; line-height:14px; margin-top:3px;}
.err_msg{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#C30; padding-top:10px;}
.footer{border-top:#CCC solid 1px;}