﻿*, input {
	margin:0px;
	padding:0px;
	
}

body{ height:61px; font-size:12px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
	
.main{width:972px; height:71px; margin:auto; position:relative;}
.box1024{width:950px; position:relative; margin:auto; }

.ptop10{padding-top:10px;}
/*.header {
	height:50px;
	background:#0078BF;
	line-height:50px;
	color:#FFF;
	font-weight:bold;
	font-size:20px;
	padding-left:0px;

}*/
.header {
	
	background:url(../../images/header.jpg) left 1px #9A0120 repeat-x;
	height:75px;
	-webkit-box-shadow: #666 0px 2px 2px;
	-moz-box-shadow: #666 0px 2px 2px;
	box-shadow: #666 0px 2px 2px;
	
}

.sub_header{
	background:url(../../images/logo.jpg) left 1px no-repeat;
	margin:auto;
	width:950px;
	height:75px;
	position:relative;
	text-indent:-9999px;
	/*-webkit-box-shadow: #666 0px 2px 0px;
	-moz-box-shadow: #666 0px 2px 0px;
	box-shadow: #666 0px 2px 0px;
	
	/*width:940px; padding-left:10px; margin:auto; position:relative;*/}
	
.menu{ border-bottom:#CDCDCD solid 1px; background-color:#F0F0F0; font-weight:bold; height:27px; margin-bottom:10px;}
.menu ul.sub1{ padding-left:10px; 
	          padding-right:10px; 
			  margin-top:1px; 
			  height:25px; 
			  text-align:center; 
			  float:left;
			  display:inline;
			  display:block;
			  cursor:default;
			  /*width:60px;  */
	          margin-left:1px; 
			  position:relative;}
.menu ul.sub1 li{padding-top:3px; height:24px; }
.menu ul.sub1:hover{ background-color:#CDCDCD; }

.menu ul li.menu_sub{position:absolute; left:0px; top:23px;}

.menu ul.sub2 li{background-color:#F0F0F0; border:#CDCDCD solid 1px; padding-left:5px; padding-right:5px; text-align:left;}
.menu ul.sub2 li:hover{background-color:#CDCDCD; border:#E1E1E1 solid 1px; }

.menu ul.sub3{ padding-left:10px; 
          	  padding-right:10px; 
			  margin-top:1px; 
			  height:25px; 
			  text-align:right; 
			  display:block; 
			  float:right; 
			  display:inline;
			  cursor:pointer;
			  margin-right:1px;
			  position:relative;
			  width:55px;}
.menu ul.sub3 img{position:absolute; left:10px;}
.menu ul.sub3 li{padding-top:3px; height:24px; }
.menu ul.sub3:hover{ background-color:#CDCDCD; }

.control{border:#CDCDCD solid 1px; height:65px; background-color:#F0F0F0; margin-bottom:10px; margin-left:10px; margin-right:10px; position:relative;}
.foter-control{border:#CDCDCD solid 1px; height:35px; background-color:#F0F0F0; margin-bottom:5px; margin-left:10px; margin-right:10px; position:relative;}


.control span.logo{
	width:600px;
	height:65px;
	line-height:65px;
	position:absolute;
	left:6px;
	top:0px;
	background:url(../../images/btn/table.png) left no-repeat;
	padding-left:55px;
	color:#1255C4;
	font-weight:bold;
	font-size:24px;
}
.control span.logo img{float:left; display:inline; margin-top:5px; }
.control span.logo b{  font-size:26px; font-weight:bold; color:#1255C4; display:block;}



ul.breadcamp{background:#F0F0F0; line-height:20px; height:20px; border-top:#CDCDCD solid 1px;  border-left:#CDCDCD solid 1px; border-right:#CDCDCD solid 1px; margin-left:10px; margin-right:10px; font-size:12px; line-height:20px; }
ul.breadcamp li{ padding-left:10px;  display:block; float:left; line-height:20px; color:#000;}
ul.breadcamp li a{padding-right:10px; color:#1255C4; text-decoration:none;}

ul.fillter{background:#F0F0F0; line-height:25px; height:25px; border:#CDCDCD solid 1px; margin-left:10px; margin-right:10px; margin-bottom:10px; font-size:12px;  }
ul.fillter li{padding-left:10px; display:block; float:left; line-height:25px; color:#000;}
ul.fillter li select{width:150px; line-height:25px; border:#999 solid 1px;}

.filter_option{background:#F0F0F0; line-height:25px; height:50px; width:908px;
border:#CDCDCD solid 1px; margin-left:10px; margin-right:10px; margin-top:10px;  font-size:12px;}


.data{border:#CDCDCD solid 1px;  margin-bottom:10px; margin-left:10px; margin-right:10px; color:#000;}
.data a{color:#000;}

.menu_tittle{height:48px; float:left; display:inline;}
.menu_tittle span.texttittle{height:48px; text-align:left; float:left; display:inline;}

.data .fillter{margin-left:10px; margin-right:10px; margin-top:10px;}
.data .table{margin:10px 10px 0px 10px ;}
.data .table{background:#CDCDCD;}
.data .table table th{background-color:#F0F0F0; padding:5px 5px 5px 5px; font-weight:normal;}
.data .table table th.tittle{color:#1255C4; font-weight:bold;}
.data .table table td{background-color:#FFF; font-weight:normal; padding:5px 5px 5px 5px;}
.data .table table td.odd{/* background:#FAFAFA;*/ background:#F5F5F5; font-weight:normal; padding:5px 5px 5px 5px;}
.data .table table td.sub{ background:#FFC; font-weight:normal; padding:5px 5px 5px 5px;}

.data .table table td a{text-decoration:none;}
/*.data .table table td a:hover{text-decoration:underline;}*/
.data .table table td.c2{background-color:#F9F9F9;}
.footer{height:20px; font-size:10px; color:#666; text-align:right; padding-right:10px;}

.data .input_desc{margin:10px; padding:3px; background-color:#F0F0F0; float:left; width:900px; font-size:12px; line-height:20px;}
.data .input_desc div{display:block; height:30px; line-height:30px;}
.data .input_desc span.tittle1{width:50px;  display:block; float:left;}
.data .input_desc span.tittle2{width:530px; display:block;}

.data .input_desc span.tittle3{width:110px; padding-left:5px;  display:block; float:left;}
.data .input_desc span.tittle4{width:490px; display:block; float:left; height:30px; line-height:30px;}
.data .input_desc span.tittle4box{width:490px; display:block; float:left; height:117px; line-height:30px;}

.data .input_desc div.tittle3{width:90px;  float:left; display:inline; height:207px;}
.data .input_desc div.tittle4{width:490px; float:left; display:inline; height:207px;}

.data .input_desc input.input_txt_tittle{width:473px; height:14px; }

.data .input_desc2{ width:360px; display:block; float:left; background-color:#F0F0F0; margin:10px 10px 10px 0px; display:none;}

.data .number{line-height:40px; font-weight:bold;}

.data .input_textarea{margin-left:10px; margin-right:10px; margin-bottom:10px; background-color:#F0F0F0; padding-left:5px; padding-bottom:5px;  }

/*.data .input_desc textarea{margin-bottom:5px; margin-left:5px; text-align:left;}*/

li{list-style:none;}


.page_num{padding:5px 5px 0 0; float:right;}
.page_num img{float:left; border:none;}
.page_num img.btn_prv{ padding:0 5px 0px 1px;}
.page_num img.btn_next{padding:0 1px 0px 5px;}
.page_num span{
	float:left;
	text-align:center;
	display:block; 
	padding:0 5px 0 5px;
}
.page_num span.unlink{
	color:#ff8400;
	display:block;
	float:left;
	text-align:center;
	font-weight:bold;
	padding:0 5px 0 5px;
}
.page_num span a:link, .page_num span a:visited{font-weight:bold; color:#696969; text-decoration:none; width:200px; }
.page_num span a:hover{font-weight:bold; color:#ff7a7b; text-decoration:none;}
	
.page_num a:link, .page_num a:visited{color:#666; text-decoration:none;}
.page_num a:hover{color:#222; text-decoration:underline;}
		
.clear{clear:both;}	



.control .panel_btn{float:right; display:inline;  width:231px; padding-top:7px;}
.control .panel_btn2{float:right; display:inline; width:121px; padding-top:7px;}
.control .panel_btn1{float:right; display:inline; width:66px; padding-top:7px;}

.control .btn{ width:50px; height:50px; display:block; float:left; position:relative; cursor:pointer; margin-left:5px;  }	
	
.control .btn b{display:block; font-size:10px; position:absolute; width:50px; bottom:2px; text-align:center; font-weight:normal;}

#btn_new{background:url(../../images/btn/btn_new.jpg) center top no-repeat; }
#btn_new:hover{background:url(../../images/btn/btn_new_on.jpg) center top no-repeat;}

#btn_active{background:url(../../images/btn/btn_apply.jpg) center top no-repeat;}
#btn_active:hover{background:url(../../images/btn/btn_apply_on.jpg) center top no-repeat;}

#btn_unactive{background:url(../../images/btn/btn_unapply.jpg) center top no-repeat; }
#btn_unactive:hover{background:url(../../images/btn/btn_unapply_on.jpg) center top no-repeat;}

#btn_edit{background:url(../../images/btn/btn_edit.jpg) center top no-repeat; }
#btn_edit:hover{background:url(../../images/btn/btn_edit_on.jpg) center top no-repeat; }

#btn_delete{background:url(../../images/btn/btn_del.jpg) center top no-repeat; }
#btn_delete:hover{background:url(../../images/btn/btn_del_on.jpg) center top no-repeat; }

#btn_save{background:url(../../images/btn/btn_save.jpg) center top no-repeat; }
#btn_save:hover{background:url(../../images/btn/btn_save_on.jpg) center top no-repeat; }

#btn_restore{background:url(../../images/btn/btn_restore.jpg) center top no-repeat;}
#btn_restore:hover{background:url(../../images/btn/btn_restore_on.jpg) center top no-repeat;}

#btn_close{background:url(../../images/btn/btn_close.jpg) center top no-repeat; }
#btn_close:hover{background:url(../../images/btn/btn_close_on.jpg) center top no-repeat; }

#btn_close_index{background:url(../../images/btn/btn_close.jpg) center top no-repeat; }
#btn_close_index:hover{background:url(../../images/btn/btn_close_on.jpg) center top no-repeat; }

#btn_close_cc{background:url(../../images/btn/btn_close.jpg) center top no-repeat; }
#btn_close_cc:hover{background:url(../../images/btn/btn_close_on.jpg) center top no-repeat; }

.page_navi a,.page_navi span{margin-right:5px; color:#000;}
.page_navi strong{font-weight:normal;}

.page_navi{font-size:12px; font-weight:normal; padding-left:10px; }
.page_navi .page_nonelink{border:#CDCDCD solid 1px; padding:3px 10px 3px 10px; color:#000; background:#F0F0F0; }

.page_navi .page_link,.page_link_noaction{border:#CDCDCD solid 1px; padding:3px 10px 3px 10px;  text-decoration:none; color:#1255C4; }
.page_navi .page_link:hover{background:#F0F0F0;  text-decoration:none; }

.table_data{font-size:12px; line-height:14px; font-weight:normal;}
.table_data select,.table_data input,.table_data option,.table_data textarea{font-size:12px; line-height:14px; padding:1px;}
.h5{ height:10px; }

.bg_approve{background:url(../../images/btn/td_apply.gif) center top no-repeat; width:24px; height:17px;}
.bg_noneapprove{background:url(../../images/btn/td_not_apply.jpg) center top no-repeat; width:24px; height:17px;}

.bg_insert{background:url(../../images/btn/td_insert.jpg) left top no-repeat; width:24px; height:17px;}
.bg_edit{background:url(../../images/btn/td_edit.jpg) left top no-repeat; width:24px; height:17px;}
.bg_delete{background:url(../../images/btn/td_delete.jpg) left top no-repeat; width:24px; height:17px;}

.w300{width:600px;}
.inp_width{width:600px;}


.d_hide{display:none;}

.tb_toggle{background:url(../../images/btn/format-indent-more.jpg) center no-repeat; text-indent:-9999px; cursor:pointer;}
.tb_toggle_sub{background:url(../../images/btn/arrow-turn-000-left.jpg) center no-repeat;  text-indent:-9999px;}
.last_sub td{border-bottom:#999 dashed 1px;}

.logout{position:absolute; right:15px; top:5px; text-indent:0px;height:70px; width:150px; color:#FFF; text-align:right;}
.logout a{ line-height:24px;width:45px; height:26px; color:#FFF; font-size:12px; text-decoration:underline; font-weight:normal;}
.logout a:hover{text-decoration:none;}

.btnlogname { position:absolute; right:15px; top:30px;  padding-left:26px; width:150px; height:26px; display:block; color:#FFF; font-size:12px; }

#id_cal{ cursor:pointer;}
.p_ddpicker{position:relative;}
.p_ddpicker #id_calendar_mas{ position:absolute; right:10px; top:0px; background:#FFF;}

#id_calendar_mas{padding:1px; border:#CDCDCD solid 1px; width:200px;}
#id_calendar_mas select{border:#CDCDCD solid 1px;}

#id_calendar_sub1{background:#CDCDCD; padding:0px; margin:0px;  font-size:12px; font-family:Arial, Helvetica, sans-serif;}
#id_calendar_sub1 tr{padding:0px; margin:0px;}
#id_calendar_sub1 th{color:#FFF; font-weight:bold; text-align:center; background:#666;}
#id_calendar_sub1 td{background-color:#FFF; text-align:center; }
#id_calendar_sub1 td.cal_date{cursor:pointer;}
#id_calendar_sub1 td.cal_date:hover{background:#B3BBD0;}

#id_calendar_sub1 .now_date{color:#1255C4;}

.article_icon{background:url(../../images/btn/gnome-mime-application-xhtml+xml.png) left top no-repeat; line-height:48px; height:48px; display:block; padding-left:52px; color:#000;}

.config_icon{background:url(../../images/btn/text-x-makefile.png) left top no-repeat; line-height:48px; height:48px; display:block; padding-left:52px; color:#000;}

.gchk_box li{width:100px; float:left;}

.hidden{display:none;}


/* ddediter */
.jed_ddedit .w533{width:533px;}
.jed_ddedit .box_533{width:533px; height:400px; overflow:auto; border-bottom:#666 solid 1px; }
.jed_ddedit .img_pocket{display: table; position:relative;  }
.jed_ddedit .img_pocket li{display:table-cell; 
width:115px; height:125px; display:block; 
padding:10px 5px 5px 5px; float:left;  
vertical-align:middle; text-align:center; overflow:hidden;}
.jed_ddedit .img_pocket li{cursor:pointer;}
.jed_ddedit .img_pocket li:hover{background:#CEE7FF;}
.jed_ddedit .img_pocket li.hover{background:#6FB7FF;}
.jed_ddedit .img_pocket li.hover:hover{background:#6FB7FF;}
.jed_ddedit .img_pocket li span{height:20px; margin:auto; display:block; line-height:20px; font-size:12px;}

.jed_ddedit .inport_link{width:533px;}


.jed_ddedit{width:533px; height:500px; position:absolute; left:10px; top:10px; border:#666 solid 1px; background:#FFF;}
.jed_ddedit table{padding-left:5px; padding-top:5px;}
/* ddediter */

.box_close{ background:url(../../images/btn/box_close.jpg) left top; width:16px; height:16px; display:block; right:5px; bottom:5px; position:absolute;
cursor:pointer;}


.btn_insertimg{text-decoration:underline; cursor:pointer;}
.btn_insertimg:hover{text-decoration:none;}
.jed_ddedit{display:none;}

table tr td a.btn-normal{background:#EEE; border:#BBB solid 1px; display:block; line-height:22px; margin:3px; 
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;}
table tr td a.btn-normal:hover{background:#DDD; text-decoration:none; clear:both; }
table tr td a.btn-normal:active{text-decoration:none;}


/* ddediter */

.box_close{ background:url(../../images/btn/box_close.jpg) left top; width:16px; height:16px; display:block; right:5px; bottom:5px; position:absolute;
cursor:pointer;}


.btn_insertimg1,.btn_insertimg2
{cursor:pointer; background:url(../../images/btn/picture.png) 0px -4px no-repeat #F0F0F0; line-height:26px; height:26px; 
border:#CCC solid 1px; width:80px; padding-left:37px; display:block;}


.btn_insertimg1:hover,.btn_insertimg2:hover
{cursor:pointer; background:url(../../images/btn/picture.png) 0px -4px no-repeat #DFDFDF;}
/* ddediter */

.box_close{ background:url(../../images/btn/box_close.jpg) left top; width:16px; height:16px; display:block; right:5px; bottom:5px; position:absolute;
cursor:pointer;}


.btn_insertimg{text-decoration:underline; cursor:pointer;}
.btn_insertimg:hover{text-decoration:none;}


.jed_ddedit{display:none;}


.tab-menu li{ padding:3px 10px 3px 10px; float:left; border-top:#CCC solid 1px;  border-right:#CCC solid 1px; background:#F0F0F0; cursor:pointer;}
.tab-menu li.first{ border-left:#CCC solid 1px; 
-webkit-border-top-left-radius: 4px;
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
}

.tab-menu li.last{ 
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
}

.tab-menu li.active{ background:#CBCBCB;}

.tab1,.tab2,.tab3{border:#CCC solid 1px; padding:10px; clear:both;}

.sub-table-header{ display:block; padding-bottom:5px; padding-top:5px;}

.table-content td{padding:0px; margin:0px;}
.table-content td input{padding:0px; margin:0px;}

.table-content .left{padding-left:0px;}
.table-content .right input{width:350px;}
.add-more{ padding-left:445px;}
.add-more input{border:none; 
background:#F0F0F0; 
padding:3px 10px 3px 10px; 
border:#ccc solid 1px; 
cursor:pointer; 
color:#333;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;}

.add-more input:hover {
  background-position: 0 -15px;
  color: #333;
  background:#DDD;
  text-decoration: none;
}
.add-more input:focus {
  outline: 1px dotted #666;
}

.inp_cx{width:100px;}
.inp_cx01{width:50px;}
.inp_cx02{width:100px;}
.inp_cx0{width:110px;}
.inp_cx1{width:180px;}
.inp_cx2{width:225px;}
.inp_cx3{width:400px;}
.inp_cx4{width:500px;}

.table_data th{ margin-top:10px;}
.select-radio-list li{line-height:12px;}
.select-radio-list li input[type=radio]{ 
  padding: 0;

  margin: 3px 0;
  *margin-top: 0;
  /* IE6-7 */
  line-height: normal;
  border: none;}

.select-radio-list li label{ line-height:10px; padding-top:5px;}

.height5{height:5px; line-height:5px; font-size:5px; display:block; background:#FFF;}
.height10{height:10px; line-height:10px; font-size:10px; display:block; background:#FFF;}

.button{border:none; 
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background:#F0F0F0; padding:3px 10px 3px 10px; border:#ccc solid 1px; cursor:pointer; color:#333;
min-width:60px;
min-height:20px;
line-height:26px;}

.button:hover {
  background:#DDD;
  color: #333;
  text-decoration: none;
}

.btn_insertimg1{
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}


.foter-control #btn_save2{border:none; 
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background:url(../../images/document-save.gif) 5px 1px no-repeat #F0F0F0 ; 
padding:3px 10px 3px 28px; 
border:#ccc solid 1px; 
cursor:pointer; color:#333; 
float:right; margin-top:5px;
margin-right:5px;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);

}


.foter-control #btn_save2:hover {
  background:url(../../images/document-save.gif) 5px 1px no-repeat #DDD ; 
  color: #333;
  text-decoration: none;

}

.foter-control #btn_close2{border:none; 
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background:url(../../images/close.gif) 5px 1px no-repeat #F0F0F0 ; 
padding:3px 10px 3px 28px; 
border:#ccc solid 1px; 
cursor:pointer; color:#333; 
float:right; margin-top:5px;
margin-right:10px; 
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.foter-control #btn_close2:hover {
  background:url(../../images/close.gif)  5px 1px no-repeat #DDD ; 
  color: #333;

}

.list-style1 li{ border-bottom: #666 dotted 1px; width:570px; margin-bottom:3px; padding-bottom:3px; }

.boxreview{ width:764px; display:block;}
.boxreview ul li{width:190px; padding-top:3px; padding-bottom:3px; float:left;  border-bottom: #666 dotted 1px;  }
.boxreview ul li:hover{background:#CCC; cursor:pointer;}
.boxreview ul li img{margin:auto; display:block;}
.boxreview ul li .text{width:180px; display:block; margin:auto; padding-bottom:5px;}


.img_label{width:70px; float:left;}

.boxinsert_img{ border:#CCC solid 1px; padding:5px 5px 10px 5px; width:570px; }

.btn-search{border:none; 
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
background-color: #e6e6e6;
background-repeat: no-repeat;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
padding:3px 10px 3px 10px; border:#ccc solid 1px; cursor:pointer; color:#333;
min-width:60px;
min-height:20px;
line-height:26px;}

.btn-search:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}

.btn-search:active{
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.msg-error{padding-left:10px; color:#C00;}
.msg-req{padding-left:10px; color:#C00;}
.comment-req{padding-left:5px; padding-top:5px;}

.admin_menulist{
	line-height:20px;
	color:#000;
	
}
.admin_menulist1 a{
	color:#000;
	
}

.admin_menulist1 li{ 
	background-image: url(../../images/arrow.png);
	background-repeat: no-repeat;
	background-position:0 5px;
	padding-left: 15px;
	line-height:25px;
	color:#000;
		
}

.admin_menulist li a:hover{
	color:#000;
	text-decoration:none;
		
}


