<? 

if ($data[refp] == 'noitem'){ ?>
<div class="magin_top5"></div>
<a href="./customer_info_list.php"><div id="btn_back_to_list_active"></div></a> 
<? }
else{
?>
<div class="magin_top5"></div>
<a href="./customer_info_list.php"><div id="btn_back_to_list_active"></div></a> 
<a href="./customer_edit.php?b_id=<? echo $data[b_id]; ?>"><div id="btn_edit_active"></div></a>
<a href="./update_status.php?b_id=<? echo $data[b_id] ?>&amp;status_cms=0"><div id="btn_request_active"></div></a>

<a href="./customer_mail.php?b_id=<? echo $data[b_id]; ?>&amp;mail_id=1"><div id="btn_mail_to_customer_active"></div></a>
<a href="./voucher.php?b_id=<? echo $data[b_id]; ?>&amp;pdf_type=download"><div id="btn_making_voucher_active"></div></a>
<a href="./voucher.php?b_id=<? echo $data[b_id]; ?>&amp;pdf_type=print" target="_blank"><div id="btn_print_out_active"></div></a>
<? } ?>
