
<?
	$_url = $_SERVER['REQUEST_URI'];
    //echo "url=".$_url;
    
    $str = str_replace("order_info_list.php", "", "$_url", $count);
    $str2 = str_replace("customer_info_list.php", "", "$_url", $count2);    
	//echo $count.' / '.$count2;
    
    if($count == 0 && $count2 == 0){
		unset($_SESSION["session_start_date"]);
		unset($_SESSION["session_end_date"]);
		unset($_SESSION["session_c_keyword"]);
		unset($_SESSION["session_c_status"]);
		unset($_SESSION["session_order_status"]);
		unset($_SESSION["session_product_type"]);
    }

?>

<div class="body">
  <div class="main">
    <div class="main">
 
        <div class="header" >
            <div class="sub_header">
                <div class="logout"><p><a href="logout.php" class="btnlogout">Logout</a></p> 
                    <p>User : <? echo $_SESSION["session_name"]  ; ?> Level : <? echo $_SESSION["session_level_name"]  ; ?></p>
                </div>
             
            </div>  
        </div>







 