
<div class="magin_top5"></div>
 <a href="./order_info_list.php"><div id="btn_back_to_list_active"></div></a>  
 <a href="./order_mail.php?b_id=<? echo $data[b_id] ?>&amp;mail_id=3"><div id="btn_mail_to_customer_active"></div></a>

 