<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Refresh" CONTENT="1; URL=./customer_detail.php?type=<? echo $data[type]; ?>&id=<? echo $data[b_id]; ?>" />

<title>Customer information Detail -<? echo $data[type]; ?>-</title>
<link rel="stylesheet" type="text/css" media="screen,projection" href="./common/css2/base.css">

</head>
<body>
<!--header inclu6de-->
<? include("header.tpl"); ?>

     <!-- start breadcrumb -->
   	  <ul class="breadcamp">
      <li class="home"><a href="./">HOME</a>   >  <a href="./customer_info_list.php">Customer information list</a>   > <a href="./customer_detail.php?type=<? echo $data[type]; ?>&id=<? echo $data[b_id]; ?>">Detail-<? echo $data[type]; ?></a> > Order <? echo $data[b_id]; ?></li></ul>
 
 <div class="line"><img src="common/images/line.jpg" width="994" height="4" /></div>
 
 <!--start content-->
 <div class="content">
 <div class="sub_head">
    	<ul class="order">
    	<li class="icon_order">Customer Detail</li>
    	</ul>
        
        <p><? echo $data[c_result]; ?></p>

 </div>
 
 </div>
 <!--end content-->
    
    </div>
  </div>
    

<? include("footer.tpl"); ?>
</body>

</html>
