<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Admin ID.Pass Delete Check</title>
<LINK rel="stylesheet" type="text/css" media="screen,projection" href="./common/css2/base.css">
<LINK REL="SHORTCUT ICON" HREF="./ppp.icon"> 
</head>

<body>
<!--header include-->
<? include("header.tpl"); ?>

     <!-- start breadcrumb -->
   	  <ul class="breadcamp">
      <li class="home"><a href="./">HOME</a></ul>
 <!-- end breadcrumb -->  
 
 <div class="line"><img src="common/images/line.jpg" width="994" height="4" /></div>
 

 <!--start content-->
 <div class="content">

		!! Sorry.. Data Error
   
 </div>
 <!--end content-->
    </div>
  </div>

<? include("footer.tpl"); ?>

</body>

</html>
