<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Administrator ID.Pass Register</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--<meta HTTP-EQUIV="Refresh" CONTENT="1; URL=<? echo $data['return_file']; ?>" />-->
<link rel="stylesheet" type="text/css" media="screen,projection" href="./common/css2/base.css" /> 

<script type="text/javascript">
	
	<?php 
	
		$path_url = 'http://'.$_SERVER[SERVER_NAME].$_SERVER[REQUEST_URI];
			
		echo $path_url =str_replace("$data[submit_file]","$data[return_file]",$path_url);
		
	?>
	
	//document.location.href ='<?php echo $path_url; ?>';	
	setTimeout("document.location.href ='<?php echo $path_url; ?>';",1500);	

</script>

</head>
<body>
<!--header include-->
<? include("header.tpl"); ?>
     <!-- start breadcrumb -->
   	  <ul class="breadcamp">
      	<li class="home"><a href="./">HOME</a> &gt; <a href="./"><? echo $data[menu2]; ?></a></li>
      </ul>
 <!-- end breadcrumb -->  
 
 <div class="line"><img src="./common/images/line.jpg" width="994" height="4" /></div>
 
 <!--start content-->
 <div class="content">
  <div class="sub_head">
    	<ul class="head_admin">
    	<li class="icon_admin"><? echo $data[menu2]; ?></li>
    	</ul>		
        <p style="padding-left:400px;"><? echo $data[c_result]; ?></p>
   </div>       
 </div>
 
 <!--end content-->
    </div>
  </div>

<? include("footer.tpl"); ?>
</body>

</html>
